<%= form_with(model: credit_limit, local: true, url: url,
  html: { class: "m-form m-form--state m-form--fit", id: "new_credit_limit_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if credit_limit.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if credit_limit.errors.any? %>
              <ul>
              <% credit_limit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-12">
          <%= form.label :credit_limit, "* Credit limit:", class: 'form-control-label' %>
          <%= form.text_field :credit_limit, id: :credit_limit, class: 'form-control m-input currency text-align-left', placeholder: 'Credit limit' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-6">
          <%= form.label :increments, "* Increments:", class: 'form-control-label' %>
          <%= form.text_field :increments, id: :increments, class: 'form-control m-input currency text-align-left', placeholder: 'Increments' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-6">
          <%
            market_segments_options = []
            market_segments_options << [ "All", "All" ]

            MarketSegment.all.each do |market_segment|
              market_segments_options << [ market_segment[:name], market_segment[:id] ]
            end

            selected_market_segment = credit_limit[:market_segment_id] if !credit_limit[:is_all_market_segments]
            selected_market_segment = "All" if credit_limit[:is_all_market_segments]
          %>

          <%= form.label :market_segment_id, "* Market Segments:", class: 'form-control-label' %>
          <%= form.select(:market_segment_id,
                        options_for_select(market_segments_options, selected: selected_market_segment), {},
                        { class: 'form-control m-input m-select2', id: "market_segments_select" }) %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-6">
          <%
            trading_terms_options = []
            trading_terms_options << [ "All", "All" ]

            trading_terms_settings.each do |trading_term|
              trading_terms_options << [ trading_term[:trading_term], trading_term[:id] ]
            end

            selected_trading_term = credit_limit[:trading_terms_setting_id] if !credit_limit[:is_all_trading_terms]
            selected_trading_term = "All" if credit_limit[:is_all_trading_terms]
          %>

          <%= form.label :trading_terms_setting_id, "* Trading Terms:", class: 'form-control-label' %>
          <%= form.select(:trading_terms_setting_id,
                        options_for_select(trading_terms_options, selected: selected_trading_term), {},
                        { class: 'custom-select m-input form-control', id: "trading_terms_select" }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-brand">
            Save
          </button>
          <a href="<%= admin_credit_limits_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
