<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-coins"></i>
        </span>
        <h3 class="m-portlet__head-text">
          List of Credit Limits (AUD)
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1"> <!--
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a href="<%= new_admin_credit_limit_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air" >
            <span>
              <i class="la la-plus"></i>
              <span>New Credit Limit</span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable text-center" id="credit_limits_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="Credit Limit">Credit Limit</th>
          <th title="Increments">Increments</th>
          <th title="Market Segment">Market Segment</th>
          <th title="Trading Term">Trading Term</th>
          <th title="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @credit_limits.each_with_index do |credit_limit, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= number_to_currency(credit_limit[:credit_limit], unit: "", separator: ".", delimiter: ",", precision: 0) %></td>
            <td><%= number_to_currency(credit_limit[:increments], unit: "", separator: ".", delimiter: ",", precision: 0) %></td>
            <td>
              <%= credit_limit[:is_all_market_segments] ? "All" : credit_limit.market_segment[:name] %>
            </td>
            <td>
              <%= credit_limit[:is_all_trading_terms] ? "All" : credit_limit.trading_terms_setting[:trading_term] %>
            </td>
            <td>
              <a href="<%= edit_admin_credit_limit_path(credit_limit) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
                <i class="la la-edit"></i>
              </a>
              <a href="<%= admin_credit_limit_path(credit_limit[:id]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                <i class="la la-trash"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
