<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          New Credit Limit
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <%= render 'form', credit_limit: @credit_limit, url: admin_credit_limits_path, trading_terms_settings: @trading_terms_settings %>
  </div>
</div>
