<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-7"></i>
        </span>
        <h3 class="m-portlet__head-text">
          List of Market Segments
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1"> <!--
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a href="<%= new_admin_market_segment_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
            <span>
              <i class="la la-plus"></i>
              <span>New Market Segment</span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable text-center" id="market_segments_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="Market Segment">Market Segment</th>
          <th title="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @market_segments.each_with_index do |market_segment, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= market_segment[:name] %></td>
            <td>
              <a href="<%= edit_admin_market_segment_path(market_segment) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
                <i class="la la-edit"></i>
              </a>
              <a href="<%= admin_market_segment_path(market_segment[:id]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                <i class="la la-trash"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
