<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
      <div class="m-grid__item m-grid__item--fluid  m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="<%= root_path %>">
              <img src="<%= asset_path('pencil-logo.png') %>" alt="logo" height="65">
            </a>
          </div>
          <div class="m-login__signin">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Change Your Password
              </h3>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :put,
              html: { method: :put, class: "m-login__form m-form" }) do |f| %>
              <div class="alert alert-success" role="alert"><%= notice %></div>
              <div class="alert alert-danger" role="alert"><%= devise_error_messages! %></div>
              <%= f.hidden_field :reset_password_token %>
              <div class="form-group m-form__group">
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control m-input', placeholder: "Password" %>
              </div>
              <div class="form-group m-form__group">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control m-input m-login__form-input--last', placeholder: "Confirm Password" %>
              </div>
              <div class="m-login__form-action">
                <%= f.submit "Change my password", class: 'btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary', id: "m_login_signin_submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
