<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
      <div class="m-grid__item m-grid__item--fluid  m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="<%= root_path %>">
              <img src="<%= asset_path('pencil-logo.png') %>" alt="logo" height="65">
            </a>
          </div>
          <div class="m-login__forget-password">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Forgotten Password ?
              </h3>
              <div class="m-login__desc">
                Enter your email to reset your password:
              </div>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name),
              html: { method: :post, class: "m-login__form m-form" }) do |f| %>
              <div class="alert alert-success" role="alert"><%= notice %></div>
              <div class="alert alert-danger" role="alert"><%= devise_error_messages! %></div>
              <div class="form-group m-form__group">
                <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control m-input',
                  id: "m_email", autocomplete: "off" %>
              </div>
              <div class="m-login__form-action">
                <%= f.submit "Request",
                  class: 'btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr',
                  id: "m_login_forget_password_submit" %>
                &nbsp;&nbsp;
                <a href="<%= new_user_session_path %>" id="m_login_forget_password_cancel"
                  class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                  Cancel
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
