<%= form_for(user, url: url, html: { multipart: true, class: "m-form m-form--fit m-form--label-align-right", id: 'update-avatar-form' }, method: :post) do |f| %>
  <div class="m-portlet__body">
    <div class="form-group m-form__group row">
      <div class="col-12">
        <h3 class="m-form__section">1. Upload Avatar</h3>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <%= f.label :avatar, class: "col-2 col-form-label" %>
      <div class="custom-file col-7">
        <div style="position: relative;">
          <%= f.file_field :avatar, class: "custom-file-input" %>
          <label class="custom-file-label" for="user[avatar]">
            Choose a image file
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-7">
          <%= f.submit "Upload", class: "btn btn-brand m-btn m-btn--air m-btn--custom" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if user.avatar.present? %>
  <div class="m-form">
    <div class="m-form__seperator m-form__seperator--dashed"></div>
  </div>

  <%= form_for(user, url: url, html: { multipart: true, class: "m-form m-form--fit m-form--label-align-right", id: 'crop-form' }, method: :post) do |f| %>
    <div class="m-portlet__body">
      <div class="form-group m-form__group row">
        <div class="col-12">
          <h3 class="m-form__section">2. Crop image</h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= label_tag 'Image', nil, class: "col-2 col-form-label" %>
        <div class="col-7">
          <%= image_tag user.default_avatar, id: 'cropbox' %>
          <%= hidden_field_tag 'avatar_width', user.avatar_geometry.width %>
          <%= hidden_field_tag 'avatar_height', user.avatar_geometry.height %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= label_tag 'Preview', nil, class: "col-2 col-form-label" %>
        <div class="col-7">
          <div class="jcrop-preview m--img-rounded m--marginless">
            <%= image_tag user.default_avatar, id: 'preview' %>
          </div>
          <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
            <%= f.hidden_field attribute, :id => attribute %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
      <div class="m-form__actions">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-7">
            <%= f.submit "Crop", class: "btn btn-brand m-btn m-btn--air m-btn--custom" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
