<!--begin::Confirmation Modal-->
<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
          <%= title %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-remove"></span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-align-center"><%= content %></p>
      </div>
      <div class="modal-footer">
        <a href="<%= url %>" class="btn btn-brand m-btn">
          Confirm
        </a>
        <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!--end::Confirmation Modal-->
