<%= form_with(model: email_template, local: true, url: url,
  html: { class: "m-form m-form--state m-form--fit", id: "new_email_template_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if email_template.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if email_template.errors.any? %>
              <ul>
              <% email_template.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :name, "* Name:", class: 'form-control-label' %>
          <%= form.text_field :name, id: :name, class: 'form-control m-input', placeholder: 'Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :subject, "* Subject:", class: 'form-control-label' %>
          <%= form.text_field :subject, id: :subject, class: 'form-control m-input', placeholder: 'Subject' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :category, "* Category:", class: 'form-control-label' %>
          <%= form.select :category,
            options_for_select(EmailTemplate::CATEGORY.map { |obj| [obj[:name], obj[:value]] }, email_template[:category]), {},
            { class: 'form-control m-input' } %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <label class="form-control-label">
            * Active:
          </label>
          <div class="m-checkbox-list">
            <label class="m-checkbox">
              <%= form.check_box :active, id: :active, class: "checkbox" %>
              Active
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :plain_content, "* Plain content:", class: 'form-control-label' %>
          <%= form.text_area :plain_content, id: :plain_content, class: "form-control m-input", rows: 10 %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :html_content, "* Html content:", class: 'form-control-label' %>
          <%= form.hidden_field :html_content, id: :html_content, class: "html_content" %>
          <div class="html_content_editor summernote" id="html_content_editor">
            <% if form.object.html_content.present? %>
              <%= form.object.html_content.html_safe %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-brand">
            Save
          </button>
          <a href="<%= admin_email_templates_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
