<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-layers"></i>
        </span>
        <h3 class="m-portlet__head-text">
          List of Email Templates
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a href="<%= new_admin_email_template_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
            <span>
              <i class="la la-plus"></i>
              <span>New Email Template</span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable text-center" id="email_templates_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="Name">Name</th>
          <th title="Subject">Subject</th>
          <th title="Category">Category</th>
          <th title="Active">Active</th>
          <th title="Created By">Created By</th>
          <th title="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @email_templates.each_with_index do |email_template, index| %>
          <%
            if email_template[:active]
              active_class = 'm-badge m-badge--success m-badge--wide'
            else
              active_class = 'm-badge m-badge--danger m-badge--wide'
            end
          %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= email_template[:name] %></td>
            <td><%= email_template[:subject] %></td>
            <td><%= email_template[:category] %></td>
            <td>
              <% if email_template[:active] %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-check"></i>
                </span>
              <% else %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-remove"></i>
                </span>
              <% end %>
            </td>
            <td><%= email_template.created_by[:email] %></td>
            <td>
              <a href="<%= edit_admin_email_template_path(email_template) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                title="Edit details">
                <i class="la la-edit"></i>
              </a>
              <a href="<%= admin_email_template_path(email_template[:id]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                <i class="la la-trash"></i>
              </a>
            </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
