<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          New Email Template
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <%= render 'form', email_template: @email_template, url: admin_email_templates_path %>
  </div>
</div>