<div class="submit_signature_wrapper">
  <input type="hidden" name="form_token" value="<%= params['token'] %>">
  <div class="form-group m-form__group m-portlet__foot">
    <div class="m-form__group-sub">
      <label for="form_token" class='form-control-label font-weight-bold'>Sign here</label>
      <div class="signature-pad-wrapper">
        <canvas id="signature-pad" class="signature-pad" width="400" height="200"></canvas>
      </div>
      <div class="d-flex-row-space-between mt-3">
        <button id="clear-signature" class="btn btn-brand pencil-btn-brand clear-signature" type="button">
          Clear Signature & Redo
        </button>
        <a href="#" class="btn btn-success submit-signature" data-wizard-action="submit-signature">
          Submit Signature
        </a>
      </div>
    </div>
  </div>

  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions"> <!--
      <div class="row">
        <div class="col-lg-8 m--align-right">
          <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="submit-signature">
            <span>
              <span>
                Submit Signature
              </span>
              &nbsp;&nbsp;
              <i class="la la-arrow-right"></i>
            </span>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>
