<div class="m-wizard__form-step" id="m_wizard_form_step_3">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Company</h3>
  </div>
  <div class="form-group m-form__group row align-items-end">
    <div class="col-lg-8 m-form__group-sub">
      <%= f.label :company_abn, "* Company ABN", class: 'form-control-label font-weight-bold' %>
      <div class="input-group">
        <%= f.text_field :company_abn, id: :company_abn, class: 'form-control m-input required',
          placeholder: 'Company ABN', 'data-label': 'Company ABN' %>
        <div class="input-group-append">
          <button id="check-abn" type="button" class="btn btn-primary text-uppercase">Check ABN</button>
        </div>
      </div>
    </div>
  </div>
  <%
  hide_class = ' m--hide'
  hide_class = '' if vaf[:company_name].present?
  %>
  <div class="form-group m-form__group row<%= hide_class %>">
    <div class="col-lg-8">
      <%= f.label :company_name, "* Company Name", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :company_name, id: :company_name, class: 'form-control m-input bg-info text-white required',
        placeholder: 'Company Name', 'data-label': 'Company Name', readonly: true %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-8">
      <%= f.label :operating_structure, "* Operating Structure", class: 'form-control-label font-weight-bold' %>
      <%= f.select :operating_structure,
          options_for_select(Const::OPERATING_STRUCTURE_OPTIONS.map { |obj| [obj[:name], obj[:value]] }, selected: vaf[:operating_structure].present? ? vaf[:operating_structure].upcase : ''), { },
          { class: 'form-control m-input required no-search-select2', style: 'width: 100%', id: 'operating_structure', 'data-label': 'Operating Structure' } %>
      <span class="m-form__help invisible-element"></span>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-8">
      <div>
        <%= f.label :market_segment_id, "* Market Segment", class: 'form-control-label font-weight-bold' %>
      </div>
      <div>
        <%
          market_segments = [] << ["Please select", ""]
          MarketSegment.order(name: :asc).each { |obj| market_segments << [obj[:name], obj[:id]] }
        %>

        <%= f.select :market_segment_id,
            options_for_select(market_segments, selected: vaf.market_segment.present? ? vaf.market_segment[:id] : ''), { },
            { class: 'form-control m-input required search-select2', style: 'width: 100%', id: 'market_segment', 'data-label': 'Market Segment' } %>
        <span class="m-form__help invisible-element"></span>
      </div>
    </div>
  </div>

  <%= render 'venue_form_registered_address', f: f, vaf: vaf %>
</div>
