<div class="m-wizard__form-step" id="m_wizard_form_step_2">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Applicant</h3>
  </div>
  <div class="form-group m-form__group row">
    <div class="col-lg-12 m-form__group-sub">
      <%= f.label :name, "* Name", class: 'form-control-label font-weight-bold', 'data-label': 'Name' %>
    </div>
    <div class="col-lg-6 m-form__group-sub">
      <%= f.text_field :firstname, id: :firstname, class: 'form-control m-input save-later', placeholder: 'First Name',
        'data-label': 'First Name' %>
    </div>
    <div class="col-lg-6 m-form__group-sub">
      <%= f.text_field :lastname, id: :lastname, class: 'form-control m-input save-later', placeholder: 'Last Name',
        'data-label': 'Last Name' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="col-lg-6 m-form__group-sub">
      <%= f.label :mobile, "Phone", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :mobile, id: :mobile, class: 'form-control m-input mobileAU save-later', placeholder: 'Mobile',
        'data-label': 'Mobile' %>
      <small class="form-text text-muted font-weight-300 small-margin-bottom">* Mobile</small>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="col-lg-6 m-form__group-sub">
      <%= f.text_field :phone, id: :phone, class: 'form-control m-input phoneAU save-later', placeholder: 'Phone (Landline)',
        'data-label': 'Phone (Landline)' %>
      <small class="form-text text-muted font-weight-300 small-margin-bottom">Phone (Landline)</small>
    </div>
  </div>

  <%= render 'venue_form_address', f: f, vaf: vaf %>

  <div class="gos-form-group">
    <label class="font-weight-bold">Privacy and Credit Check Consent</label>
    <%= render 'venue_form_terms_conditions' %>
    <div class="form-group m-form__group m-form__group--sm row">
      <div class="col-xl-12">
        <div class="m-checkbox-inline">
          <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
            <input type="checkbox" name="termsConditions" value="1" data-label='I have read and understand the terms and conditions' class="save-later">
            I have read and understand the terms and conditions
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
