<div class="m-wizard__form-step" id="m_wizard_form_step_4">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Banking</h3>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :bank_branch, "* Bank & Branch", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :bank_branch, id: :bank_branch, class: 'form-control m-input',
        placeholder: 'Bank & Branch', 'data-label': 'Bank & Brank' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :bsb, "* BSB", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :bsb, id: :bsb, class: 'form-control m-input number1To20',
        placeholder: 'BSB', 'data-label': 'BSB' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :account_number, "* Account Number", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :account_number, id: :account_number, class: 'form-control m-input',
        placeholder: 'Account Number', 'data-label': 'Account Number' %>
    </div>
  </div>
</div>
