<div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Get Started!</h3>
  </div>
  <div class="form-group m-form__group row">
    <div class="col-lg-6 m-form__group-sub">
      <%= f.label :trading_name, "* Trading Name", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :trading_name, id: :trading_name, class: 'form-control m-input',
        placeholder: 'Trading Name', 'data-label': 'Trading Name', 'autocomplete': 'organization' %>
    </div>
    <div class="col-lg-6 m-form__group-sub">
      <%= f.label :email, "* Email", class: 'form-control-label font-weight-bold' %>
      <%= f.email_field :email, id: :email, class: 'form-control m-input', placeholder: 'Email',
        'data-label': 'Email' %>
    </div>
  </div>
</div>
