<div class="m-wizard__form-step" id="m_wizard_form_step_7">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Trade References</h3>
  </div>
  <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
  <div id="m_repeater_trade_references">
    <div data-repeater-list="trade_references" class="m-form">
      <%
      trade_references = vaf.trade_references
      trade_references = [] << TradeReference.new if vaf.trade_references.count <= 0
      trade_reference_index = 0
      %>
      <% trade_references.each do |trade_reference| %>
        <div data-repeater-item class="trade-reference-item" data-index="<%= trade_reference_index %>">
          <h5>Trade Reference <span class="data-repeater-item-index"><%= trade_reference_index + 1 %></span></h5>
          <input type="hidden" name="id" value="<%= trade_reference[:id] %>" class="trade_reference-id">
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <%= label_tag :business_name, "* Business Name", class: 'form-control-label font-weight-bold' %>
              <%= text_field_tag :business_name, trade_reference[:business_name],
                class: 'form-control m-input required', placeholder: 'Business Name',
                'data-label': 'Business Name' %>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <%= label_tag :contact_person, "* Contact Person", class: 'form-control-label font-weight-bold' %>
              <%= text_field_tag :contact_person, trade_reference[:contact_person],
                class: 'form-control m-input required', placeholder: 'Contact Person',
                'data-label': 'Contact Person' %>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <%= label_tag :contact_number, "* Contact Number", class: 'form-control-label font-weight-bold' %>
              <%= text_field_tag :contact_number, trade_reference[:contact_number],
                class: 'form-control m-input phoneNumber required', placeholder: 'Contact Number',
                'data-label': 'Contact Number'  %>
            </div>
          </div>
          <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
        </div>
      <%
        trade_reference_index += 1
      end
      %>
    </div>
    <div class="form-group m-form__group row">
      <div class="col-lg-6">
        <div data-repeater-create class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide">
          <span>
            <i class="la la-plus"></i>
            <span>
              Add a trade reference
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
