<div class="m-wizard__form-step" id="m_wizard_form_step_6">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Directors</h3>
  </div>
  <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
  <div id="m_repeater_directors">
    <div data-repeater-list="directors" class="m-form">
      <%
      directors = vaf.directors
      directors = [] << Director.new if vaf.directors.count <= 0
      director_index = 0
      %>
      <% directors.each do |director| %>
        <div data-repeater-item class="director-item" data-index="<%= director_index %>">
          <h5>Director <span class="data-repeater-item-index"><%= director_index + 1 %></span></h5>
          <input type="hidden" name="id" value="<%= director[:id] %>" class="director-id">
          <div class="form-group m-form__group row">
            <label class="font-weight-bold col-md-12">Director Personal Details</label>
            <div class="m-form__group-sub col-md-4">
              <input type="text" class="form-control required" name="firstname"
                placeholder="First Name" value="<%= director[:firstname] %>"
                data-label='First Name'>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">* First Name</small>
            </div>
            <div class="m-form__group-sub col-md-4">
              <input type="text" class="form-control" name="middlename"
                placeholder="Middle Name" value="<%= director[:middlename] %>"
                data-label='Middle Name'>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">Middle Name</small>
            </div>
            <div class="m-form__group-sub col-md-4">
              <input type="text" class="form-control m-input required" name="lastname"
                placeholder="Last Name" value="<%= director[:lastname] %>"
                data-label='Last Name'>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">* Last Name</small>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                * Mobile Number
              </label>
              <input type="text" class="form-control m-input mobileAU required" name="mobile"
                placeholder="Mobile Number" value="<%= director[:mobile] %>"
                data-label='Mobile Number'>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                Home Phone
              </label>
              <input type="text" class="form-control m-input phoneAU" name="phone"
                placeholder="Home Phone"  value="<%= director[:phone] %>"
                data-label='Home Phone'>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                * Email
              </label>
              <input type="text" class="form-control m-input required email" name="email"
                placeholder="Email" value="<%= director[:email] %>"
                data-label='Email'>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                Address
              </label>
              <input type="text" name="property_name" class="form-control m-input"
                placeholder="Building/Property Name" value="<%= director[:property_name] %>"
                data-label='Building/Property Name'>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">Building/Property Name</small>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-lg-3">
              <div class="form-group m-form__group row">
                <div class="col-lg-12 m-form__group-sub">
                  <input type="text" name="unit_number" class="form-control m-input"
                    placeholder="Unit Number" value="<%= director[:unit_number] %>"
                    data-label='Unit Number'>
                  <small class="form-text text-muted font-weight-300 small-margin-bottom">Unit Number</small>
                </div>
              </div>
            </div>
            <div class="col-lg-9 m-form__group-sub">
              <div class="form-group m-form__group row">
                <div class="m-form__group-sub col-lg-4">
                  <input type="text" name="street_number" class="form-control m-input required"
                    placeholder="Street Number" value="<%= director[:street_number] %>"
                    data-label='Street Number'>
                  <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Number</small>
                </div>
                <div class="m-form__group-sub col-lg-4">
                  <input type="text" name="street_name" class="form-control m-input required"
                    placeholder="Street Name" value="<%= director[:street_name] %>"
                    data-label='Street Name'>
                  <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Name</small>
                </div>
                <div class="m-form__group-sub col-lg-4">
                  <select name="street_type" class="form-control m-input required search-select2"
                    data-label='Street Type' style="width: 100%">
                    <% Const::STREET_TYPE_OPTIONS.each do |street_type| %>
                      <%
                      selected_attribute = ''
                      selected_attribute = ' selected' if director[:street_type] == street_type[:value]
                      %>
                      <option value="<%= street_type[:value] %>" <%= selected_attribute %>><%= street_type[:name] %></option>
                    <% end %>
                  </select>
                  <span class="m-form__help invisible-element"></span>
                  <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Type</small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-lg-4">
              <input type="text" name="suburb" class="form-control m-input required" placeholder="Suburb"
                 value="<%= director[:suburb] %>" data-label='Suburb'>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">* Suburb</small>
            </div>
            <div class="m-form__group-sub col-lg-4">
              <select name="state" class="form-control m-input required no-search-select2" data-label='State' style="width: 100%">
                <% Const::STATE_OPTIONS.each do |state| %>
                  <%
                  selected_attribute = ''
                  selected_attribute = ' selected' if director[:state] == state[:value]
                  %>
                  <option value="<%= state[:value] %>" <%= selected_attribute %>><%= state[:name] %></option>
                <% end %>
              </select>
              <span class="m-form__help invisible-element"></span>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">* State</small>
            </div>
            <div class="m-form__group-sub col-lg-4">
              <input type="text" name="postcode" class="form-control m-input postcodeAU required"
                placeholder="Postcode" value="<%= director[:postcode] %>"
                data-label='Postcode'>
              <small class="form-text text-muted font-weight-300 small-margin-bottom">* Postcode</small>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                * Date of Birth
              </label>
              <input type="text" class="form-control m-input date_of_birth required" name="date_of_birth"
                placeholder="Date of Birth"
                value="<%= pretty_format_date(director[:date_of_birth], '%d/%m/%Y', Time.now - 18.years) %>"
                data-label='Date of Birth'>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                * Drivers License or Passport Number
              </label>
              <input type="text" class="form-control m-input number1To20 required" name="drivers_license_number"
                placeholder="Driver's License" value="<%= director[:drivers_license_number] %>"
                data-label="Drivers License or Passport Number">
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-6">
              <label class="font-weight-bold">
                * Drivers License or Passport Number Expiry
              </label>
              <input type="text" class="form-control m-input license_expiry required" name="license_expiry"
                placeholder="License Expiry"
                value="<%= pretty_format_date(director[:license_expiry], '%d/%m/%Y', Time.now + 1.day) %>"
                data-label='Drivers License or Passport Number Expiry'>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-9">
              <label class="font-weight-bold">
                Upload Front of Drivers License or Passport Number
              </label>
              <% if director.front_license_file.present? %>
                <div class="mb-3 front-license-file-preview">
                  <img alt="front-license-file" src="<%= director.front_license_file.url %>"
                    class="front-license-image img-fluid" data-label="Front of Drivers License or Passport Number">
                </div>
              <% end %>
              <div class="m-dropzone dropzone-custom m-dropzone--primary dz-clickable dropzone-front"
                id="dropzoneFront<%= director_index %>">
                <div class="m-dropzone__msg dz-message needsclick">
                  <h3 class="m-dropzone__msg-title">Drop file here</h3>
                  <span class="m-dropzone__msg-desc">
                    or click here to upload<br/>
                    Only images: .png, .jpg, .jpeg, .gif, .bmp
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-9">
              <label class="font-weight-bold">
                Upload Back of Drivers License or Passport Number
              </label>
              <% if director.back_license_file.present? %>
                <div class="mb-3 back-license-file-preview">
                  <img alt="back-license-file" src="<%= director.back_license_file.url %>"
                    class="back-license-image img-fluid" data-label="Back of Drivers License or Passport Number">
                </div>
              <% end %>
              <div class="m-dropzone dropzone-custom m-dropzone--primary dz-clickable dropzone-back"
                id="dropzoneBack<%= director_index %>">
                <div class="m-dropzone__msg dz-message needsclick">
                  <h3 class="m-dropzone__msg-title">Drop file here</h3>
                  <span class="m-dropzone__msg-desc">
                    or click here to upload<br/>
                    Only images: .png, .jpg, .jpeg, .gif, .bmp
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <label for="has_been_bankrupt" class="font-weight-bold col-md-5 col-form-label">
              * Has this director ever been bankrupt?
            </label>
            <div class="col-md-4">
              <%= f.select :has_been_bankrupt,
                options_for_select(Const::YES_NO_OPTIONS.values.map { |obj| [obj[:name], obj[:value]] }, selected: director.new_record? ? "" : director[:has_been_bankrupt]), { },
                { class: 'form-control m-input required no-search-select2', style: 'width: 100%', 'data-label': 'Has been bankrupt' } %>
              <span class="m-form__help invisible-element"></span>
            </div>
          </div>
          <%
          signature_image = vaf.signature_image(director)

          if signature_image.present?
          %>
            <img class="signature-image" alt="signature-image" src="<%= signature_image %>"
              data-label="Signed">
          <% end %>
          <%
          signed_at = vaf.get_signed_at(director)
          signed_ip = vaf.get_signed_ip(director)
          geo = vaf.get_geo(director)

          if signed_at.present?
          %>
            <div class="signed-at m--hide" data-label="Date">
              <%= signed_at.strftime('%d-%m-%Y') %>
            </div>
            <div class="signed-at m--hide" data-label="Time">
              <%= signed_at.strftime('%H:%M:%S') %>
            </div>
          <% end %>
          <%
          if signed_ip.present?
          %>
            <div class="signed-at m--hide" data-label="IP Address">
              <%= signed_ip.to_s %>
            </div>
            <div class="signed-at m--hide" data-label="Geo">
              <%= geo %>
            </div>
          <% end %>
          <div class="form-group m-form__group row">
            <div class="m-form__group-sub col-md-12">
              <div data-repeater-delete class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill pull-right">
                  <span>
                      <i class="la la-trash-o"></i>
                      <span>Delete</span>
                  </span>
              </div>
            </div>
          </div>
          <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
        </div>
      <%
        director_index += 1
      end
      %>
    </div>
    <div class="form-group m-form__group row">
      <div class="col-lg-6">
        <div data-repeater-create class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide" id="add-director-button">
          <span>
            <i class="la la-plus"></i>
            <span>
              Add a director
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
