<div class="m-wizard__nav">
  <div class="m-wizard__steps">
    <div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              1
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Let's Start!
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              2
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Applicant
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              3
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Company
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_4">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              4
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Banking
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_5">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              5
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Accounts &#38; Delivery
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_6">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              6
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Directors
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_review">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              7
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Information Review
        </div>
      </div>
    </div>
  </div>
</div>
