<div class="m-wizard__form-step" id="m_wizard_form_step_5">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Accounts &#38; Delivery</h3>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :account_contact_name, "* Accounts Person Name", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :account_contact_name, id: :account_contact_name, class: 'form-control m-input',
        placeholder: 'Accounts Person Name', 'data-label': 'Accounts Person Name' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :account_contact_email, "* Accounts Person Email", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :account_contact_email, id: :account_contact_email, class: 'form-control m-input',
        placeholder: 'Accounts Person Email', 'data-label': 'Accounts Person Email' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :account_contact_number, "* Accounts Person Number", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :account_contact_number, id: :account_contact_number,
        class: 'form-control m-input phoneNumber', placeholder: 'Accounts Person Number',
        'data-label': 'Accounts Person Number' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :delivery_contact_name, "* Delivery Contact Name", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :delivery_contact_name, id: :delivery_contact_name, class: 'form-control m-input',
        placeholder: 'Delivery Contact Name', 'data-label': 'Delivery Contact Name' %>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <%= f.label :delivery_contact_number, "* Delivery Contact Number", class: 'form-control-label font-weight-bold' %>
      <%= f.text_field :delivery_contact_number, id: :delivery_contact_number, class: 'form-control m-input phoneNumber',
        placeholder: 'Delivery Contact Number', 'data-label': 'Delivery Contact Number' %>
    </div>
  </div>
</div>
