<div class="m-wizard__form-step" id="m_wizard_form_step_review">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Information Review</h3>
  </div>
  <% if is_director_sign.present? && is_director_sign %>
    <h3 class="text-center m--margin-bottom-30">You signed this form</h3>
  <% end %>
  <div class="form-group form-reviews"></div>
  <label class="font-weight-bold">Terms &amp; Conditions</label>
  <%= render 'venue_form_terms_conditions' %>
  <div class="form-group m-form__group m-form__group--sm row">
    <div class="col-xl-12">
      <div class="m-checkbox-inline">
        <%
        readonlyClass = ''
        readonlyClass = ' readonly' if is_signed
        %>
        <label class="m-checkbox m-checkbox--solid m-checkbox--brand<%= readonlyClass %>">
          <% if is_signed %>
            <input type="checkbox" name="termsConditions2" value="1"
              data-label='I have read and understand the terms and conditions'
              checked="checked" onclick="return false;">
          <% else %>
            <input type="checkbox" name="termsConditions2" value="1"
              data-label='I have read and understand the terms and conditions' class="save-later">
          <% end %>
          I have read and understand the terms and conditions
          <span></span>
        </label>
      </div>
    </div>
  </div>
</div>
