<div class="form-control mb-2 pre-scrollable textareaTermsConditions" style="max-height: 250px;">
  <ol class="pl-4">
    <li>
      <p>You are authorised by the applicant and agree, on its behalf to the terms of service including consent to the Pencil <a href="<%= privacy_path + '#m_section_4' %>" target="_blank">Credit Reporting Policy</a>.</p>
    </li>
    <li>
      <p>You agree that Pencil, in accordance with the Privacy Act 1988 (Cth) &#38; Privacy Amendment Act 2012, may seek from a credit reporting agency a credit report containing personal information for the purposes of assessing this application. For more information please visit our <a href="<%= privacy_path %>" target="_blank">Privacy Policy</a>.</p>
    </li>
    <li>
      <p>You agree to be bound by the <a href="<%= terms_of_use_path %>" target="_blank">Website Terms of Use</a>.</p>
    </li>
  </ol>
</div>