<div class="form-group m-form__group row">
  <div class="m-form__group-sub col-md-6">
    <%= f.label :registered_property_name, "Registered Address",
      class: 'form-control-label font-weight-bold' %>
    <%= f.text_field :registered_property_name, id: :registered_property_name, class: 'form-control m-input',
      placeholder: 'Building/Property Name', 'data-label': 'Building/Property Name' %>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">Building/Property Name</small>
  </div>
</div>
<div class="form-group m-form__group row">
  <div class="m-form__group-sub col-lg-3">
    <div class="form-group m-form__group row">
      <div class="col-lg-12 m-form__group-sub">
        <%= f.text_field :registered_unit_number, id: :registered_unit_number, class: 'form-control m-input',
          placeholder: 'Unit Number', 'data-label': 'Unit Number' %>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">Unit Number</small>
      </div>
    </div>
  </div>
  <div class="col-lg-9 m-form__group-sub">
    <div class="form-group m-form__group row">
      <div class="m-form__group-sub col-lg-4">
        <%= f.text_field :registered_street_number, id: :registered_street_number, class: 'form-control m-input',
          placeholder: 'Street Number', 'data-label': 'Street Number' %>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Number</small>
      </div>
      <div class="m-form__group-sub col-lg-4">
        <%= f.text_field :registered_street_name, id: :registered_street_name, class: 'form-control m-input',
          placeholder: 'Street Name', 'data-label': 'Street Name' %>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Name</small>
      </div>
      <div class="m-form__group-sub col-lg-4">
        <%= f.select :registered_street_type,
          options_for_select(Const::STREET_TYPE_OPTIONS.map { |obj| [obj[:name], obj[:value]] }, selected: vaf[:registered_street_type]), { },
          { class: 'form-control m-input search-select2', style: 'width: 100%', id: 'registered_street_type', 'data-label': 'Street Type' } %>
        <span class="m-form__help invisible-element"></span>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Type</small>
      </div>
    </div>
  </div>
</div>
<div class="form-group m-form__group row">
  <div class="m-form__group-sub col-lg-4">
    <%= f.text_field :registered_suburb, id: :registered_suburb, class: 'form-control m-input',
      placeholder: 'Suburb', 'data-label': 'Suburb' %>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">* Suburb</small>
  </div>
  <div class="m-form__group-sub col-lg-4">
    <%= f.select :registered_state,
      options_for_select(Const::STATE_OPTIONS.map { |obj| [obj[:name], obj[:value]] }, selected: vaf[:registered_state]), { },
      { class: 'form-control m-input no-search-select2', style: 'width: 100%', id: 'registered_state', 'data-label': 'State' } %>
    <span class="m-form__help invisible-element"></span>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">* State</small>
  </div>
  <div class="m-form__group-sub col-lg-4">
    <%= f.text_field :registered_postcode, id: :registered_postcode, class: 'form-control m-input postcodeAU',
      placeholder: 'Postcode', 'data-label': 'Postcode' %>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">* Postcode</small>
  </div>
</div>
