<div class="form-group m-form__group row">
  <div class="col-lg-6 m-form__group-sub">
    <%= f.label :trading_property_name, "Trading Address", class: 'form-control-label font-weight-bold' %>
    <%= f.text_field :trading_property_name, id: :trading_property_name, class: 'form-control m-input save-later',
      placeholder: 'Building/Property Name', 'data-label': 'Building/Property Name', 'autocomplete': 'organization-title' %>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">Building/Property Name</small>
  </div>
</div>
<div class="form-group m-form__group row">
  <div class="col-lg-3 m-form__group-sub">
    <div class="form-group m-form__group row">
      <div class="col-lg-12 m-form__group-sub">
        <%= f.text_field :trading_unit_number, id: :trading_unit_number, class: 'form-control m-input save-later',
          placeholder: 'Unit Number', 'data-label': 'Unit Number', 'autocomplete': 'unit-number' %>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">Unit Number</small>
      </div>
    </div>
  </div>
  <div class="col-lg-9 m-form__group-sub">
    <div class="form-group m-form__group row">
      <div class="col-lg-4 m-form__group-sub">
        <%= f.text_field :trading_street_number, id: :trading_street_number, class: 'form-control m-input save-later',
          placeholder: 'Street Number', 'data-label': 'Street Number', 'autocomplete': 'organization-title' %>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Number</small>
      </div>
      <div class="col-lg-4 m-form__group-sub">
        <%= f.text_field :trading_street_name, id: :trading_street_name, class: 'form-control m-input save-later',
          placeholder: 'Street Name', 'data-label': 'Street Name', 'autocomplete': 'address-line1' %>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Name</small>
      </div>
      <div class="col-lg-4 m-form__group-sub">
        <%= f.select :trading_street_type,
          options_for_select(Const::STREET_TYPE_OPTIONS.map { |obj| [obj[:name], obj[:value]] }, selected: vaf[:trading_street_type]), { },
          { class: 'form-control m-input save-later search-select2', style: 'width: 100%', id: 'trading_street_type', 'data-label': 'Street Type', 'autocomplete': 'street-type' } %>
        <span class="m-form__help invisible-element"></span>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Type</small>
      </div>
    </div>
  </div>
</div>
<div class="form-group m-form__group row">
  <div class="m-form__group-sub col-lg-6">
    <%= f.text_field :trading_suburb, id: :trading_suburb, class: 'form-control m-input save-later',
      placeholder: 'Suburb', 'data-label': 'Suburb', 'autocomplete': 'locality city suburb' %>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">* Suburb</small>
  </div>
  <div class="col-lg-3 m-form__group-sub">
    <%= f.select :trading_state,
      options_for_select(Const::STATE_OPTIONS.map { |obj| [obj[:name], obj[:value]] }, selected: vaf[:trading_state]), { },
      { class: 'form-control m-input save-later no-search-select2', style: 'width: 100%', id: 'trading_state', 'data-label': 'State', 'autocomplete': 'state province region' } %>
    <span class="m-form__help invisible-element"></span>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">* State</small>
  </div>
  <div class="col-lg-3 m-form__group-sub">
    <%= f.text_field :trading_postcode, id: :trading_postcode, class: 'form-control m-input postcodeAU save-later',
      placeholder: 'Postcode', 'data-label': 'Postcode', 'autocomplete': 'postal-code' %>
    <small class="form-text text-muted font-weight-300 small-margin-bottom">* Postcode</small>
  </div>
</div>
