<div class="m-portlet__body m--hide" id="save-continue-later">
  <div class="col-lg-7 text-center m-auto">
    <p>Enter your email address to send this link to you by email.</p>
    <p>Please note that this link will expire after 30 days. Thanks.</p>
    <p><a id="form_link" href='/' target="_blank" data-url="<%= "#{$prod_root_url}/venue-form/token/" %>"></a></p>
    <!-- venue_application_form_send_form_link_to_email -->
    <%= form_tag(venue_application_form_send_form_link_to_email_path('__token__'),
      method: "post", class: 'm-form m-form--fit m-form--label-align-right', id: 'form_link_send_email') do %>
      <div class="m-portlet__body">
        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              Oh snap! Change a few things up and try submitting again.
            </div>
            <div class="m-alert__close">
              <button type="button" class="close" data-close="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label class="col-form-label col-lg-2 col-sm-12">
            Email *
          </label>
          <div class="col-lg-6 col-md-9 col-sm-12">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email">
          </div>
          <div class="col-lg-4 m--align-left">
            <a href="#" class="btn btn-brand pencil-btn-brand m-btn m-btn--custom m-btn--icon"
              data-wizard-action="submit" id="send_link_to_email_btn" style="padding: 0.65rem 2rem;">
              <span>
                <i class="la la-check"></i>
                &nbsp;&nbsp;
                <span>Send</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
