<div class="m-portlet__foot m-portlet__foot--fit venue_form_submit">
  <div class="m-form__actions">
    <div class="row">
      <div class="col-md-2 m--align-left back-venue-2">
        <a href="#" class="btn btn-secondary m-btn m-btn--icon venue-btn-custom" data-wizard-action="prev">
          <span>
            <i class="la la-arrow-left"></i>
            &nbsp;&nbsp;
            <span>Back</span>
          </span>
        </a>
      </div>
      <div class="col-md-8 m--align-center">
        <a href="#" class="btn btn-success m-btn m-btn--custom bt-save-continue-venue" data-wizard-action="save">
          <span>
            Save &#38; Continue Later
          </span>
        </a>
      </div>

      <div class="col-md-2 m--align-center d-flex-row-back-next">
        <div class="back-venue-1 back-next-btn-width actions-btn-width-49">
          <a href="#" class="btn btn-secondary m-btn m-btn--icon venue-btn-custom width-100p" data-wizard-action="prev">
            <span>
              <i class="la la-arrow-left"></i>
              &nbsp;&nbsp;
              <span>Back</span>
            </span>
          </a>
        </div>
        <a href="#" id="pencil-wizard-next-btn" class="btn btn-brand pencil-btn-brand m-btn m-btn--icon venue-btn-custom back-next-btn-width" data-wizard-action="next">
          <span>
            <span>
              Next
            </span>
            &nbsp;&nbsp;
            <i class="la la-arrow-right"></i>
          </span>
        </a>
        <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon bt-submit-venue acions-btn-width-49 btn-submit" data-wizard-action="submit">
          <span>
            <i class="la la-check"></i>
            &nbsp;&nbsp;
            <span>Submit</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
