<label class="my-0 mr-md-auto font-weight-normal">
  <%= image_tag(wicked_pdf_asset_base64('pencil-logo.png'),height: '65') %>
</label>
<br/>
<br/>
<br/>
<div class="form-group form-reviews">
  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">GET STARTED</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Trading Name:</label> <%= @vaf.trading_name %>
        </div>
          <div class="m-form__group-sub col-xs-6">
          <label>Email:</label> <%= @vaf.email %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">APPLICANT DETAILS</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>First Name:</label> <%= @vaf.firstname %>
        </div>
        <div class="m-form__group-sub col-xs-6">
          <label>Last Name:</label> <%= @vaf.lastname %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Mobile:</label> <%= @vaf.mobile %>
        </div>
        <div class="m-form__group-sub col-xs-6">
          <label>Phone (Landline):</label> <%= @vaf.phone %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Building/Property Name:</label> <%= @vaf.trading_property_name %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label>Unit Number:</label> <%= @vaf.trading_unit_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Number:</label> <%= @vaf.trading_street_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Type:</label> <%= @vaf.trading_street_type %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label> Suburb:</label> <%= @vaf.trading_suburb %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>State:</label> <%= @vaf.trading_state %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Postcode:</label> <%= @vaf.trading_postcode %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">COMPANY DETAILS</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Company Name:</label>
          <%= @vaf.company_name %>
        </div>
          <div class="m-form__group-sub col-xs-6">
          <label>ABN:</label> <%= @vaf.company_abn %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Operating Structure:</label> <%= @vaf.operating_structure %>
        </div>
        <div class="m-form__group-sub col-xs-6">
          <label>Market Segment:</label> <%= @vaf.market_segment.name %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Building/Property Name:</label> <%= @vaf.registered_property_name %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label>Unit Number:</label> <%= @vaf.registered_unit_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Number:</label> <%= @vaf.registered_street_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Type:</label> <%= @vaf.registered_street_type %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label>Suburb:</label> <%= @vaf.registered_suburb %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>State:</label> <%= @vaf.registered_state %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Postcode:</label> <%= @vaf.registered_postcode %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group m-form__group m-form__group--sm row">
    <div class="m-form__group-sub col-xs-5">
      <div class="card h-100">
        <div class="card-header font-weight-bold" style="background-color: #CDBDB9">BANKING DETAILS</div>
        <div class="card-body pb-1">
          <p><label>Bank &amp; Brank: </label> <%= @vaf.bank_branch %></p>
          <p><label>BSB:</label> <%= @vaf.bsb %></p>
          <p><label>Account Number:</label> <%= @vaf.account_number %></p>
        </div>
      </div>
    </div>

    <div class="m-form__group-sub col-xs-7">
      <div class="card h-100">
        <div class="card-header font-weight-bold" style="background-color: #CDBDB9">ACCOUNTS &amp; DELIVERY DETAILS</div>
        <div class="card-body pb-1">
          <p>
            <label>Accounts Person Name: </label>
            <%= @vaf.account_contact_name %>
          </p>
          <p>
            <label>Accounts Person Email: </label>
            <%= @vaf.account_contact_email %>
          </p>
          <p>
            <label>Accounts Person Number: </label>
            <%= @vaf.account_contact_number %>
          </p>
          <p>
            <label>Delivery Contact Name: </label>
            <%= @vaf.delivery_contact_name %>
          </p>
          <p>
            <label>Delivery Contact Number: </label>
            <%= @vaf.delivery_contact_number %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">DIRECTORS DETAILS</div>
    <div class="card-body pb-1">
      <% @directors.each_with_index do |director, index| %>
        <h5 class="card-title">Director <%= index + 1 %></h5>
        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>First Name:</label> <%= director.firstname %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Middle Name:</label> <%= director.middlename %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Last Name:</label> <%= director.lastname %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Mobile:</label> <%= director.mobile %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Phone:</label> <%= director.phone %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Email:</label> <%= director.email %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-6">
            <label>Building/Property Name:</label> <%= director.property_name %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Unit Number:</label> <%= director.unit_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Street Number:</label> <%= director.street_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Street Type:</label> <%= director.street_type %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Suburb:</label> <%= director.suburb %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>State:</label> <%= director.state %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Postcode:</label> <%= director.postcode %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Date of Birth:</label>
            <%= director.date_of_birth.strftime('%d-%m-%Y') if director.date_of_birth? %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Driver's License:</label> <%= director.drivers_license_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>License Expiry:</label>
              <%= director.license_expiry.strftime('%d-%m-%Y') if director.license_expiry? %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row m--align-center">
          <div class="m-form__group-sub col-xs-6 ">
            <p><label>Drivers License Front:</label><p>

            <% if director.front_license_file.present? %>
              <div class="mb-3">
                <%= wicked_pdf_image_tag(director.front_license_file.url, width: '300') %>
              </div>
            <% end %>
        </div>
          <div class="m-form__group-sub col-xs-6">
            <p><label>Drivers License Back:</label><p>

            <% if director.front_license_file.present? %>
              <div class="mb-3 front-license-file-preview">
                <%= wicked_pdf_image_tag(director.back_license_file.url, width: '300') %>
              </div>
            <% end %>
          </div>
        </div>
        <p>
          <label>Has the director been bankrupt ?:</label> <%= director.has_been_bankrupt ? "yes" : "no"%>
        </p>
        <p><label>Signed:</label></p>
        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-8">
            <p>
              <%
              signature_image = @vaf.signature_image(director)

              if signature_image.present?
              %>
                <img class="" alt="signature-image" src="<%= signature_image %>" width="300">
              <% end %>
            </p>
          </div>
          <%
          signed_at = @vaf.get_signed_at(director)
          signed_ip = @vaf.get_signed_ip(director)
          geo = @vaf.get_geo(director)

          %>
          <div class="m-form__group-sub col-xs-4">
            <label>Date:</label>
            <%= signed_at.strftime('%d-%m-%Y') if signed_at.present? %>
            </br>
            <label>Time:</label>
            <%= signed_at.strftime('%H:%M:%S') if signed_at.present? %>
            </br>
            <label>IP Address:</label>
            <%= signed_ip.to_s if signed_ip.present? %>
            </br>
            <label>Geo:</label>
            <%= geo %>
          </div>
        </div>
        <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">PENCIL TERMS &amp; CONDITIONS</div>
    <div class="card-body pb-1" style="text-align: justify;">
      <%= html_escape(PencilTermsCondition.first.content.html_safe) %>
    </div>
  </div>
</div>
