<div class="row justify-content-md-center full-width">
  <div class="col-md-12 max-width-form">
    <!--Begin::Main Portlet-->
    <div class="m-portlet m-portlet--full-height">
      <!--begin: Portlet Head-->
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Pencil Wizard
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                <i class="flaticon-info m--icon-font-size-lg3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--end: Portlet Head-->
      <!--begin: Portlet Body-->
      <div class="m-portlet__body">
        <p>Thank you for submitting your pencil credit application form. Please ask all directors to check their email, review the application form information and then digitally sign.</p>
        <p>After all directors have digitally signed the form, you will be able to apply for trading terms credit from your suppliers.</p>
        <br/>
        <p>Thanks</p>
        <p>Team Pencil</p>
      </div>
      <!--end: Portlet Body-->
    </div>
    <!--End::Main Portlet-->
  </div>
</div>
