<div id="venue-form" class="row justify-content-md-center full-width">
  <div class="col-md-12 max-width-form">
    <!--Begin::Main Portlet-->
    <div class="m-portlet m-portlet--full-height">
      <!--begin: Portlet Head-->
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Pencil Wizard
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                <i class="flaticon-info m--icon-font-size-lg3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--end: Portlet Head-->
      <!--begin: Portlet Body-->
      <div class="m-portlet__body m-portlet__body--no-padding">
        <!--begin: Form Wizard-->
        <div class="m-wizard m-wizard--3 m-wizard--success" id="m_wizard">
          <!--begin: Message container -->
          <div class="m-portlet__padding-x">
            <!-- Here you can put a message or alert -->
          </div>
          <!--end: Message container -->
          <div class="row m-row--no-padding">
            <%
            hide_class = ''
            is_director_sign = false
            allow_sign = false
            is_signed_by_current_user = @venue_application_form.is_signed_by_user(current_user)
            is_signed = @venue_application_form.is_signed

            if user_signed_in? && @venue_application_form.present? &&
              @venue_application_form.is_include_user(current_user) &&
              !is_signed_by_current_user && params[:step].present? &&
              params[:step] == VenueApplicationForm::STEP_REVIEW
              allow_sign = true
            end

            if @is_signed_by_current_user || (@venue_application_form.present? &&
              params[:step].present? && params[:step] == VenueApplicationForm::STEP_REVIEW &&
              user_signed_in? && current_user.is_director? &&
              @venue_application_form.is_include_user(current_user))
              hide_class = ' m--hide'
              is_director_sign = true if user_signed_in? && is_signed_by_current_user
            end
            %>
            <div class="col-xl-3 col-lg-12 col-left<%= hide_class %>">
              <!--begin: Form Wizard Head -->
              <div class="m-wizard__head">
                <!--begin: Form Wizard Progress -->
                <%= render 'venue_form_wizard_progress' %>
                <!--end: Form Wizard Progress -->
                <!--begin: Form Wizard Nav -->
                <%= render 'venue_form_wizard_nav' %>
                <!--end: Form Wizard Nav -->
              </div>
              <!--end: Form Wizard Head -->
            </div>
            <div class="col-xl-9 col-lg-12">
              <!--begin: Form Wizard Form-->
              <div class="m-wizard__form">
                <!--
                  1) Use m-form--label-align-left class to alight the form input lables to the right
                  2) Use m-form--state class to highlight input control borders on form validation
                -->
                <%
                url = venue_application_form_create_path
                url = venue_application_form_update_path(params[:token]) if params[:token].present?
                url = venue_application_form_director_sign_path(params['token']) if allow_sign
                %>
                <%= form_with(model: @venue_application_form, local: true, url: url, method: :post,
                  html: { class: "m-form m-form--label-align-left- m-form--state-", id: "venue_form" }) do |f| %>
                  <%= f.hidden_field :id, id: 'vaf_id' %>
                  <!--begin: Form Body -->
                  <div class="m-portlet__body m-portlet__body--no-padding m--margin-bottom-50">
                    <!--begin: Form Wizard Step 1-->
                    <%= render 'venue_form_step_1', f: f, vaf: @venue_application_form %>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Wizard Step 2-->
                    <%= render 'venue_form_step_2', f: f, vaf: @venue_application_form %>
                    <!--end: Form Wizard Step 2-->
                    <!--begin: Form Wizard Step 3-->
                    <%= render 'venue_form_step_3', f: f, vaf: @venue_application_form %>
                    <!--end: Form Wizard Step 3-->
                    <!--begin: Form Wizard Step 4-->
                    <%= render 'venue_form_step_4', f: f, vaf: @venue_application_form %>
                    <!--end: Form Wizard Step 4-->
                    <!--begin: Form Wizard Step 5-->
                    <%= render 'venue_form_step_5', f: f, vaf: @venue_application_form %>
                    <!--end: Form Wizard Step 5-->
                    <!--begin: Form Wizard Step 6-->
                    <%= render 'venue_form_step_6', f: f, vaf: @venue_application_form %>
                    <!--end: Form Wizard Step 6-->
                    <!--begin: Form Wizard Step Review-->
                    <%= render 'venue_form_step_review', f: f, vaf: @venue_application_form,
                      is_director_sign: is_director_sign,
                      is_signed: is_signed %>
                    <!--end: Form Wizard Step Review-->
                  </div>
                  <!--end: Form Body -->
                  <% unless is_director_sign || allow_sign %>
                    <!--begin: Form Actions -->
                    <%= render 'venue_form_actions' %>
                    <!--end: Form Actions -->
                  <% end %>
                  <% if allow_sign %>
                    <%= render 'submit_signature' %>
                  <% end %>
                <% end %>
              </div>
              <!--end: Form Wizard Form-->
            </div>
          </div>
        </div>
        <!--end: Form Wizard-->

        <%= render 'venue_form_link' %>
      </div>
      <!--end: Portlet Body-->
    </div>
    <!--End::Main Portlet-->
  </div>
</div>
