<div class="container-fluid">
	<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--space">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						FAQs
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href="#" class="m-portlet__nav-link m-btn--pill">
							<div class="m-input-icon m-input-icon--right">
								<input type="text" class="form-control form-control-lg m-input m-input--solid m-input--pill" placeholder="Search FAQ...">
								<span class="m-input-icon__icon m-input-icon__icon--right">
									<span>
										<i class="la la-search m--font-brand"></i>
									</span>
								</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-xl-3">
					<div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
						<ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
							<!-- Question 1 -->
							<li class="m-nav__item" >
								<a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#">
									<span class="m-nav__link-text">
										Secure Accounts
									</span>
								</a>
							</li>
							<!-- Question 2 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_2" href="#">
									<span class="m-nav__link-text">
										What is pencil?
									</span>
								</a>
							</li>
							<!-- Question 3 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_3" href="#">
									<span class="m-nav__link-text">
										How do I apply for pencil?
									</span>
								</a>
							</li>
							<!-- Question 4 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_4" href="#">
									<span class="m-nav__link-text">
										Benefits to Venues/Retailers
									</span>
								</a>
							</li>
							<!-- Question 5 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_5" href="#">
									<span class="m-nav__link-text">
										When do I know the status of my credit application?
									</span>
								</a>
							</li>
							<!-- Question 6 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_6" href="#">
									<span class="m-nav__link-text">
										When can I expect a response?
									</span>
								</a>
							</li>
							<!-- Question 7 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_7" href="#">
									<span class="m-nav__link-text">
										How do I change the details in my application?
									</span>
								</a>
							</li>
							<!-- Question 8 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_8" href="#">
									<span class="m-nav__link-text">
										What happens with my information?
									</span>
								</a>
							</li>
							<!-- Question 9 -->
							<li class="m-nav__item">
								<a class="m-nav__link m-tabs__item" data-tab-target="#m_section_9" href="#">
									<span class="m-nav__link-text">
										Who might be in contact with me?
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-9">
					<div class="m-tabs-content" id="m_sections">
						<!--begin::Section 1-->
						<div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								Secure Accounts
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_1_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content_1_body" >
										<span class="m-accordion__item-title">

										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head" data-parent="#m_section_1_content">
										<div class="m-accordion__item-content">
											<p>
												Powered by pencil’s “one to many” technology, our safe and secure application forms are the easiest way to streamline the supplier management process.
											</p>
											<p>
												Taking the stress out of supplier credit approvals, pencil’s platform integrates with popular accounting systems including Xero, MYOB and QuickBooks, to ensure data is verified and distributed to your suppliers quickly. An encryption algorithm ensures security and peace of mind that faster approvals and far less headaches are on the horizon.

											</p>
											<p> <!--
												<a href="#" class="m-link m--font-boldest">
													Example boldest link
												</a> -->
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 1-->

						<!--begin::Section 2-->
						<div class="m-tabs-content__item" id="m_section_2">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								What is pencil?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_2_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_2_content_1_head" data-toggle="collapse" href="#m_section_2_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- Item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_2_content_1_body" role="tabpanel" aria-labelledby="m_section_2_content_1_head" data-parent="#m_section_2_content">
										<div class="m-accordion__item-content">
											<p>
												pencil is a management platform, that allows venues or retailers the luxury of submitting their credit applications digitally. pencil uses validated information from ASIC & various databases to collate an accurate business ‘record’. This speeds up the application, credit checking and approval processes.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 2-->

						<!--begin::Section 3-->
						<div class="m-tabs-content__item" id="m_section_3">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								How do I apply for pencil?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_3_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_3_content_1_head" data-toggle="collapse" href="#m_section_3_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- Item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_3_content_1_body" role="tabpanel" aria-labelledby="m_section_3_content_1_head" data-parent="#m_section_3_content">
										<div class="m-accordion__item-content">
											<p>
												Firstly, it’s important that you have your ABN, Company Directors details, banking details and drivers licenses ready to go. Once you’re all set you will need to click on GET STARTED in the top right menu.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 3-->

						<!--begin::Section 4-->
						<div class="m-tabs-content__item" id="m_section_4">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								Benefits to Venues/Retailers
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_4_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_4_content_1_head" data-toggle="collapse" href="#m_section_4_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_4_content_1_body" role="tabpanel" aria-labelledby="m_section_4_content_1_head" data-parent="#m_section_4_content">
										<div class="m-accordion__item-content">
											<ul>
												<li>Apply to multiple suppliers with speed and ease using one simple record.</li>
												<li>View the status of your application at any time, within your online account.</li>
												<li>Digital signatures mean no printing, no writing, no scanning, no data entry and no time consuming filing.</li>
											</ul>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 4-->

						<!--begin::Section 5-->
						<div class="m-tabs-content__item" id="m_section_5">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								When do I know the status of my credit application?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_5_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_5_content_1_head" data-toggle="collapse" href="#m_section_5_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_5_content_1_body" role="tabpanel" aria-labelledby="m_section_5_content_1_head" data-parent="#m_section_5_content">
										<div class="m-accordion__item-content">
											<p>
												You will get a text message to your phone as well as an email notification. (If they are enabled on your smart phone) Once you have formal approval you are ready to begin ordering.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 5-->

						<!--begin::Section 6-->
						<div class="m-tabs-content__item" id="m_section_6">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								When can I expect a response?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_6_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_6_content_1_head" data-toggle="collapse" href="#m_section_6_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_6_content_1_body" role="tabpanel" aria-labelledby="m_section_6_content_1_head" data-parent="#m_section_6_content">
										<div class="m-accordion__item-content">
											<p>
												pencil will supply your information to the relevant wholesale suppliers within a couple of hours, once all relevant checks are completed. The approval at the suppliers’ end should be the same business day, if provided before 12 noon.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 6-->

						<!--begin::Section 7-->
						<div class="m-tabs-content__item" id="m_section_7">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								How do I change the details in my application?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_7_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_7_content_1_head" data-toggle="collapse" href="#m_section_7_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_7_content_1_body" role="tabpanel" aria-labelledby="m_section_7_content_1_head" data-parent="#m_section_7_content">
										<div class="m-accordion__item-content">
											<p>
												Once you have submitted your completed application through pencil, you will be able to change only certain details within your customer account. If you have any details that you can’t change and feel like you need to, please feel free to contact us at hello@pencil.one.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 7-->

						<!--begin::Section 8-->
						<div class="m-tabs-content__item" id="m_section_8">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								What happens with my information?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_8_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_8_content_1_head" data-toggle="collapse" href="#m_section_8_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_8_content_1_body" role="tabpanel" aria-labelledby="m_section_8_content_1_head" data-parent="#m_section_8_content">
										<div class="m-accordion__item-content">
											<p>
												Your information will be password protected and stored within our secure, encrypted platform. For further details about security and the use of your information please check our Privacy Policy and Terms of use.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 8-->

						<!--begin::Section 9-->
						<div class="m-tabs-content__item" id="m_section_9">
							<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
								Who might be in contact with me?
							</h4>
							<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_9_content">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_9_content_1_head" data-toggle="collapse" href="#m_section_8_content_1_body" >
										<span class="m-accordion__item-icon">
											<!-- <i class="flaticon-gift"></i> -->
										</span>
										<span class="m-accordion__item-title">
											<!-- item title -->
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse show" id="m_section_9_content_1_body" role="tabpanel" aria-labelledby="m_section_9_content_1_head" data-parent="#m_section_9_content">
										<div class="m-accordion__item-content">
											<p>
												The team at pencil will be in contact via email or phone, once you have created your account. From time to time you may also receive communication via email, text or phone from our 3rd party service providers. They may offer you products or services related to the running, funding or ancillary services available to your business.
											</p>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
						</div>
						<!--begin::Section 9-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Portlet-->
	</div>
</div>
