<div id="home-container" class="white-bg">

	<div id="home-part-1" class="container-fluid full-width" alt="background-image">
    <div class="d-flex-row-center home-base-padding-lr home-section-padding-tb1">
  		<div class="col-lg-6 full-width">
  			<div class="home_wrapper margin-bottom-20">
  				<h1 class="text-align-left header-1 home-header-color">
  					Everything, Easier.
  				</h1>
  			</div>
  			<div class="home_wrapper">
          <p class="text-24 text-white">
            Simplifying the relationship between venues and suppliers, pencil is a credit
            application management system, designed specifically to streamline and
            strengthen venue-supplier partnerships. With one secure form, pencil
            eliminates data inaccuracies and all-too-common communication issues to
            avoid unnecessary delays that cost you time and money.
          </p>
        </div>
  		</div>
      <div class="col-lg-6 full-width"></div>
    </div>
	</div>

	<div class="home_empty_space container-fluid row height-100 full-width"></div>

	<div id="home-part-2" class="container-fluid full-width">
    <div class="d-flex-row-center home-base-padding-lr">
      <div class="col-lg-2 full-width"></div>
  		<div class="col-lg-8 home-color full-width">
  			<p class="text-p2 text-center">
  				From immediate credit approvals to payment reminders from all your suppliers, pencil just makes everything, easier.
  			</p>
  			<h2 class="text-50 home-header-color text-center margin-top-50">
  				Simply fill out one form, once and voila! You're set.
  			</h2>
  		</div>
      <div class="col-lg-2 full-width"></div>
    </div>
	</div>

	<div class="home_empty_space container-fluid row height-100 full-width"></div>

	<div id="home-part-3" class="container-fluid full-width">
		<div id="home_instagram" class="home-base-padding-lr">

			<div class="margin-bottom-15">
        <a href="https://instagram.com/pencil.1nc" target="_blank" title="@pencil.1nc" class="d-flex-start">
          <div>
            <%= image_tag "pencil_one.jpg", alt: "Pencil", class: "image-50 margin-right-10", id: "pencil-icon" %>
          </div>
          <div>
            <h3 id="ins-header">@pencil.1nc</h3>
          </div>
        </a>
      </div>

			<div id="ins-images" class="d-flex-row-center"></div>

      <div class="d-flex-center width-100p margin-top-15">
        <div id="load-more-bt" class="d-flex-center text-white home-button black-bg margin-right-5">
          <span>Load more ...</span>
        </div>
        <div>
          <a id="ins-follow-bt" class="d-flex-center text-white home-button ins-bg" href="https://instagram.com/pencil.1nc" target="_blank">
            <span><i class="fa fab fa-instagram margin-right-5"></i>Follow on Instagram</span>
          </a>
        </div>
      </div>

		</div>
	</div>

	<div class="home_empty_space container-fluid row height-100 full-width"></div>

	<div id="home-part-4" class="container-fluid full-width" alt="background-image">
    <div class="d-flex-row-center home-base-padding-lr home-section-padding-tb4">
  		<div class="col-lg-2 full-width"></div>
  		<div class="home-wrapper col-lg-8 full-width text-20 text-center">
  			<p>If you’ve ever spent time buried
  				under a never-ending pile of credit applications; one for each of your
  				suppliers. We know the feeling.
  			</p>
  			<p>Whether your venue has 10 suppliers or
  				50, you’re filling out forms and focusing on admin when you should be
  				doing what you do best: Keeping your customers happy.
  			</p>
  			<p>That’s why we created pencil.</p>
  		</div>
  		<div class="col-lg-2 full-width"></div>
    </div>
	</div>

	<div class="home_empty_space container-fluid row height-100 full-width"></div>

	<div id="home-part-5" class="container-fluid full-width">
    <div class="home-base-padding-lr">
  		<div class="row full-width">
        <div class="home-wrapper col-lg-4 full-width">
            <div class="text-center step-padding step-margin-bottom">
                <div class="margin-bottom-30">
                    <span><%= fa_icon "tv", class: "home-icon" %></span>
                </div>
                <h5 class="header-5 home-header-color margin-bottom-30">
                    STEP 1. FILL
                </h5>
                <div class="text-20">
                    <p>Using our technology to check your data against a
                    number of recognised references, we ensure there are no discrepancies,
                    saving everyone precious time trying to correct common errors that slow
                    down the approval process.</p>
                </div>
            </div>
        </div>
        <div class="home-wrapper col-lg-4 full-width">
          <div class="text-center step-padding step-margin-bottom">
              <div class="margin-bottom-30">
                  <span><%= fa_icon "paint-brush", class: "home-icon" %></span>
              </div>
              <h5 class="header-5 home-header-color margin-bottom-30">
                  STEP 2. SIGN
              </h5>
              <div class="text-20">
                  <p>By safely storing your information using an encryption algorithm, your application data can be reused over and over again.</p>
                  <p>Review your details, sign your form and pencil takes care of the rest.</p>
              </div>
          </div>
        </div>
        <div class="home-wrapper col-lg-4 full-width">
          <div class="text-center step-padding">
              <div class="margin-bottom-30">
                  <span><%= fa_icon "camera-retro", class: "home-icon" %></span>
              </div>
              <h5 class="header-5 home-header-color margin-bottom-30">
                  STEP 3. SUPPLY
              </h5>
              <div class="text-20">
                  <p>Our system gives you the benefit of fast credit
                  approvals, so you start receiving orders from your suppliers with one
                  form, less fuss and fewer delays.</p>
                  <p>How does within the hour sound?</p>
              </div>
          </div>
        </div>
      </div>
    </div>
	</div>

	<div class="home_empty_space container-fluid row height-100 full-width"></div>

	<div id="home-part-6" class="form container-fluid full-width">
    <div class="home-base-padding-lr">
  		<div class="row full-width">
  			<div class="col-lg-2 full-width"></div>
  			<div class="col-lg-8 full-width">
  				<h2 class="header-2 home-header-color text-center margin-bottom-40">
  					<span>How to contact us</span>
  				</h2>
  				<div class="home-wrapper">
  					<%= form_with model: @contact, html: { id: "contact_form" } do |form| %>
              <div id="home-flash" class="form-group">
                <%= render partial: 'layouts/flash' %>
              </div>
  						<div class="form-group">
  							<span id="contact-form-msg" class="home-invisile text-center"></span>
  						</div>

  						<div class="row">
  							<div class="form-group col-sm-6">
  								<%= form.label :firstname %>
  						  	<%= form.text_field :firstname, id: :first_name, class: 'form-control' %>
  							</div>

  						  <div class="form-group col-sm-6">
  								<%= form.label :lastname %>
  						  	<%= form.text_field :lastname, id: :last_name, class: 'form-control' %>
  							</div>
  						</div>

  						<div class="row">
  							<div class="form-group col-sm-6">
  								<%= form.label :email, "Your E-Mail" %>
  						  	<%= form.email_field :email, id: :email, class: 'form-control' %>
  							</div>
  						</div>

  						<div class="form-group">
  							<%= form.label :subject %>
  					  	<%= form.text_field :subject, id: :subject, class: 'form-control' %>
  						</div>


  					  <div class="form-group">
  							<%= form.label :message, "Your Message" %>
  					  	<%= form.text_area :message, id: :message, class: 'form-control' %>
  						</div>

  						<div id="home-g-recaptcha" class="margin-top-30">
                <%= recaptcha_tags %>
  						</div>

  						<div class="form-group margin-top-30">
  							<%= form.submit "SEND YOUR MESSAGE", class: 'home-contact-button', id: 'send-msg-bt' %>
  						</div>
  					<% end %>
  				</div>
  			</div>
  			<div class="col-lg-2 full-width"></div>
  		</div>
    </div>
	</div>

	<div class="home_empty_space container-fluid row height-100 full-width">	</div>
</div>
