<div class="container-fluid" id="privacy-policy">
  <div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--space">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Privacy Policy
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item"></li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-3">
            <div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
              <ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
                <li class="m-nav__item" >
                  <a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#">
                    <span class="m-nav__link-text">
                      Privacy Policy
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_2" href="#">
                    <span class="m-nav__link-text">
                      3rd Party Marketing Policy
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_3" href="#">
                    <span class="m-nav__link-text">
                      Disclosure of Personal Information Policy
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_4" href="#">
                    <span class="m-nav__link-text">
                      Credit Reporting Policy
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_5" href="#">
                    <span class="m-nav__link-text">
                      Online Policy
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-9">
            <div class="m-tabs-content" id="m_sections">
              <!--begin::Section 1-->
              <div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
                <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
                  Privacy Policy
                </h4>
                <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_1_content">
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content_1_body" >
                      <!-- Icon for item title
                      <span class="m-accordion__item-icon">
                        <i class="flaticon-gift"></i>
                      </span> -->
                      <span class="m-accordion__item-title">
                        ABOUT THIS PRIVACY POLICY
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head" data-parent="#m_section_1_content">
                      <div class="m-accordion__item-content">
                        <p>
                          This Privacy Policy sets out the manner in which we collect, use, disclose and manage personal information. By using the Website and the digital credit forms & guarantees within, subscribing to our services, or entering into an agreement with us in relation to the Websites, you are taken to have read, and agreed to the collection, use, disclosure and handling of your personal information in accordance with this Privacy Policy.
                        </p>
                        <p>
                          We may modify this Privacy Policy at any time. You should review this Privacy Policy periodically so that you are updated on any changes. If you are a customer and the modification would result in a material change to either party’s rights or obligations and, for that reason, may cause you material detriment we will give customers at least 14 days notice via our website, before the modification is to take effect, but customers may not terminate as a result of this  modification during this period.
                        </p>
                        <!-- Example for boldest link
                        <p>
                          <a href="#" class="m-link m--font-boldest">
                            Example boldest link
                          </a>
                        </p> -->
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_2_head" data-toggle="collapse" href="#m_section_1_content_2_body" >
                      <span class="m-accordion__item-title">
                        RESPECTING INFORMATION PRIVACY
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_1_content_2_body" role="tabpanel" aria-labelledby="m_section_1_content_2_head" data-parent="#m_section_1_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We recognise the importance of protecting personal information. We do not collect sensitive information as defined under the Privacy Act 1988 (Cth) (“Privacy Act“), such as racial or ethnicity information, political opinions or associations, criminal records or health information.
                        </p>
                        <p>
                          In collecting and handling personal information, we are bound by the Privacy Act, including the Australian Privacy Principles (“APPs“), and applicable privacy regulations.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_3_head" data-toggle="collapse" href="#m_section_1_content_3_body" >
                      <span class="m-accordion__item-title">
                        THE PERSONAL INFORMATION WE COLLECT ABOUT YOU
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_1_content_3_body" role="tabpanel" aria-labelledby="m_section_1_content_3_head" data-parent="#m_section_1_content">
                      <div class="m-accordion__item-content">
                        <p>
                          Pencil may collect commercial and personal information about you and your business including, but not limited to your name, address, phone number, email, location, and any other information provided. For some services and products, pencil may also collect your information to enable verification of your identity or ABN, including information from CreditorWatch, ASIC, your passport or driver’s licence.
                        </p>
                        <p>
                          If you access any of our services through a social network site such as Facebook, we will collect limited information provided to us by that social network site, such as user name, site ID and email address.
                        </p>
                        <p>
                          We may also collect non-personal information about you including, but not limited to, data relating to your activities on the Website (including IP addresses) via tracking technologies such as cookies, web beacons and measurement software or data relating to survey responses.
                        </p>
                        <p>
                          You acknowledge that the personal information you provide us and which we collect from you, is your own information or information which you have been authorised to provide to us.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_4_head" data-toggle="collapse" href="#m_section_1_content_4_body" >
                      <span class="m-accordion__item-title">
                        HOW WE COLLECT YOUR PERSONAL INFORMATION
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_1_content_4_body" role="tabpanel" aria-labelledby="m_section_1_content_4_head" data-parent="#m_section_1_content">
                      <div class="m-accordion__item-content">
                        <p>
                          Pencil may collect personal information about you from a variety of sources including, but not limited to:
                        </p>
                        <p>
                          <ol type="a">
                            <li>Registering to use the Websites <a href="#" class="m-link m--font-boldest">www.pencil.one</a> account;</li>
                            <li>Logging in to use our Websites via your social networking site (“SNS“) account;</li>
                            <li>Subscribing to receive surveys or research, participating in promotions and competitions on the Websites or websites of our service providers;</li>
                            <li>Contacting us or our service providers for any reason including, but not limited to, reporting a problem with the Websites, requesting further services or seeking our assistance;</li>
                            <li>Posting or contributing material online regarding our websites.</li>
                            <li>Using our services and any credit provided by us, or our customer in connection with those services (see our Credit Reporting Policy below for more detail); and</li>
                          </ol>
                        </p>
                        <p>
                          Pencil may collect your personal information through our related bodies corporate, our service providers and third parties so that we may provide a better or more relevant service or product to you.
                        </p>
                        <p>
                          Pencil may approach other credit providers, existing or previous suppliers of goods or services, your bank and certain other businesses for the purposes of assessing your credit application.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_5_head" data-toggle="collapse" href="#m_section_1_content_5_body" >
                      <span class="m-accordion__item-title">
                        HOW WE USE YOUR PERSONAL INFORMATION
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_1_content_5_body" role="tabpanel" aria-labelledby="m_section_1_content_5_head" data-parent="#m_section_1_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We use the personal information we have collected largely for the purpose of providing you with products and services that you have requested, responding to your inquiries, creating and maintaining your account and ensuring you comply and adhere to our website terms of use.
                        </p>
                        <p>
                          More specifically, Pencil may use personal information which it has collected to:
                        </p>
                        <p>
                          <ol type="a">
                            <li>Ensure that content from the Websites is presented in the most effective manner for you and for your computer;</li>
                            <li>Provide a better level of service via presenting 3rd party services that may be complimentary to your business.</li>
                            <li>Combine your personal & commercial information with information that Pencil has collected from its service providers, third parties, cookies or web beacons in order to provide you with a better or more relevant and personalised experience and to improve the quality of its services and the services of third parties.</li>
                            <li>Respond to or provide you with service, products, information and assistance that you request from Pencil;</li>
                            <li>Contact you to conduct surveys, research and feedback about our products, services or the Websites;</li>
                            <li>Verify your identity when you register or log into our Websites via your SNS account and remind you of your password and username;</li>
                            <li>To assess your application for credit as a business in connection with our services;</li>
                            <li>By disclosing the information to debt collection agencies to recover any amounts you owe us, or our suppliers; and</li>
                            <li>Notify you about changes to our products and services.</li>
                          </ol>
                        </p>
                        <p>
                          If all or part of this information is not provided, we may not be able to provide these services.
                        </p>
                        <p>
                          If you submit personal information to us in relation to an employment opportunity with us, we may also use your personal information to:
                        </p>
                        <p>
                          <ol type="a">
                            <li>Consider you for the position for which you have submitted your personal information to us or any other positions that are or become available in the future;</li>
                            <li>Respond to you in relation to any future application you make for an employment opportunity with us; and</li>
                            <li>Contact your referees in order to collect the information you have consented to us collecting about you in order to consider you for employment opportunities with us.</li>
                          </ol>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                </div>
              </div>
              <!--begin::Section 1-->
              <!--begin::Section 2-->
              <div class="m-tabs-content__item" id="m_section_2">
                <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
                  3rd Party Marketing Policy
                </h4>
                <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_2_content">
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_2_content_1_head" data-toggle="collapse" href="#m_section_2_content_1_body" >
                      <span class="m-accordion__item-title">
                        USING AND DISCLOSING YOUR PERSONAL INFORMATION FOR MARKETING PURPOSES
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_2_content_1_body" role="tabpanel" aria-labelledby="m_section_2_content_1_head" data-parent="#m_section_2_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We may:
                        </p>
                        <p>
                          <ol type="a">
                            <li>Use your personal information to provide you with information about offers, promotions, goods or services, which we believe may be of interest to you; and</li>
                            <li>Share your information with our service providers and other third parties so that they can provide you with products or services on our behalf or help us to provide you with the requested products or services including contacting you in relation to the products or services.</li>
                          </ol>
                        </p>
                        <p>
                          If we do contact you by using your personal information in accordance with either of the above, we will give you the opportunity to request that your information not be used for further direct marketing in the future.
                        </p>
                        <p>
                          We may also, if you request us to by bundled consent, share your information with third parties so they may contact you directly about their offers, promotions, goods or services.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                </div>
              </div>
              <!--begin::Section 2-->
              <!--begin::Section 3-->
              <div class="m-tabs-content__item" id="m_section_3">
                <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
                  Disclosure of Personal Information Policy
                </h4>
                <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_3_content">
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_3_content_1_head" data-toggle="collapse" href="#m_section_3_content_1_body" >
                      <span class="m-accordion__item-title">
                        HOW WE DISCLOSE YOUR PERSONAL INFORMATION
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_3_content_1_body" role="tabpanel" aria-labelledby="m_section_3_content_1_head" data-parent="#m_section_3_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We may disclose personal information to our related bodies corporate, service providers or business partners.
                        </p>
                        <p>
                          We may also disclose your personal information:
                        </p>
                        <p>
                          <ol type="a">
                            <li>Suppliers of goods and services that we have partnership agreements with.</li>
                            <li>To third parties where you have requested information, services or products from.</li>
                            <li>
                              If you apply to us for credit, to:
                              <ol type="i">
                                <li>Credit reporting bodies (for the purpose of obtaining credit reporting information about you and other permitted purposes – see our Credit Reporting Policy below for more details); and</li>
                                <li>Other credit providers, existing or previous suppliers of goods or services, your bank and certain other businesses for the purposes of assessing your application;</li>
                              </ol>
                            </li>
                            <li>Relevant public, government or regulatory authorities, our legal representatives or other concerned parties, in special situations where we have reason to believe that disclosing your personal information is necessary to help identify, contact or bring legal action against anyone damaging, injuring, or interfering (intentionally or unintentionally) with our rights or property, users or anyone else who could be harmed by such activities; and</li>
                            <li>Where we are otherwise authorised or required by law to do so.</li>
                          </ol>
                        </p>
                        <p>
                          We are not responsible for the way these organisations collect, use, disclose or handle personal information you provide to them through our Websites.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                   <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_3_content_2_head" data-toggle="collapse" href="#m_section_3_content_2_body" >
                      <span class="m-accordion__item-title">
                        DISCLOSURE AND STORAGE OF PERSONAL & COMMERCIAL INFORMATION OUTSIDE AUSTRALIA
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_3_content_2_body" role="tabpanel" aria-labelledby="m_section_3_content_2_head" data-parent="#m_section_3_content">
                      <div class="m-accordion__item-content">
                        <p>
                          Personal & commercial information submitted by Pencil’s customers and visitors may be held on servers located in Australia or in data centres in Asia. We transfer data outside of Australia to our service providers in order to obtain secure storage, back-up and data retrieval services and to provide services. When you provide us with your personal or commercial information you give us your consent to store your personal information outside of Australia for the purposes described above.
                        </p>
                        <p>
                          Where we have obtained your consent to do so, we may also share your personal and commercial information with our service providers and other third parties located outside Australia so that they can provide you with any products or services requested by you, including contacting you in relation to the products or services. As these entities are located outside of Australia, they are not required to comply with the Privacy Act and you will not be able to seek any redress under the Privacy Act in connection with the use of your information.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                   <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_3_content_3_head" data-toggle="collapse" href="#m_section_3_content_3_body" >
                      <span class="m-accordion__item-title">
                        SECURITY
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_3_content_3_body" role="tabpanel" aria-labelledby="m_section_3_content_3_head" data-parent="#m_section_3_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We strive to ensure the security, integrity and privacy of personal & commercial information we collect. We have established safeguards and use reasonable security measures to protect your personal information from unauthorised access, modification and disclosure. Our employees, contractors, agents and service providers who provide services related to our information systems, are obliged to respect the confidentiality of any personal & commercial information held by us. We review and update our security measures in light of current technologies. Unfortunately, no data transmission over the internet can be guaranteed to be totally secure.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                   <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_3_ontent_4_head" data-toggle="collapse" href="#m_section_3_content_4_body" >
                      <span class="m-accordion__item-title">
                        CORRECTION AND ACCESS
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_3_content_4_body" role="tabpanel" aria-labelledby="m_section_3_content_4_head" data-parent="#m_section_3_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We will endeavour to take all reasonable steps to keep accurate and up to date, any information which we hold about you. If, at any time, you discover that information held about you is incorrect or you would like to review and confirm the accuracy of your personal information, you can get in touch.
                        </p>
                        <p>
                          You can also gain access to the personal information we hold about you, subject to certain exceptions provided for by law. To request access to your personal information, please get in touch.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                   <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_3_content_5_head" data-toggle="collapse" href="#m_section_3_content_5_body" >
                      <span class="m-accordion__item-title">
                        COMPLAINTS RESOLUTION
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_3_content_5_body" role="tabpanel" aria-labelledby="m_section_3_content_5_head" data-parent="#m_section_3_content">
                      <div class="m-accordion__item-content">
                        <p>
                          If at any time you have any concerns, complaints or questions in relation to you or your businesses privacy, or the general, Pencil business, please get in touch. so that we may resolve your concerns.
                        </p>
                        <p>
                          Our team will consider your query and endeavour to respond to you promptly.
                        </p>
                        <p>
                          For more information about privacy issues in Australia and protecting your privacy, visit the Office of the Australian Information Commissioner.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                </div>
              </div>
              <!--begin::Section 3-->
              <!--begin::Section 4-->
              <div class="m-tabs-content__item" id="m_section_4">
                <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
                  Credit Reporting Policy
                </h4>
                <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_4_content">
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_4_content_1_head" data-toggle="collapse" href="#m_section_4_content_1_body" >
                      <span class="m-accordion__item-title">
                        CREDIT REPORTING POLICY
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_4_content_1_body" role="tabpanel" aria-labelledby="m_section_4_content_1_head" data-parent="#m_section_4_content">
                      <div class="m-accordion__item-content">
                        <p>
                          Credit applications by businesses for our services
                        </p>
                        <p>
                          Pencil & it’s suppliers provide ‘commercial credit’ for the purposes of the Privacy Act to businesses who apply for credit in relation to our services. We do not provide any consumer credit.
                        </p>
                        <p>
                          References to “you” and “your” in this credit reporting policy are references to individuals in relation to whom we hold credit information or credit eligibility information for the purposes of the Privacy Act in connection with such credit. This policy provides details about our management of such information.
                        </p>
                        <p>
                          How we collect and hold ‘credit information’ and ‘credit eligibility information’ about you:
                        </p>
                        <p>
                          “Credit information” relates mainly to your credit-related dealings with us and comprises various types of information that can be collected by credit reporting bodies (“CRBs“) that report on consumer credit worthiness. We may collect or generate various categories of ‘credit information’ about you.
                        </p>
                        <p>
                          We may also collect “credit worthiness information” about you and your business, which is mostly information provided by CRBs relating to your dealings with other credit providers (for example, financial institutions that provide you with loans or other businesses that provide you with credit in connection with their products or services).
                        </p>
                        <p>
                          “Credit information” and “credit eligibility information” may include:
                        </p>
                        <p>
                          <ol type="a">
                            <li>Identification information: such as your name, address and date of birth.</li>
                            <li>Details about information requests made to CRBs: such as the fact that we or another credit provider have requested credit reporting information about you from a CRB to assess a credit application and various details about the credit you have applied for;</li>
                            <li>Payment information: being information that an overdue payment has been repaid;</li>
                            <li>Information about consumer & commercial credit-related serious credit infringements;</li>
                            <li>New arrangement information: being information about certain credit-related arrangements you may have entered with another credit provider in connection with a consumer or commercial credit default or serious credit infringement;</li>
                            <li>Court proceedings information: being information about certain credit-related judgments;</li>
                            <li>Personal insolvency information: being information recorded in the National Personal Insolvency Index about bankruptcy or various other insolvency-related matters;</li>
                            <li>Publicly available information about activities relating to credit worthiness.</li>
                          </ol>
                        </p>
                        <p>
                          Credit eligibility also includes credit worthiness information that we may derive from data we receive from a CRB, such as a credit risk score.
                        </p>
                        <p>
                          We may collect credit information about you or your business in any of the circumstances described above under the heading “How we collect your personal information” above. We collect credit eligibility information from CRBs but may collect it from other third parties where permitted by the Privacy Act (such as from other credit providers with your consent).
                        </p>
                        <p>
                          We store and safeguard your credit information and credit eligibility information in the manner described under the headings “Disclosure and storage of personal information outside Australia” and “Security” above.
                        </p>
                        <p>
                          Disclosure of you, as well as your business credit information & eligibility.
                        </p>
                        <p>
                          We may disclose you and your business credit information to CRBs. Those CRBs may then include that information in credit reporting information that they provide to other credit providers to assist them to assess your credit worthiness. For example, we may disclose to a CRB the type of commercial credit, and the amount of credit, sought in your application for credit with us. We may also use and disclose your credit information for other purposes and in other circumstances as described under the headings “How we use your personal information” and “How we disclose your personal information” above when permitted to do so by the Privacy Act.
                        </p>
                        <p>
                          Our use and disclosure of credit eligibility information is regulated by provisions of Part IIIA of the Privacy Act and the Credit Reporting Privacy Code. We will only use or disclose such information for purposes permitted by these provisions, such as:
                        </p>
                        <p>
                          <ol type="a">
                            <li>To process an application for credit with us in relation to our services;</li>
                            <li>To process an application for credit with our suppliers for goods and services;</li>
                            <li>To process an application with one of our listed commercial credit partners with your consent.</li>
                            <li>To manage commercial credit, we collect overdue payments; or</li>
                            <li>Where a disclosure is required or authorised under an Australian law or a court/tribunal order.</li>
                          </ol>
                        </p>
                        <p>
                          In some cases, the people to whom we may disclose your credit information or credit eligibility information may be based outside Australia – see the heading “Disclosure and storage of personal information outside Australia” above for more details.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_4_content_2_head" data-toggle="collapse" href="#m_section_4_content_2_body" >
                      <span class="m-accordion__item-title">
                        CREDIT REPORTING COMPLIANCE
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_4_content_2_body" role="tabpanel" aria-labelledby="m_section_4_content_2_head" data-parent="#m_section_4_content">
                      <div class="m-accordion__item-content">
                        <p>
                          If at any time you would like to make a complaint about whether we have complied with the Privacy Act or with the Credit Reporting Privacy Code, please contact our team at <a href="#" class="m-link m--font-boldest">hello@pencil.one</a> so that we may resolve your concerns.
                        </p>
                        <p>
                          If you make such a complaint, we will write to you with 7 days acknowledging that we have received your complaint and setting out how we will deal with it. We will aim to investigate and resolve your complaint within 30 days. We may need to more than 30 days to resolve your complaint, we will advise you of the reasons for the delay and reserve the right to extend this day period.
                        </p>
                        <p>
                          If you are not satisfied with our handling of your complaint, you can refer your complaint to our external dispute resolution service provider, Credit Ombudsman Service Limited (COSL). Please only do this once you have complained directly to us as described above.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                </div>
              </div>
              <!--begin::Section 4-->
              <!--begin::Section 5-->
              <div class="m-tabs-content__item" id="m_section_5">
                <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
                  Online Policy
                </h4>
                <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_5_content">
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_5_content_1_head" data-toggle="collapse" href="#m_section_5_content_1_body" >
                      <span class="m-accordion__item-title">
                        Links To Other Web Sites
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_5_content_1_body" role="tabpanel" aria-labelledby="m_section_5_content_1_head" data-parent="#m_section_5_content">
                      <div class="m-accordion__item-content">
                        <p>
                          Our Service may contain links to third-party web sites or services that are not owned or controlled by Pencil.One Pty Ltd.
                        </p>
                        <p>
                          Pencil.One Pty Ltd has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Pencil.One Pty Ltd shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                        </p>
                        <p>
                          We only provide links to external websites as a convenience, and the inclusion of such a link to external websites do not imply our endorsement of those websites. You acknowledge and agree that when you access other websites on the Internet, you do so at your own risk.  We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_5_content_2_head" data-toggle="collapse" href="#m_section_5_content_2_body" >
                      <span class="m-accordion__item-title">
                        Log Data
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_5_content_2_body" role="tabpanel" aria-labelledby="m_section_5_content_2_head" data-parent="#m_section_5_content">
                      <div class="m-accordion__item-content">
                        <p>
                          We may also collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, thepages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
                        </p>
                        <p>
                          In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                  <!--begin::Item-->
                  <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_5_content_3_head" data-toggle="collapse" href="#m_section_5_content_3_body" >
                      <span class="m-accordion__item-title">
                        Cookies
                      </span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="m_section_5_content_3_body" role="tabpanel" aria-labelledby="m_section_5_content_3_head" data-parent="#m_section_5_content">
                      <div class="m-accordion__item-content">
                        <p>
                          Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
                        </p>
                        <p>
                          We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
                        </p>
                        <p>
                          We send a session cookie to your computer when you log in to your User account. This type of cookie helps if you visit multiple pages on the Service during the same session, so that you don't need to enter your password on each page. Once you log out or close your browser, this cookie expires.
                        </p>
                        <p>
                          We also use longer-lasting cookies for other purposes such as to display your Content and account information. We encode our cookie so that only we can interpret the information stored in them. Users always have the option of disabling cookies via their browser preferences. If you disable cookies on your browser, please note that some parts of our Service may not function as effectively or may be considerably slower.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end::Item-->
                </div>
              </div>
              <!--begin::Section 5-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Portlet-->
  </div>
</div>
