<div class="container">
  <div class="m-content">
  <!--begin::Portlet-->
  <div class="m-portlet m-portlet--space">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Terms of Use
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item"></li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-tabs-content" id="m_sections">
        <!--begin::Section 1-->
        <div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
          <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20"></h4>
          <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_1_content">
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content_1_body" >
                <!-- Icon for item title
                <span class="m-accordion__item-icon">
                  <i class="flaticon-gift"></i>
                </span> -->
                <span class="m-accordion__item-title">
                  Website terms of Use
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    Your access to and use of the service is conditional on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. You warrant that you are at least 18 years of age and you are legally capable of entering into binding contracts. If you are under 18 years, you warrant that you have obtained consent from your parent or guardian and they agree to be bound by these Terms on your behalf.
                  </p>
                  <p>
                    By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
                  </p>
                  <!-- Example for boldest link
                  <p>
                    <a href="#" class="m-link m--font-boldest">
                      Example boldest link
                    </a>
                  </p> -->
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_2_head" data-toggle="collapse" href="#m_section_1_content_2_body" >
                <span class="m-accordion__item-title">
                  Accounts
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_2_body" role="tabpanel" aria-labelledby="m_section_1_content_2_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
                  </p>
                  <p>
                    You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
                  </p>
                  <p>
                    You agree not to disclose your password to any third party. You agree to be fully responsible for activities that relate to your account or your password. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_3_head" data-toggle="collapse" href="#m_section_1_content_3_body" >
                <span class="m-accordion__item-title">
                  Termination
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_3_body" role="tabpanel" aria-labelledby="m_section_1_content_3_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                  </p>
                  <p>
                    Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
                  </p>
                  <p>
                    All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                  </p>
                  <p>
                    We shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by us in connection therewith.
                  </p>
                  <p>
                    If applicable law requires us to provide notice of termination or cancellation, we may give prior or subsequent notice by posting it on the Service or by sending a communication to any address (email or otherwise) that we have for you in our records.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_4_head" data-toggle="collapse" href="#m_section_1_content_4_body" >
                <span class="m-accordion__item-title">
                  Indemnification
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_4_body" role="tabpanel" aria-labelledby="m_section_1_content_4_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    As a condition of your access to and use of the Service, you agree to indemnify us and our successors and assigns for all damages, costs, expenses and other liabilities, including but not limited to legal fees and expenses, relating to any claim arising out of or related to your access to and use of the Service or your breach of these Terms and any applicable law or the rights of another person or party.
                  </p>
                  <p>
                    This indemnification section survives the expiration of your registration, and applies to claims arising both before and after the registration ends.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_5_head" data-toggle="collapse" href="#m_section_1_content_5_body" >
                <span class="m-accordion__item-title">
                  Limitation of Liability
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_5_body" role="tabpanel" aria-labelledby="m_section_1_content_5_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    You agree that we shall not be liable for any damages suffered as a result of you using the Service, copying, distributing, or downloading Content from the Service.
                  </p>
                  <p>
                    In no event shall we be liable for any indirect, punitive, special, incidental or consequential damage (including loss of business, revenue, profits, use, privacy, data, goodwill or other economic advantage) however it arises, whether for breach of contract or in tort, even if we havebeen previously advised of the possibility of such damage.
                  </p>
                  <p>
                    You have sole responsibility for adequate security protection and backup of data and/or equipment used in connection with your usage of the Service and will not make a claim against us for lost data, re-run time, inaccurate instruction, work delays or lost profits resulting from the use of the Service. You must not assign or otherwise dispose of your account to any other person. Without limiting the foregoing, in no event will our aggregate liability to you exceed, in total, the amounts paid by you to us.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_6_head" data-toggle="collapse" href="#m_section_1_content_6_body" >
                <span class="m-accordion__item-title">
                  Disclaimer
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_6_body" role="tabpanel" aria-labelledby="m_section_1_content_6_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
                  </p>
                  <p>
                    Pencil.One Pty Ltd its subsidiaries, affiliates, and its licensors do not warrant that:
                  </p>
                  <p>
                    <ol type="a">
                      <li>The Service will function uninterrupted or available at any particular time or location;</li>
                      <li>Any errors or defects will be corrected;</li>
                      <li>The Service is free of viruses or other harmful components; or</li>
                      <li>The results of using the Service will meet your requirements.</li>
                    </ol>
                  </p>
                  <p>
                    This disclaimer of liability applies to any damages or injury caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft, or destruction or unauthorized access or, alteration of or use of record in connection with the use or operation of the Service, whether for breach of contract, tortious behaviour, negligence or any other cause of action.
                  </p>
                  <p>
                    We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability for or availability of the content contained on the Service for any purpose. Any reliance you place on such information is therefore strictly at your own risk. We disclaim any express or implied warranty representation or guarantee as to the effectiveness or profitability of the Service or that the operation of our Service will be uninterrupted or error-free. We are not liable for the consequences of any interruptions or error in the Service.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_7_head" data-toggle="collapse" href="#m_section_1_content_7_body" >
                <span class="m-accordion__item-title">
                  Exclusions
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_7_body" role="tabpanel" aria-labelledby="m_section_1_content_7_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you. Any specific exclusions or limitations which may not be permitted in a jurisdiction are formally excluded but only in respect of that jurisdiction and without affecting those exclusions or limitations which remain in these Terms.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_8_head" data-toggle="collapse" href="#m_section_1_content_8_body" >
                <span class="m-accordion__item-title">
                  Governing Law
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_8_body" role="tabpanel" aria-labelledby="m_section_1_content_8_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    These Terms shall be governed and construed in accordance with the laws of Victoria, Australia, without regard to its conflict of law provisions.
                  </p>
                  <p>
                    Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_9_head" data-toggle="collapse" href="#m_section_1_content_9_body" >
                <span class="m-accordion__item-title">
                  Changes
                </span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse show" id="m_section_1_content_9_body" role="tabpanel" aria-labelledby="m_section_1_content_9_head" data-parent="#m_section_1_content">
                <div class="m-accordion__item-content">
                  <p>
                    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 14 days notice prior to any new terms taking effect.
                  </p>
                  <p>
                    It is your sole responsibility to periodically check these Terms for any changes. If you do not agree with any of the changes to these Terms, it is your sole responsibility to stop using the Service. Your continued use of the Service will be deemed as your acceptance thereof.
                  </p>
                </div>
              </div>
            </div>
            <!--end::Item-->
          </div>
        </div>
        <!--begin::Section 1-->
      </div>
    </div>
  </div>
  <!--end::Portlet-->
  </div>
</div>
