<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuws8pkQ23eJBXD4vmzO2mD9XsqEFjca4&libraries=places"></script>
<script>
  var logo_path = "<%= asset_path('pencil-logo.png') %>";
  var user_signed_in = <%= user_signed_in? ? 'true' : 'false' %>;
  <%
  current_user_email = current_user.present? ? current_user[:email] : ''
  %>
  var current_user_email = '<%= current_user_email %>';
  var login_link = '/users/sign_in';
</script>

<div id="pencil_root"></div>
