<table class="m-datatable text-center" id="venue_details_table" width="100%">
  <thead>
    <tr>
      <th title="No">#</th>
      <!-- Venue Application Form information -->
      <th title="Trading Name">Trading Name</th>
      <th title="Company Name">Company Name</th>
      <th title="ABN">ABN</th>
      <th title="Trading Address">Trading Address</th>
      <th title="Directors Signed">Directors Signed</th>
      <th title="Directors have been bankrupt">Directors have been bankrupt</th>
      <!-- Apply for Credit information -->
      <th title="Supplier">Supplier</th>
      <th title="Trading Term">Trading Term</th>
      <th title="Credit Limit">Credit Limit</th>
      <th title="Personal Guarantees Signed">Personal Guarantees Signed</th>
      <th title="Created By">Created By</th>
      <th title="Created At">Created At</th>
      <th title="Status">Status</th>
      <!-- Actions on Venue Application Form -->
      <th title="Actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% venues.each_with_index do |venue_form, v_index| %>
      <%
          apply_supplier_credit_forms = venue_form.apply_supplier_credit_forms.includes(:supplier, :trading_terms_setting, :created_by)

          is_signed_by_all_directors = venue_form.is_signed_by_all_directors?
      %>

      <% if apply_supplier_credit_forms.blank? %>
        <tr>
          <td><%= (v_index + 1) %></td>
          <!-- Venue Application Form information -->
          <td><%= venue_form[:trading_name] %></td>
          <td><%= venue_form[:company_name] %></td>
          <td><%= venue_form[:company_abn] %></td>
          <td>
            <%= "#{venue_form[:trading_street_number]} #{venue_form[:trading_street_name]}
              #{venue_form[:trading_street_type]} #{venue_form[:trading_suburb]}
              #{venue_form[:trading_state]}" %>
          </td>
          <td>
            <% if is_signed_by_all_directors %>
              <%= "Yes" %>
            <% elsif venue_form.is_signed_by_director %>
              <%= venue_form.get_quantity_of_directors_have_signed %>
            <% else %>
              <%= "No" %>
            <% end %>
          </td>
          <td>
            <% if venue_form.is_all_directors_have_been_bankrupt? %>
              <%= "Yes" %>
            <% elsif venue_form.has_directors_have_been_bankrupt? %>
              <%= venue_form.get_quantity_of_directors_have_have_been_bankrupt %>
            <% else %>
              <%= "No" %>
            <% end %>
          </td>
          <!-- Apply for Credit information -->
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <!-- Actions on Venue Application Form -->
          <td>
            <a href="<%= venue_form.get_review_url %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Review">
              <i class="la flaticon-file-1"></i>
            </a>
            <a href="<%= venue_application_form_venue_form_token_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
              <i class="la la-edit"></i>
            </a>
            <% if !is_signed_by_all_directors %>
              <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Send Email" data-toggle="modal" data-target="#<%= "send_mail_director_#{venue_form[:id]}" %>">
                <i class="fa fa-envelope-o"></i>
              </a>
            <% end %>
            <a href="<%= venue_application_form_destroy_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
              title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
              <i class="la la-trash"></i>
            </a>
          </td>
        </tr>
        <% if !is_signed_by_all_directors %>
          <%= render 'send_email_directors', url: admin_admin_venues_send_email_directors_path(venue_form[:id]), directors: venue_form.directors, modal_id: "send_mail_director_#{venue_form[:id]}" %>
        <% end %>
      <% else %>
        <% apply_supplier_credit_forms.each_with_index do |apply_credit_form, a_index| %>
          <%
            is_signed_by_all_personal_guarantees = apply_credit_form.is_signed_by_all_personal_guarantees?
          %>
          <tr>
            <td><%= (v_index + 1) * (a_index + 1) %></td>
            <!-- Venue Application Form information -->
            <td><%= venue_form[:trading_name] %></td>
            <td><%= "#{venue_form[:trading_name]} #{venue_form[:operating_structure]}" %></td>
            <td><%= venue_form[:company_abn] %></td>
            <td>
              <%= "#{venue_form[:trading_street_number]} #{venue_form[:trading_street_name]}
                #{venue_form[:trading_street_type]} #{venue_form[:trading_suburb]}
                #{venue_form[:trading_state]}" %>
            </td>
            <td>
              <% if is_signed_by_all_directors %>
                <%= "Yes" %>
              <% elsif venue_form.is_signed_by_director %>
                <%= venue_form.get_quantity_of_directors_have_signed %>
              <% else %>
                <%= "No" %>
              <% end %>
            </td>
            <td>
              <% if venue_form.is_all_directors_have_been_bankrupt? %>
                <%= "Yes" %>
              <% elsif venue_form.has_directors_have_been_bankrupt? %>
                <%= venue_form.get_quantity_of_directors_have_have_been_bankrupt %>
              <% else %>
                <%= "No" %>
              <% end %>
            </td>
            <!-- Apply for Credit information -->
            <td><%= apply_credit_form.supplier[:company_name] %></td>
            <td><%= apply_credit_form.trading_terms_setting[:trading_term] %></td>
            <td>
              <%= number_to_currency(apply_credit_form[:credit_limit], unit: "", separator: ".", delimiter: ",", precision: 0) %>
            </td>
            <td>
              <% if is_signed_by_all_personal_guarantees %>
                <%= "Yes" %>
              <% elsif apply_credit_form.is_signed_by_personal_guarantee? %>
                <%= apply_credit_form.get_quantity_of_personal_guarantees_have_signed %>
              <% else %>
                <%= "No" %>
              <% end %>
            </td>
            <td><%= apply_credit_form.created_by[:email] %></td>
            <td><%= pretty_format_date(apply_credit_form[:created_at], '%d-%m-%Y %H:%M:%S') %></td>
            <td><%= apply_credit_form.get_status_name %></td>
            <!-- Actions on Venue Application Form -->
            <td>
              <a href="<%= venue_form.get_review_url %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Review">
                <i class="la flaticon-file-1"></i>
              </a>
              <a href="<%= venue_application_form_venue_form_token_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                <i class="la la-edit"></i>
              </a>
              <% unless !apply_credit_form[:active] || apply_credit_form.is_no_signature_required? || (venue_form.is_signed_by_all_directors? && is_signed_by_all_personal_guarantees) %>
                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Send Email" data-toggle="modal" data-target="#<%= "send_mail_pg_#{apply_credit_form[:id]}" %>">
                  <i class="fa fa-envelope-o"></i>
                </a>
              <% end %>
              <a href="<%= venue_application_form_destroy_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                <i class="la la-trash"></i>
              </a>
            </td>
          </tr>
          <% unless !apply_credit_form[:active] || apply_credit_form.is_no_signature_required? || (venue_form.is_signed_by_all_directors? && is_signed_by_all_personal_guarantees) %>
            <%= render 'send_email_pgs', url: admin_admin_venues_send_email_pgs_path(apply_credit_form[:id]), pgs: apply_credit_form.personal_guarantees, modal_id: "send_mail_pg_#{apply_credit_form[:id]}", directors: venue_form.directors, is_all_directors_signed: is_signed_by_all_directors, is_all_pgs_signed: is_signed_by_all_personal_guarantees, apply_credit_form: apply_credit_form %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
