<table class="m-datatable text-center" id="venue_details_table" width="100%">
  <thead>
    <tr>
      <th title="No">#</th>
      <th title="Trading Name">Trading Name</th>
      <th title="Company Name">Company Name</th>
      <th title="ABN">ABN</th>
      <th title="Trading Address">Trading Address</th>
      <th title="Directors Signed">Directors Signed</th>
      <th title="Directors have been bankrupt">Directors have been bankrupt</th>
      <th title="Created At">Created At</th>
      <th title="Actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% venues.each_with_index do |venue_form, index| %>
      <%
          is_signed_by_all_directors = venue_form.is_signed_by_all_directors?
      %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= venue_form[:trading_name] %></td>
        <td><%= venue_form[:company_name] %></td>
        <td><%= venue_form[:company_abn] %></td>
        <td>
          <%= "#{venue_form[:trading_street_number]} #{venue_form[:trading_street_name]}
            #{venue_form[:trading_street_type]} #{venue_form[:trading_suburb]}
            #{venue_form[:trading_state]}" %>
        </td>
        <td>
          <% if is_signed_by_all_directors %>
            <%= "Yes" %>
          <% elsif venue_form.is_signed_by_director %>
            <%= venue_form.get_quantity_of_directors_have_signed %>
          <% else %>
            <%= "No" %>
          <% end %>
        </td>
        <td>
          <% if venue_form.is_all_directors_have_been_bankrupt? %>
            <%= "Yes" %>
          <% elsif venue_form.has_directors_have_been_bankrupt? %>
            <%= venue_form.get_quantity_of_directors_have_have_been_bankrupt %>
          <% else %>
            <%= "No" %>
          <% end %>
        </td>
        <td><%= pretty_format_date(venue_form[:created_at], '%d-%m-%Y') %></td>
        <td>
          <a href="<%= venue_form.get_review_url %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Review">
            <i class="la flaticon-file-1"></i>
          </a>
          <a href="<%= venue_application_form_venue_form_token_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
            <i class="la la-edit"></i>
          </a>
          <a href="<%= venue_application_form_destroy_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
            title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
            <i class="la la-trash"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
