<!--begin::Import Venues Modal-->
<div class="modal fade" id="export_venues_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
          Export Venue / Apply Credit Forms
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-remove"></span>
        </button>
      </div>
      <%= form_with(url: admin_admin_export_venues_path(format: :csv), local: true, method: :post, html: { class: "m-form m-form--fit m-form--label-align-right", id: "export_venues_form" }) do |form| %>
        <div class="modal-body">
          <div class="form-group m-form__group row m--margin-top-20">
            <label for="export_venues_option" class="col-form-label col-md-3 col-sm-12">
              Export venue / apply credit forms:
            </label>
            <div class="col-md-9 col-sm-12 row">
              <div class="col-md-12">
                <label class="m-option m-option m-option--plain">
                  <span class="m-option__control">
                    <span class="m-radio m-radio--brand m-radio--check-bold">
                      <input type="radio" name="venue_export_options[venue_option]" value="venue" checked >
                      <span></span>
                    </span>
                  </span>
                  <span class="m-option__label">
                    <span class="m-option__head">
                      <span class="m-option__title">
                        Venue Forms
                      </span>
                    </span>
                    <span class="m-option__body">
                      Export venue application forms.
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-md-12">
                <label class="m-option m-option m-option--plain">
                  <span class="m-option__control">
                    <span class="m-radio m-radio--brand m-radio--check-bold">
                      <input type="radio" name="venue_export_options[venue_option]" value="apply_credit" >
                      <span></span>
                    </span>
                  </span>
                  <span class="m-option__label">
                    <span class="m-option__head">
                      <span class="m-option__title">
                        Apply Credit Forms
                      </span>
                    </span>
                    <span class="m-option__body">
                      Export apply supplier credit forms.
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <% if current_user.is_admin? %>
            <div class="form-group m-form__group row m--margin-bottom-20">
              <label for="export_venues_option" class="col-form-label col-md-3 col-sm-12">
                Export options:
              </label>
              <div class="col-md-9 col-sm-12 row">
                <div class="col-md-12">
                  <label class="m-option m-option m-option--plain">
                    <span class="m-option__control">
                      <span class="m-radio m-radio--brand m-radio--check-bold">
                        <input type="radio" name="venue_export_options[export_option]" value="all" checked>
                        <span></span>
                      </span>
                    </span>
                    <span class="m-option__label">
                      <span class="m-option__head">
                        <span class="m-option__title">
                          All
                        </span>
                      </span>
                      <span class="m-option__body">
                        Export All Venue forms / Apply credit forms.
                      </span>
                    </span>
                  </label>
                </div>
                <div class="col-md-12">
                  <label class="m-option m-option m-option--plain">
                    <span class="m-option__control">
                      <span class="m-radio m-radio--brand m-radio--check-bold">
                        <input type="radio" name="venue_export_options[export_option]" value="supplier" id="supplier_option">
                        <span></span>
                      </span>
                    </span>
                    <span class="m-option__label">
                      <span class="m-option__head">
                        <span class="m-option__title">
                          Choose a Supplier
                        </span>
                      </span>
                      <span class="m-option__body">
                        <%= form.select("venue_export_options[supplier_id]",
                          options_from_collection_for_select(Supplier.order(company_name: :asc), :id, :company_name), {},
                          { class: 'm-select2 form-control', id: "export_suppliers_select" }) %>
                      </span>
                      <span class="m-option__body">
                        Export Venue forms / Apply credit forms connected to the selected supplier.
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-brand m-btn">
            Export
          </button>
          <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
            Close
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--end::Export Venues Modal-->
