<!--begin::Import Venues Modal-->
<div class="modal fade" id="import_venues_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
          Import Venue / Apply Credit Forms
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-remove"></span>
        </button>
      </div>
      <%= form_with(url: admin_admin_import_venues_path, local: true, method: :post, multipart: true, html: { class: "m-form m-form--fit m-form--label-align-right", id: "import_venues_form" }) do |form| %>
        <div class="modal-body">
          <div class="form-group m-form__group row m--margin-top-20">
            <label class="col-form-label col-md-3 col-sm-12" >
              Venue forms:
            </label>
            <div class="custom-file col-md-9 col-sm-12">
              <input type="file" name="venues[venues_file]" class="custom-file-input" id="venues_file">
              <label class="custom-file-label" for="venues[venues_file]">
                Choose a csv file
              </label>
            </div>
          </div>

          <% if current_user.is_supplier? %>
          <div class="form-group m-form__group row">
            <label class="col-form-label col-md-3 col-sm-12" >
            </label>
            <div class="col-md-9 col-sm-12">
              <label class="m-checkbox m-checkbox--brand m-checkbox--check-bold">
                <input type="checkbox" name="venues[create_default_ascfs]" value="create_default_ascfs" checked >
                Create Default Apply Supplier Credit Forms
                <span></span>
              </label>
            </div>
          </div>
          <% end %>

          <div class="form-group m-form__group row">
            <label class="col-form-label col-md-3 col-sm-12" >
              Apply credit forms:
            </label>
            <div class="custom-file col-md-9 col-sm-12">
              <input type="file" name="venues[apply_credit_file]" class="custom-file-input" id="apply_credit_file">
              <label class="custom-file-label" for="venues[apply_credit_file]">
                Choose a csv file
              </label>
            </div>
          </div>
          <div class="form-group m-form__group row m--margin-bottom-20">
            <label class="col-form-label col-md-3 col-sm-12" >
            </label>
            <div class="custom-file col-md-9 col-sm-12">
              <div class="row">
                <div class="col-md-2 col-sm-12">
                  <label class="m-radio m-radio--brand m-radio--check-bold">
                    <input type="radio" name="venues[import_option]" id="all_option" value="all_option" <%= current_user.is_admin? ? "checked" : "" %> >
                    All
                    <span></span>
                  </label>
                </div>
                <div class="col-md-5 col-sm-12">
                  <label class="m-radio m-radio--brand m-radio--check-bold">
                    <input type="radio" name="venues[import_option]" id="venue_only" value="venue_only" <%= current_user.is_supplier? ? "checked" : "" %> >
                    Import Venue Forms Only
                    <span></span>
                  </label>
                </div>
                <div class="col-md-5 col-sm-12">
                  <label class="m-radio m-radio--brand m-radio--check-bold">
                    <input type="radio" name="venues[import_option]" id="apply_credit_only" value="apply_credit_only" >
                    Import Apply Credit Forms Only
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-brand m-btn">
            Import
          </button>
          <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
            Close
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--end::Import Venues Modal-->
