<!--begin::Reject Apply Credit Modal-->
<div class="modal fade reject_credit_limit" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
          Reject Apply Credit
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-remove"></span>
        </button>
      </div>
      <%= form_with(url: admin_admin_venues_send_credit_limit_path(apply_credit_form[:id]), local: true, method: :post, html: { class: "m-form m-form--fit m-form--label-align-right", id: "reject_apply_credit_form" }) do |form| %>
        <div class="modal-body">
          <div class="form-group m-form__group row m--margin-top-20">
            <label class="col-form-label col-lg-3 col-sm-12" >
              New Credit Limit:
            </label>
            <div class="custom-file col-lg-9 col-md-9 col-sm-12">
              <%= form.text_field "reject_apply_credit[supplier_credit_limit]", id: :supplier_credit_limit, class: 'form-control m-input currency text-align-left', placeholder: 'New Credit Limit' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-brand m-btn">
            Send New Credit Limit
          </button>
          <a href="<%= admin_admin_venues_reject_path(apply_credit_form[:id]) %>" class="btn btn-metal m-btn">
            Confirm Rejection
          </a>
          <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
            Close
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--end::Reject Apply Credit Modal-->
