<!--begin::Send Email Modal-->
<div class="modal fade send_email_modal" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
          Send Email
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-remove"></span>
        </button>
      </div>
      <%= form_with(url: url, local: true, method: :post, html: { class: "m-form m-form--fit m-form--label-align-right send_email_pg_form", id: "send_email_pg_form" }) do |form| %>
        <div class="modal-body">
          <% if !is_all_directors_signed %>
            <div class="form-group m-form__group row m--margin-top-20">
              <label for="export_venues_option" class="col-form-label col-lg-3 col-sm-12">
                Directors:
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12 row">
                <%
                  d_all_attrs = ""
                  d_single_disable = ""

                  if directors.blank?
                    d_all_attrs = "disabled"
                    d_single_disable = "disabled"
                  end
                %>
                <div class="col-lg-12">
                  <label class="m-option m-option m-option--plain">
                    <span class="m-option__control">
                      <span class="m-radio m-radio--brand m-radio--check-bold">
                        <input type="radio" name="send_email[directors_option]" value="all" <%= d_all_attrs %> >
                        <span></span>
                      </span>
                    </span>
                    <span class="m-option__label">
                      <span class="m-option__head">
                        <span class="m-option__title">
                          All
                        </span>
                      </span>
                      <span class="m-option__body">
                        Send email to All Directors.
                      </span>
                    </span>
                  </label>
                </div>
                <div class="col-lg-12">
                  <label class="m-option m-option m-option--plain">
                    <span class="m-option__control">
                      <span class="m-radio m-radio--brand m-radio--check-bold">
                        <input type="radio" name="send_email[directors_option]" value="single_director" id="single_director_option" <%= d_single_disable %> >
                        <span></span>
                      </span>
                    </span>
                    <span class="m-option__label">
                      <span class="m-option__head">
                        <span class="m-option__title">
                          Choose a Director
                        </span>
                      </span>
                      <span class="m-option__body">
                        <%= form.select("send_email[director_id]",
                          options_from_collection_for_select(directors, :id, :email), {},
                          { class: 'form-control director-mail-select2' }) %>
                      </span>
                      <span class="m-option__body">
                        Send email to the selected director.
                      </span>
                    </span>
                  </label>
                </div>
                <div class="col-lg-12">
                  <label class="m-option m-option m-option--plain">
                    <span class="m-option__control">
                      <span class="m-radio m-radio--brand m-radio--check-bold">
                        <input type="radio" name="send_email[directors_option]" value="email" id="director_email_option" >
                        <span></span>
                      </span>
                    </span>
                    <span class="m-option__label">
                      <span class="m-option__head">
                        <span class="m-option__title">
                          Another email address
                        </span>
                      </span>
                      <span class="m-option__body">
                        <%= form.text_field "send_email[director_email]", id: :director_email, class: 'form-control m-input', placeholder: 'Email address' %>
                      </span>
                      <span class="m-option__body">
                        Send email to another email address.
                      </span>
                    </span>
                  </label>
                </div>
                <div class="col-lg-12">
                  <label class="m-option m-option m-option--plain">
                    <span class="m-option__control">
                      <span class="m-radio m-radio--brand m-radio--check-bold">
                        <input type="radio" name="send_email[directors_option]" value="sms" id="director_sms_option">
                        <span></span>
                      </span>
                    </span>
                    <span class="m-option__label">
                      <span class="m-option__head">
                        <span class="m-option__title">
                          SMS
                        </span>
                      </span>
                      <span class="m-option__body">
                        <%= form.text_field "send_email[director_mobile]", id: :director_mobile, class: 'form-control m-input mobileAU', placeholder: 'Mobile number' %>
                      </span>
                      <span class="m-option__body">
                        Send SMS.
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          <% end %>

          <% if apply_credit_form[:active] && !is_all_pgs_signed %>
            <div class="form-group m-form__group row m--margin-top-20">
              <label for="export_venues_option" class="col-form-label col-lg-3 col-sm-12">
                Personal Guarantees:
              </label>
              <% if apply_credit_form.is_pending_pg_signature? %>
                <div class="col-lg-9 col-md-9 col-sm-12 row">
                  <%
                    pg_all_attrs = ""
                    pg_single_disable = ""

                    # pgs = personal guarantees
                    if pgs.blank?
                      pg_all_attrs = "disabled"
                      pg_single_disable = "disabled"
                    end
                  %>
                  <div class="col-lg-12">
                    <label class="m-option m-option m-option--plain">
                      <span class="m-option__control">
                        <span class="m-radio m-radio--brand m-radio--check-bold">
                          <input type="radio" name="send_email[pgs_option]" value="all" <%= pg_all_attrs %> >
                          <span></span>
                        </span>
                      </span>
                      <span class="m-option__label">
                        <span class="m-option__head">
                          <span class="m-option__title">
                            All
                          </span>
                        </span>
                        <span class="m-option__body">
                          Send email to All Personal Guarantees.
                        </span>
                      </span>
                    </label>
                  </div>
                  <div class="col-lg-12">
                    <label class="m-option m-option m-option--plain">
                      <span class="m-option__control">
                        <span class="m-radio m-radio--brand m-radio--check-bold">
                          <input type="radio" name="send_email[pgs_option]" value="single_pg" id="single_pg_option" <%= pg_single_disable %> >
                          <span></span>
                        </span>
                      </span>
                      <span class="m-option__label">
                        <span class="m-option__head">
                          <span class="m-option__title">
                            Choose a Personal Guarantee
                          </span>
                        </span>
                        <span class="m-option__body">
                          <!-- personal guarantees (pgs) -->
                          <%= form.select("send_email[personal_guarantee_id]",
                            options_from_collection_for_select(pgs, :id, :email), {},
                            { class: 'form-control pg-mail-select2' }) %>
                        </span>
                        <span class="m-option__body">
                          Send email to the selected personal guarantee.
                        </span>
                      </span>
                    </label>
                  </div>
                  <div class="col-lg-12">
                    <label class="m-option m-option m-option--plain">
                      <span class="m-option__control">
                        <span class="m-radio m-radio--brand m-radio--check-bold">
                          <input type="radio" name="send_email[pgs_option]" value="email" id="pg_email_option" >
                          <span></span>
                        </span>
                      </span>
                      <span class="m-option__label">
                        <span class="m-option__head">
                          <span class="m-option__title">
                            Another email address
                          </span>
                        </span>
                        <span class="m-option__body">
                          <%= form.text_field "send_email[personal_guarantee_email]", id: :personal_guarantee_email, class: 'form-control m-input', placeholder: 'Email address' %>
                        </span>
                        <span class="m-option__body">
                          Send email to another email address.
                        </span>
                      </span>
                    </label>
                  </div>
                  <div class="col-lg-12">
                    <label class="m-option m-option m-option--plain">
                      <span class="m-option__control">
                        <span class="m-radio m-radio--brand m-radio--check-bold">
                          <input type="radio" name="send_email[pgs_option]" value="sms" id="pg_sms_option">
                          <span></span>
                        </span>
                      </span>
                      <span class="m-option__label">
                        <span class="m-option__head">
                          <span class="m-option__title">
                            SMS
                          </span>
                        </span>
                        <span class="m-option__body">
                          <%= form.text_field "send_email[personal_guarantee_mobile]", id: :personal_guarantee_mobile, class: 'form-control m-input mobileAU', placeholder: 'Mobile number' %>
                        </span>
                        <span class="m-option__body">
                          Send SMS.
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
              <% end %>

              <% if apply_credit_form.is_draft? %>
                <div class="col-lg-9 col-md-9 col-sm-12 row">
                  <div class="col-lg-12">
                    <label class="m-option m-option m-option--plain">
                      <span class="m-option__control">
                        <span class="m-radio m-radio--brand m-radio--check-bold">
                          <input type="radio" name="send_email[pgs_option]" value="pg_single_director" id="pg_single_director_option" <%= apply_credit_form.vaf.directors.count > 0 ? "" : "disabled" %> >
                          <span></span>
                        </span>
                      </span>
                      <span class="m-option__label">
                        <span class="m-option__head">
                          <span class="m-option__title">
                            Choose a Director
                          </span>
                        </span>
                        <span class="m-option__body">
                          <%= form.select("send_email[pg_director_id]",
                            options_from_collection_for_select(directors, :id, :email), {},
                            { class: "form-control director-mail-select2" }) %>
                        </span>
                        <span class="m-option__body">
                          Send email to the selected director to complete the apply supplier credit form.
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-brand m-btn submit-btn" disabled >
            Send Email
          </button>
          <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
            Close
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--end::Send Email Modal-->
