<!--begin::Send Email Modal-->
<div class="modal fade send_email_modal" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">
          Send Email
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-remove"></span>
        </button>
      </div>
      <%= form_with(url: url, local: true, method: :post, html: { class: "m-form m-form--fit m-form--label-align-right send_email_director_form" }) do |form| %>
        <div class="modal-body">
          <div class="form-group m-form__group row m--margin-top-20">
            <label for="export_venues_option" class="col-form-label col-lg-3 col-sm-12">
              Directors:
            </label>
            <div class="col-lg-9 col-md-9 col-sm-12 row">
              <%
                all_attrs = ""
                single_disable = ""

                if directors.blank?
                  all_attrs = "disabled"
                  single_disable = "disabled"
                end
              %>
              <div class="col-lg-12">
                <label class="m-option m-option m-option--plain">
                  <span class="m-option__control">
                    <span class="m-radio m-radio--brand m-radio--check-bold">
                      <input type="radio" name="send_email[directors_option]" value="all" <%= all_attrs %> >
                      <span></span>
                    </span>
                  </span>
                  <span class="m-option__label">
                    <span class="m-option__head">
                      <span class="m-option__title">
                        All
                      </span>
                    </span>
                    <span class="m-option__body">
                      Send email to All Directors.
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-12">
                <label class="m-option m-option m-option--plain">
                  <span class="m-option__control">
                    <span class="m-radio m-radio--brand m-radio--check-bold">
                      <input type="radio" name="send_email[directors_option]" value="single_director" id="single_director_option" <%= single_disable %> >
                      <span></span>
                    </span>
                  </span>
                  <span class="m-option__label">
                    <span class="m-option__head">
                      <span class="m-option__title">
                        Choose a Director
                      </span>
                    </span>
                    <span class="m-option__body">
                      <%= form.select("send_email[director_id]",
                        options_from_collection_for_select(directors, :id, :email), {},
                        { class: 'form-control director-mail-select2' }) %>
                    </span>
                    <span class="m-option__body">
                      Send email to the selected director.
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-12">
                <label class="m-option m-option m-option--plain">
                  <span class="m-option__control">
                    <span class="m-radio m-radio--brand m-radio--check-bold">
                      <input type="radio" name="send_email[directors_option]" value="email" id="director_email_option" >
                      <span></span>
                    </span>
                  </span>
                  <span class="m-option__label">
                    <span class="m-option__head">
                      <span class="m-option__title">
                        Another email address
                      </span>
                    </span>
                    <span class="m-option__body">
                      <%= form.text_field "send_email[director_email]", class: 'form-control m-input', placeholder: 'Email address' %>
                    </span>
                    <span class="m-option__body">
                      Send email to another email address.
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-12">
                <label class="m-option m-option m-option--plain">
                  <span class="m-option__control">
                    <span class="m-radio m-radio--brand m-radio--check-bold">
                      <input type="radio" name="send_email[directors_option]" value="sms" id="director_sms_option">
                      <span></span>
                    </span>
                  </span>
                  <span class="m-option__label">
                    <span class="m-option__head">
                      <span class="m-option__title">
                        SMS
                      </span>
                    </span>
                    <span class="m-option__body">
                      <%= form.text_field "send_email[director_mobile]", class: 'form-control m-input mobileAU', placeholder: 'Mobile number' %>
                    </span>
                    <span class="m-option__body">
                      Send SMS.
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-brand m-btn submit-btn" disabled >
            Send Email
          </button>
          <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
            Close
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--end::Send Email Modal-->
