<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="row">
        <div class="col-xl-6 order-1 order-xl-1">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon">
              <i class="flaticon-folder-2"></i>
            </span>
            <h3 class="m-portlet__head-text">
              Import Venue Application Forms
            </h3>
          </div>
        </div>
        <div class="col-xl-6 order-2 order-xl-2 m--align-right">
          <a href="<%= admin_venue_details_path %>" class="btn btn-brand m-btn m-btn--custom m-btn--icon">
            <span>
              <i class="la flaticon-list-3"></i>
              <span>List of Venues</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <% if errors_report.present? %>
      <% if errors_report[:exist_error].present? %>
        <h6>Venue Already Exist Errors: <%= errors_report[:exist_error].count %></h6>
        <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Trading Name - ABN - Email</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% errors_report[:exist_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if errors_report[:missing_error].present? %>
        <h6>Missing Data Errors: <%= errors_report[:missing_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Trading Name - ABN - Email</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% errors_report[:missing_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if errors_report[:invalid_error].present? %>
        <h6>Invalid Data Errors: <%= errors_report[:invalid_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Trading Name - ABN - Email</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% errors_report[:invalid_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if errors_report[:general_error].present? %>
        <h6>General Errors: <%= errors_report[:general_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Trading Name - ABN - Email</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% errors_report[:general_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>
    <% end %>

    <% if credit_errors_report.present? %>
      <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>

      <% if credit_errors_report[:venue_exist_error].present? %>
        <h6>Venue Not Exist Errors: <%= credit_errors_report[:venue_exist_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Venue ABN - Supplier ABN</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% credit_errors_report[:venue_exist_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if credit_errors_report[:venue_invalid_error].present? %>
        <h6>Venue Invalid Errors: <%= credit_errors_report[:venue_invalid_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Venue ABN - Supplier ABN</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% credit_errors_report[:venue_invalid_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if credit_errors_report[:supplier_exist_error].present? %>
        <h6>Supplier Not Exist Errors: <%= credit_errors_report[:supplier_exist_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Venue ABN - Supplier ABN</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% credit_errors_report[:supplier_exist_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if credit_errors_report[:ascf_exist_error].present? %>
        <h6>Apply Supplier Credit Already Exist Errors: <%= credit_errors_report[:ascf_exist_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Venue ABN - Supplier ABN</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% credit_errors_report[:ascf_exist_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if credit_errors_report[:invalid_error].present? %>
        <h6>Invalid Data Errors: <%= credit_errors_report[:invalid_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Venue ABN - Supplier ABN</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% credit_errors_report[:invalid_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>

      <% if credit_errors_report[:general_error].present? %>
        <h6>General Errors: <%= credit_errors_report[:general_error].count %></h6>
         <div class="row">
          <div class="col-lg-1 text-align-right"><h6>#</h6></div>
          <div class="col-lg-11"><h6>Venue ABN - Supplier ABN</h6></div>
          <div class="col-lg-12"></div>
        </div>
        <% credit_errors_report[:general_error].each_with_index do |msg, index| %>
          <div class="row">
            <div class="col-lg-1 text-align-right"><%= index + 1 %>:</div>
            <div class="col-lg-11"><%= msg %></div>
          </div>
        <% end %>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>
