<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="row">
        <div class="col-xl-6 order-1 order-xl-1">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon">
              <i class="flaticon-folder-2"></i>
            </span>
            <h3 class="m-portlet__head-text">
              List of Venue Application Forms
            </h3>
          </div>
        </div>
        <!-- Begin::Import/Export buttons -->
        <div class="col-xl-6 order-2 order-xl-2 m--align-right">
          <% if current_user.is_admin? || current_user.is_supplier? %>
            <a href="#" class="btn btn-outline-brand m-btn m-btn--outline-2x m-btn--icon" data-toggle="modal" data-target="#import_venues_modal">
              <span>
                <i class="la la-download"></i>
                <span>Import Venues</span>
              </span>
            </a>
            <a href="#" class="btn btn-outline-metal m-btn m-btn--outline-2x m-btn--icon" data-toggle="modal" data-target="#export_venues_modal">
              <span>
                <i class="la la-upload"></i>
                <span>Export Venues</span>
              </span>
            </a>
          <% end %>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
        <!-- End::Import/Export buttons -->
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <!-- Begin::Filter venues -->
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-9 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <% if !current_user.is_venue_user? %>
              <div class="col-md-4">
                <div class="form-group m-form__group row">
                  <label class="col-form-label col-md-3 col-sm-12" >
                    Status:
                  </label>
                  <div class="col-md-9 col-sm-12">
                    <select class="form-control m-bootstrap-select" id="m_list_credit_form_status">
                      <option value="" selected>
                        All
                      </option>
                      <% @all_venues_status.each do |status| %>
                        <option id="<%= status %>"
                          value="<%= status %>"
                        >
                          <%= status %>
                        </option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="col-md-4">
              <div class="form-group m-form__group row">
                <label class="col-form-label col-md-7 col-sm-12" style="padding-right: 0" >
                  Directors Signed:
                </label>
                <div class="col-md-5 col-sm-12">
                  <select class="form-control m-bootstrap-select" id="m_list_ds_sign">
                    <option value="">
                      All
                    </option>
                    <option value="Yes">
                      Yes
                    </option>
                    <option value="No">
                      No
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Begin::New venue button -->
        <% if current_user.is_venue_user? || current_user.is_admin? %>
          <div class="col-xl-3 order-1 order-xl-2 m--align-right">
            <a href="<%= venue_application_form_venue_form_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air" target="blank">
              <span>
                <i class="la la-plus"></i>
                <span>New Venue Form</span>
              </span>
            </a>
            <div class="m-separator m-separator--dashed d-xl-none"></div>
          </div>
        <% end %>
        <!-- End::New venue button -->
      </div>
    </div>
    <!-- End::filter venues -->

    <!-- Begin::Render venues table -->
    <% if current_user.is_admin? %>
      <%= render 'admin_venues', venues: @venue_forms %>
    <% elsif current_user.is_supplier? %>
      <%= render 'supplier_venues', venues: @venue_forms %>
    <% elsif current_user.is_venue_user? %>
      <%= render 'director_pg_venues', venues: @venue_forms %>
    <% end %>
    <!-- End::render venues table -->

    <!-- Begin::Render import/export overplay -->
    <% if current_user.is_admin? || current_user.is_supplier? %>
      <%= render 'import' %>
      <%= render 'export' %>
    <% end %>
    <!-- End::render import/export overplay -->
  </div>
</div>
