<%= form_with(model: pencil_terms_condition, local: true, url: url, method: :post,
  html: { class: "m-form m-form--state m-form--fit", id: "pencil_terms_condition_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if pencil_terms_condition.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if pencil_terms_condition.errors.any? %>
              <ul>
              <% pencil_terms_condition.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>

      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.hidden_field :content, id: :content, class: 'content'%>
          <div class="content_editor summernote" id="content_editor">
            <% if pencil_terms_condition.content? %>
              <%= pencil_terms_condition.content.html_safe %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions m--align-center">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-brand">
            Save
          </button>
          <a href="<%= admin_pencil_terms_conditions_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
