<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-notes"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Pencil Venue T &amp; Cs
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <%= render 'form', pencil_terms_condition: @pencil_terms_condition, url: admin_pencil_terms_conditions_update_path(@pencil_terms_condition.id) %>
  </div>
</div>
