.bt-save-continue-credit{
  background-color: #5b4f8f !important;
  border-color: #5b4f8f !important;
}

.venue-btn-custom {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: Poppins;
  box-sizing: border-box;
}

.d-flex-row-back-next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
}

.back-credit-1 { display: none; }
.back-credit-2 { display: block; }

.d-flex-row-space-between {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.clear-signature {
  width: 15rem;
  white-space: normal;
}

.submit-signature {
  width: 12rem;
  white-space: normal;
}

#credit-form .m-wizard.m-wizard--3 .m-wizard__head {
  padding: 5rem 2rem;
}

.dt-deactive{
  display: none;
}

.pa-deactive{
  display: none;
}

.pg-deactive{
  display: none;
}

.yes-pg.active {
  color: #ffffff !important;
  background-color: #ecaa90 !important;
}

.no-pg.active {
  color: #ffffff !important;
  background-color: #ecaa90 !important;
}

.form-control-label-bottom {
  margin-left: 10px;
}

.textareaTermsConditions-asvf {
  min-height: 300px;
}

.textareaTermsConditions-items {
  min-height: 50px;
}

.btn-submit {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

#pg-signed-filter-label {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0
}

@media only screen and (max-width: 1199.98px) {
  .m-form__actions{
    margin-top: -10px;
  }
}

@media only screen and (max-width: 991.98px) {
  .m-form__actions{
    margin-top: -10px;
  }
}

@media only screen and (max-width: 767.98px) {
  .pt-sm-0 {
    padding-top: 0 !important;
  }

  .m-portlet__body.m--margin-bottom-50 {
    margin-bottom: 0!important;
  }

  .bt-save-continue-credit {
    margin-bottom: 10px;
    width: 100%;
  }

  .bt-submit-credit {
    margin-bottom: 10px;
  }

  .d-flex-row-back-next { justify-content: space-between; }
  .back-credit-1 { display: block; }
  .back-credit-2 { display: none; }
  .back-next-btn-width { width: 49%; }
  .venue-btn-custom { padding: 0.75rem 1.5rem; }

  .actions-btn-width-49 {
    width: 49%;
    margin-bottom: 0;
    text-align: center;
  }

  .actions-btn-width-49 span {
    display: inline-table;
  }

  #pg-signed-filter-label {
    padding-bottom: calc(0.65rem + 1px);
  }
}

@media only screen and (max-width: 575.98px) {
  #credit-form .m-wizard.m-wizard--3 .m-wizard__head {
    height: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: hidden;
  }

  #credit-form .m-wizard__form {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .bt-save-continue-credit {
    margin-bottom: 10px;
    width: 100%;
  }

  .bt-submit-credit {
    margin-bottom: 10px;
  }

  .d-flex-row-back-next { justify-content: space-between; }
  .back-credit-1 { display: block; }
  .back-credit-2 { display: none; }
  .back-next-btn-width { width: 49%; }
  .venue-btn-custom { padding: 0.75rem 1.5rem; }
}

@media only screen and (max-width: 480px) {
  .m-wizard__steps {
    display: none !important;
  }

  .bt-save-continue-credit {
    margin-bottom: 10px;
    width: 100%;
  }

  .bt-submit-credit {
    margin-bottom: 10px;
  }

  .signature-image {
    width: 100%;
  }

  .d-flex-row-back-next { justify-content: space-between; }
  .back-credit-1 { display: block; }
  .back-credit-2 { display: none; }
  .back-next-btn-width { width: 49%; }
  .venue-btn-custom { padding: 0.75rem 1.5rem; }

  .actions-btn-width-49 {
    width: 49%;
    margin-bottom: 0;
    text-align: center;
  }

  .clear-signature { width: 56%; padding-left: 0.25rem; padding-right: 0.25rem; font-size: 0.75rem; }
  .submit-signature { width: 42%; padding-left: 0.25rem; padding-right: 0.25rem; font-size: 0.75rem; }
}
