<%= form_with(model: director, local: true, method: :post, url: url,
  html: { class: "m-form m-form--fit m-form--label-align-right", id: "update_admin_director_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if director.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="update_admin_director_form_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if director.errors.any? %>
              <ul>
              <% director.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-md-12 ml-auto">
          <h3 class="m-form__section">
            1. Director Details
          </h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :firstname, "First Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :firstname, id: :firstname, class: 'form-control m-input', placeholder: 'First Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :middlename, "Middle Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :middlename, id: :middlename, class: 'form-control m-input', placeholder: 'Middle Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :lastname, "Last Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :lastname, id: :lastname, class: 'form-control m-input', placeholder: 'Last Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :date_of_birth, "Date of Birth", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :date_of_birth, id: :date_of_birth, class: 'form-control m-input date_picker', placeholder: 'Date of Birth', value: "#{pretty_format_date(director[:date_of_birth], '%d/%m/%Y')}" %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :email, "Email", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :email, id: :email, class: 'form-control m-input', placeholder: 'Email', readonly: true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :mobile, "Mobile", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :mobile, id: :mobile, class: 'form-control m-input mobileAU', placeholder: 'Mobile' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :phone, "Phone", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :phone, id: :phone, class: 'form-control m-input phoneAU', placeholder: 'Phone' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :drivers_license_number, "Driver's License", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :drivers_license_number, id: :drivers_license_number, class: 'form-control m-input', placeholder: "Driver's License" %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :license_expiry, "License Expiry", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :license_expiry, id: :license_expiry, class: 'form-control m-input date_picker', placeholder: 'License Expiry', value: "#{pretty_format_date(director[:license_expiry], '%d/%m/%Y')}" %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :address, "Address", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :address_line_1, id: :address_line_1, class: 'form-control m-input address-line-1', placeholder: 'Address Line 1', value: director[:address_line_1].blank? ? "#{director[:street_number]} #{director[:street_name]} #{director[:street_type]}" : director[:address_line_1] %>
          <%= form.text_field :address_line_2, id: :address_line_2, class: 'form-control m-input', placeholder: 'Address Line 2', value: director[:address_line_2].blank? ? "#{director[:suburb]} #{director[:state]} #{director[:postcode]}" :  director[:address_line_2]  %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-md-12 ml-auto">
          <h3 class="m-form__section">
            2. Password
          </h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :password, "New password", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.password_field :password, id: :password, class: 'form-control m-input password', placeholder: 'New password'%>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :password_confirmation, "Confirm password", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.password_field :password_confirmation, id: :password_confirmation, class: 'form-control m-input', placeholder: 'Confirm password'%>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row m--align-center">
        <div class="col-lg-12">
          <button id="submit" type="submit" class="btn btn-brand">
            Save
          </button>
          <button type="button" onclick="location.href='<%= admin_admin_index_path %>';" class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
