<%= form_with(model: personal_guarantee, local: true, method: :post, url: url,
  html: { class: "m-form m-form--fit m-form--label-align-right", id: "update_admin_personal_guarantee_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if personal_guarantee.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="update_admin_personal_guarantee_form_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if personal_guarantee.errors.any? %>
              <ul>
              <% personal_guarantee.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-md-12 ml-auto">
          <h3 class="m-form__section">
            1. Personal Guarantee Details
          </h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :firstname, "First Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :firstname, id: :firstname, class: 'form-control m-input', placeholder: 'First Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :lastname, "Last Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :lastname, id: :lastname, class: 'form-control m-input', placeholder: 'Last Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :email, "Email", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :email, id: :email, class: 'form-control m-input', placeholder: 'Email', readonly: true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :mobile, "Mobile", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :mobile, id: :mobile, class: 'form-control m-input mobileAU', placeholder: 'Mobile' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :phone, "Phone", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :phone, id: :phone, class: 'form-control m-input phoneAU', placeholder: 'Phone' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :home_address, "Home Address", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :home_address_line_1, id: :home_address_line_1, class: 'form-control m-input address-line-1', placeholder: 'Home Address Line 1', value: personal_guarantee[:home_address_line_1].blank? ? "#{personal_guarantee[:home_street_number]} #{personal_guarantee[:home_street_name]} #{personal_guarantee[:home_street_type]}" : personal_guarantee[:home_address_line_1] %>
          <%= form.text_field :home_address_line_2, id: :home_address_line_2, class: 'form-control m-input', placeholder: 'Home Address Line 2', value: personal_guarantee[:home_address_line_2].blank? ? "#{personal_guarantee[:home_suburb]} #{personal_guarantee[:home_state]} #{personal_guarantee[:home_postcode]}" : personal_guarantee[:home_address_line_2] %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-md-12 ml-auto">
          <h3 class="m-form__section">
            2. Password
          </h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :password, "New password", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.password_field :password, id: :password, class: 'form-control m-input password', placeholder: 'New password'%>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :password_confirmation, "Confirm password", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.password_field :password_confirmation, id: :password_confirmation, class: 'form-control m-input', placeholder: 'Confirm password'%>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row m--align-center">
        <div class="col-lg-12">
          <button id="submit" type="submit" class="btn btn-brand">
            Save
          </button>
          <button type="button" onclick="location.href='<%= admin_admin_index_path %>';" class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
