<div class="m-content">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="m-portlet m-portlet--full-height  ">
        <div class="m-portlet__body">
          <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
              Your Profile
            </div>
            <div class="m-card-profile__pic">
              <div class="m-card-profile__pic-wrapper">
                <img src="<%= current_user.default_avatar %>" class="m--img-rounded m--marginless" alt=""/>
              </div>
            </div>
            <div class="m-card-profile__details overflow-hidden">
              <% if current_user.is_admin? %>
                <span class="m-card-profile__name">
                  <%= "#{@user[:firstname]} #{@user[:lastname]}" %>
                </span>
                <a href="" class="m-card-profile__email m-link"><%= @user[:email] %></a>
              <% elsif current_user.is_director? && !@director.blank? %>
                <span class="m-card-profile__name">
                  <%= "#{@director[:firstname]} #{@director[:lastname]}" %>
                </span>
                <a href="" class="m-card-profile__email m-link"><%= @director[:email] %></a>
              <% elsif current_user.is_personal_guarantee? && !@personal_guarantee.blank? %>
                <span class="m-card-profile__name">
                  <%= "#{@personal_guarantee[:firstname]} #{@personal_guarantee[:lastname]}" %>
                </span>
                <a href="" class="m-card-profile__email m-link"><%= @personal_guarantee[:email] %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Update Profile
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                  Upload Avatar
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <% if current_user.is_admin? %>
              <%= render 'admin', user: @user, url: admin_admin_update_admin_path(@user[:id]) %>
            <% elsif current_user.is_director? && !@director.blank? %>
              <%= render 'director', director: @director, url: admin_admin_update_director_path(@director[:id]) %>
            <% elsif current_user.is_personal_guarantee? && !@personal_guarantee.blank? %>
              <%= render 'personal_guarantee', personal_guarantee: @personal_guarantee, url: admin_admin_update_personal_guarantee_path(@personal_guarantee[:id]) %>
            <% end %>
          </div>
          <div class="tab-pane " id="m_user_profile_tab_2">
            <%= render '/shared/avatar', user: current_user, url: admin_user_profiles_update_avatar_path(current_user[:id]) %>
          </div>
          <div class="tab-pane " id="m_user_profile_tab_3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
