<div class='m-portlet m-portlet--mobile'>
  <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
      <i class="flaticon-technology m--font-accent"></i>
    </div>
    <div class="m-alert__text">
      <p>Please set your default trading terms preferences for your company. These settings will be used for each venue that requests trading terms with you. You can select if you require a signed personal guarantee and/or director for each of your trading terms.</p>
      <p>Please also set your default trading term you would like to show first. Venues have the option to change to their preferred option.</p>
    </div>
  </div>
  <%= form_with(url: admin_update_trading_terms_settings_path, local: true, method: :post, html: { class: "", id: "update_trading_terms_settings_form" }) do |form| %>
    <div class="m-portlet__body">
      <table class="m-datatable text-center" id="trading_terms_settings_table" width="100%">
        <thead>
          <tr>
            <th title="No">#</th>
            <th title="Trading Term">Trading Term</th>
            <th title="Personal Guarantees">Personal Guarantees</th>
            <th title="Directors">Directors</th>
            <th title="Trade References">Trade References</th>
            <th title="Active">Active</th>
            <th title="Default">Default</th>
          </tr>
        </thead>
        <tbody>
          <% @trading_terms_settings.each_with_index do |trading_terms_setting, index| %>
            <%= fields_for 'trading_terms_settings', trading_terms_setting, index: trading_terms_setting.id do |trading_terms_setting_form| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= trading_terms_setting[:trading_term] %></td>
                <td>
                  <div class="form-group1 m-form__group">
                    <%= trading_terms_setting_form.select(:personal_guarantees,
                      options_for_select(Const::SIGN_QUANTITY_OPTIONS, trading_terms_setting.personal_guarantees), {},
                      { class: 'form-control text-center width-100px signed-select2' }) %>
                  </div>
                </td>
                <td>
                  <div class="form-group1 m-form__group">
                    <%= trading_terms_setting_form.select(:directors,
                      options_for_select(Const::SIGN_QUANTITY_OPTIONS, trading_terms_setting.directors), {},
                      { class: 'form-control text-center width-100px signed-select2' }) %>
                  </div>
                </td>
                <td>
                  <div class="form-group1 m-form__group">
                    <%= trading_terms_setting_form.select(:trade_references,
                      options_for_select(Const::SIGN_QUANTITY_OPTIONS, trading_terms_setting.trade_references), {},
                      { class: 'form-control text-center width-100px signed-select2' }) %>
                  </div>
                </td>
                <td>
                  <div class="m-checkbox-inline">
                    <label class="m-checkbox m-checkbox--single">
                      <%= trading_terms_setting_form.check_box :active, id: :active, class: "checkbox" %>
                      <span></span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="m-radio-inline">
                    <label class="m-radio m-radio--single">
                      <%= trading_terms_setting_form.radio_button :default, true,
                        checked: trading_terms_setting.default, class: "radio-btn" %>
                      <span></span>
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1"></div>
          <div class="col-xl-4 order-1 order-xl-2 m--align-right">
            <button type="submit" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
              <span>
                <i class="la la-floppy-o"></i>
                <span>Save Changes</span>
              </span>
            </button>
            <div class="m-separator m-separator--dashed d-xl-none"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
