<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
      <div class="m-grid__item m-grid__item--fluid  m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="<%= root_path %>">
              <img src="<%= asset_path('pencil-logo.png') %>" alt="logo" height="65">
            </a>
          </div>
          <div class="m-login__signin">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Sign In To Pencil
              </h3>
            </div>
            <%
            form_token = ''
            ascf_token = ''
            user_token = ''

            if params['user'].present?
              form_token = params['user']['form_token']
              ascf_token = params['user']['ascf_token']
            else
              form_token = params['form_token']
              ascf_token = params['ascf_token']
            end

            if params['user'].present?
              user_token = params['user']['user_token']
            else
              user_token = params['user_token']
            end

            @sign_in_user = User.where(id: user_token).first if user_token.present?
            %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),
              html: { class: 'm-login__form m-form' }) do |f| %>
              <div class="alert alert-success" role="alert"><%= notice %></div>
              <div class="alert alert-danger" role="alert"><%= alert %></div>
              <%= f.hidden_field :form_token, id: :form_token, class: 'form-control m-input', value: form_token %>
              <%= f.hidden_field :ascf_token, id: :ascf_token, class: 'form-control m-input', value: ascf_token %>
              <%= f.hidden_field :user_token, id: :user_token, class: 'form-control m-input', value: user_token %>
              <div class="form-group m-form__group">
                <% if @sign_in_user.present? %>
                  <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control m-input', autocomplete: 'off', value: @sign_in_user[:email], readonly: true %>
                <% else %>
                  <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control m-input', autocomplete: 'off' %>
                <% end %>
              </div>
              <div class="form-group m-form__group">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control m-input m-login__form-input--last' %>
              </div>
              <div class="row m-login__form-sub">
                <div class="col m--align-left m-login__form-left">
                  <label class="m-checkbox  m-checkbox--focus">
                    <%= f.check_box :remember_me, class: "form-check-input", value: "1", checked: "checked" %>
                    Remember me
                    <span></span>
                  </label>
                </div>
                <div class="col m--align-right m-login__form-right">
                  <a href="<%= new_user_password_path %>" id="m_login_forget_password" class="m-link">
                    Forget Password ?
                  </a>
                </div>
              </div>
              <div class="m-login__form-action">
                <%= f.submit "Sign in", id: "m_login_signin_submit", class: "btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
