<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
      <div class="m-grid__item m-grid__item--fluid  m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="<%= root_path %>">
              <img src="<%= asset_path('pencil-logo.png') %>" alt="logo" height="65">
            </a>
          </div>
          <div class="m-login__signin">
            <div class="m-login__head" style="margin-bottom:20px">
              <h3 class="m-login__title">
                Please verify your OTP
              </h3>
            </div>
            <%= form_for "", url: users_sessions_verify_otp_path, method: :post do |f| %>
              <div class="alert alert-success" role="alert"><%= notice %></div>
              <div class="alert alert-danger" role="alert"><%= alert %></div>
              <div class="form-group m-form__group m--align-center">
                <%= f.text_field :otp_attempt, class: 'form-control m-input opt-input', autofocus: true %>
              </div>
              <div class="form-group m-form__group m--align-center">
                <%= f.submit "Verify", class: "btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
