<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2"
      id="m_login">
      <div class="m-grid__item m-grid__item--fluid  m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="<%= root_path %>">
              <img src="<%= asset_path('pencil-logo.png') %>" alt="logo" height="65">
            </a>
          </div>
          <div class="m-login__signin">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Set Your Password
              </h3>
            </div>
            <%
            id = params['user_token'] if params['user_token'].present?
            id = params['id'] if params['id'].present?
            url = users_update_password_path(id: id, params: request.query_parameters)
            %>
            <%= form_with(model: @user, local: true, url: url, method: :post,
              html: { class: "m-login__form m-form", id: "set_password_form" }) do |form| %>
              <%= form.hidden_field :user_token, id: :user_token, class: 'form-control m-input', value: params['user_token'] %>
              <%= form.hidden_field :form_token, id: :form_token, class: 'form-control m-input', value: params['form_token'] %>
              <%= render partial: 'layouts/flash' %>
              <div class="form-group m-form__group">
                <%= form.text_field :email, id: :email, class: 'form-control m-input', placeholder: 'Email', autocomplete: "off", disabled: true %>
              </div>
              <div class="form-group m-form__group">
                <%= form.password_field :password, id: :password, class: 'form-control m-input', placeholder: 'Password' %>
              </div>
              <div class="form-group m-form__group">
                <%= form.password_field :confirm_password, id: :confirm_password, class: 'form-control m-input', placeholder: 'Confirm Password' %>
              </div>
              <div class="m-login__form-action">
                <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary" type="submit">
                  Save
                </button>
                &nbsp;&nbsp;
                <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn" type="reset">
                  Cancel
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end:: Page -->
</body>
