.m-brand .m-brand__logo .m-brand__logo-wrapper img {
  height: 50px;
}

.alert.m-alert--icon .m-alert__text ul {
  margin: 0;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__progress .progress .progress-bar {
  background-color: #ecaa90;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info a.m-wizard__step-number > span {
  background-color: #ffc9b4;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info a.m-wizard__step-number:hover > span {
  background-color: #de997e;
}

.alert:empty {
  display: none;
}

.m-login.m-login--2.m-login--signin .m-login__forget-password {
  display: block;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-info a.m-wizard__step-number > span {
  background-color: #edaa8f;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-info a.m-wizard__step-number:hover > span {
  background-color: #de997e;
}

.pencil-btn-brand {
  background-color: #edaa8f !important;
  border-color: #edaa8f !important;
}

.btn.pencil-btn-brand:hover {
  background-color: #de997e !important;
  border-color: #de997e !important;
}

.justify-content-lg-center {
    justify-content: center !important;
}

.max-width-form {
  max-width: 1200px;
}

// Bootstrap-datepicker
.datepicker tbody tr > td.day.disabled {
  opacity: 0.4;
  background-color: #e0e0e0;
}

.readonly {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.small-margin-bottom {
  margin-bottom: 0.25rem;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.bt-save-continue {
  background-color: #5b4f8f !important;
  border-color: #5b4f8f !important;
}

.text-align-right { text-align: right; }
.text-align-left { text-align: left !important; }
.width-100p { width: 100%; }

.m-header--fixed .m-header {
  z-index: 700;
}

.invisible-element {
  display: none !important;
}

.opt-input {
  width: 130px;
  margin: 30px auto;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 5px;
}
