.home-ins-img-width { width: 25%; }

.home-link {padding-left: 0.6em; }

.home-icon {
  color: #ecaa90;
  font-size: 3em;
}

.home-bg-color { background-color: #ecaa90; }
.home-link-color { color: #212529; }
.home-header-color { color: #5b4f8f; }
.home-text-color { color: #676767; }
.text-white { color: #fff; }
.white-bg { background-color: #fff !important; }
.black-bg { background-color: #333; }
.ins-bg { background: #517fa4; }

.box-shadow-none { box-shadow: none !important; }
.justify-content-toggle-sticky-nav { justify-content: flex-end; }

.home-contact-button {
  background-color: #ecaa90;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  box-shadow: none;
  border: 0px;
}

.home-button {
  padding: 0 1em;
  border-radius: 0.3em;
  text-align: center;
  line-height: 1.1;
  font-size: 1em;
  height: 2.6em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.top-nav-logo { height: 5rem; }
.sticky-logo { height: 5rem; }
.sticky-nav-topbar { display: inherit !important; }

.home-invisible { display: none !important; }

.height-20 { height: 20px; }
.height-100 { height: 100px; }
.height-900 { height: 900px; }

.width-100p { width: 100%; }
.full-width { margin: 0 !important; padding: 0 !important;}

.home-base-padding-lr {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}
.home-nav-padding-lr {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}
.home-nav-padding-tb {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
.home-sticky-nav-padding-tb {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.home-footer-padding-tb {
  padding-top: 3em;
  padding-bottom: 3em;
}
.home-section-padding-tb1 {
  padding-top: 8em;
  padding-bottom: 8em;
}
.home-section-padding-tb4 {
  padding-top: 16em;
  padding-bottom: 16em;
}
.step-padding { padding: 2em; }
.home-ins-img-padding { padding: 0.3em; }


.margin-bottom-20 { margin-bottom: 1.8em; }
.margin-bottom-15 { margin-bottom: 1.4em; }
.margin-bottom-30 { margin-bottom: 2em; }
.margin-bottom-40 { margin-bottom: 1.1em; }
.margin-right-10 { margin-right: 0.9em; }
.margin-right-5 { margin-right: 0.4em; }
.margin-top-50 { margin-top: 1em; }
.margin-top-30 { margin-top: 2em; }
.margin-top-15 { margin-top: 1.4em; }

.step-margin-bottom { margin-bottom: 0; }

.image-50 { width: 50px; height: 50px; }

.home-ins-image {
  width: 100%;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-1 {
  font-size: 6em;
  font-weight: 700;
}

.header-5 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
}

.header-2 {
  font-size: 3.4em;
  line-height: 1;
  font-weight: 700;
}

.text-50 {
  font-weight: 700;
  font-size: 3.9em;
  line-height: 1;
}

.text-24 {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.5;
}

.text-20 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}

.text-p2 {
  font-size: 1.55em;
  font-weight: 300;
  line-height: 1.8;
}

.text-18 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5;
}

.text-center { text-align: center; }
.text-justify { text-algin: justify; }

.home-wrapper { max-height: 100%; }

#home-container {
  font-family: Montserrat;
  box-sizing: border-box;
}

#home-container {
  box-sizing: border-box;
}

#home-part-1 {
  background-image: image-url("home-bg1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#home-part-4 {
  background-image: image-url("home-bg2.jpg");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#go-top {
  display: inline;
  background-color: #5b4f8f;
  color: #fff;
  border-color: #2c3449;
  border-radius: 34px;
  padding: 16px 21px;
  font-size: .9375em;
  font-weight: 600;
  text-decoration: none;
  position: fixed;
  right: 3.1rem;
  bottom: 6rem;
  z-index: 1;
  opacity: 0.7;
}

#sticky-nav {
  background-color: #ecaa90;
  opacity: 0.98;
  z-index: 999;
}

#sticky-nav #m_aside_header_topbar_mobile_toggle:hover {
  opacity: 0.7 !important;
}

#home-bottom-nav {
  display: flex;
  justify-content: flex-end;
}

#ins-header {
  line-height: 1.3;
  font-size: 1.2em;
}

#pencil-icon {
  border-radius: 25px;
}

#contact_form .form-control-feedback {
  color: red;
  margin-top: 10px;
}

// Large
@media (max-width: 1199.98px) {
  .header-1 { font-size: 5.5em; }
}

// Medium
@media (max-width: 991.98px) {
  .header-1 { font-size: 5em; }
  .header-2 { font-size: 2.8em; }
  .text-24 { font-size: 1.66em; }
  .text-18 { font-size: 1.1em; }
  .text-p2 { font-size: 1.45em; }
  .text-20 { font-size: 1.5em; }

  .text-50 {
    font-size: 2.8em;
    line-height: 1.1;
  }

  .home-link { padding-left: 6.8px; }
  .step-padding { padding: 0; }
  .step-margin-bottom { margin-bottom: 3em; }

  .home-base-padding-lr {
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }

  #go-top { right: 3.1rem; }
}

// Small
@media (max-width: 767.98px) {
  .header-1 { font-size: 5em; }
  .header-2 { font-size: 2.8em; }
  .text-24 { font-size: 1.6em; }
  .text-18 { font-size: 1em; }
  .text-p2 { font-size: 1.4em; }
  .text-20 { font-size: 1.49em; }

  .text-50 {
    font-size: 2.5em;
    line-height: 1.2;
  }

  .home-link { padding-left: 6.6px; }
  .step-padding { padding: 0; }
  .step-margin-bottom { margin-bottom: 3em; }
  .home-ins-img-width { width: 50%; }

  .home-base-padding-lr {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .home-nav-padding-lr {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .home-sticky-nav-padding-tb {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .sticky-logo { height: 3.8rem; }
  .top-nav-logo { height: 4.8rem; }
  .home-button { height: 3em; }

  #go-top {
    right: 1.4rem;
    bottom: 1.4rem;
  }
}

// X Small
@media (max-width: 575.98px) {
  .header-1 { font-size: 4em; }
  .header-2 { ont-size: 2.6em; }
  .text-24 { font-size: 1.5em; }
  .text-18 { font-size: 1em; }
  .text-p2 { font-size: 1.35em; }
  .text-20 { font-size: 1.48em; }

  .text-50 {
    font-size: 2.3em;
    line-height: 1.3;
  }

  .home-link { padding-left: 6.5px; }
  .step-padding { padding: 0; }
  .step-margin-bottom { margin-bottom: 3em; }
  .home-ins-img-padding { padding-right: 0; padding-left: 0 }
  .home-ins-img-width { width: 100%; }

  .home-base-padding-lr {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .home-nav-padding-lr {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .home-sticky-nav-padding-tb {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .sticky-logo { height: 3.8rem; }
  .top-nav-logo { height: 4.8rem; }
  .home-button { height: 3.2em; }

  #go-top {
    right: 1.4rem;
    bottom: 1.4rem;
  }

  .justify-content-toggle-sticky-nav { justify-content: space-between; }

  #rc-imageselect, .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

// XX Small
@media (max-width: 480px) {
  .header-1 { font-size: 3em; }
  .header-2 { font-size: 2.6em; }
  .text-24 { font-size: 1.5em; }
  .text-18 { font-size: 1em; }
  .text-p2 { font-size: 1.35em; }
  .text-20 { font-size: 1.48em; }

  .text-50 {
    font-size: 2.1em;
    line-height: 1.3;
  }

  .home-link { padding-left: 6.5px; }
  .step-padding { padding: 0; }
  .step-margin-bottom { margin-bottom: 3em; }
  .home-ins-img-padding { padding-right: 0; padding-left: 0 }
  .home-ins-img-width { width: 100%; }

  .home-base-padding-lr {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .home-nav-padding-lr {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .home-sticky-nav-padding-tb {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .sticky-logo { height: 3.8rem; }
  .top-nav-logo { height: 4.8rem; }
  .home-button { height: 3.4em; }
  #go-top {
    right: 1.4rem;
    bottom: 1.4rem;
  }
  .justify-content-toggle-sticky-nav { justify-content: space-between; }

  #rc-imageselect, .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}