.jcrop-holder div {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.jcrop-preview {
  width: 100px;
  height: 100px;
  overflow:hidden
}
