// Place all the styles related to the VenueApplicationForm controller here.
// They will automatically be included in application.css.

.bt-save-continue-venue{
  background-color: #5b4f8f !important;
  border-color: #5b4f8f !important;
}

.venue-btn-custom {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: Poppins;
  box-sizing: border-box;
}

.d-flex-row-back-next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
}

.back-venue-1 { display: none; }
.back-venue-2 { display: block; }

.bt-next-venue {
  margin-left: 10px;
  width: 152px;
}

.submit_signature_wrapper .m-portlet__foot {
  padding-left: 4rem;
  padding-right: 4rem;
}

.d-flex-row-space-between {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.clear-signature {
  width: 15rem;
  white-space: normal;
}

.submit-signature {
  width: 12rem;
  white-space: normal;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.small-margin-bottom { margin-bottom: 0.25rem; }

.btn-submit {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

@media only screen and (max-width: 1199.98px) {
  .m-form__actions{
    margin-top: -10px;
  }
}

@media only screen and (max-width: 991.98px) {
  .m-form__actions{
    margin-top: -10px;
  }
}

@media only screen and (max-width: 767.98px) {
  .pt-sm-0 {
    padding-top: 0 !important;
  }

  .m-portlet__body.m--margin-bottom-50 {
    margin-bottom: 0!important;
  }

  .submit_signature_wrapper .m-portlet__foot {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  .bt-save-continue-venue {
    margin-bottom: 10px;
    width: 100%;
  }

  .bt-submit-venue {
    margin-bottom: 10px;
  }

  .d-flex-row-back-next { justify-content: space-between; }
  .back-venue-1 { display: block; }
  .back-venue-2 { display: none; }
  .back-next-btn-width { width: 49%; }
  .venue-btn-custom { padding: 0.75rem 1.5rem; }

  .actions-btn-width-49 {
    width: 49%;
    margin-bottom: 0;
    text-align: center;
  }

  .actions-btn-width-49 span {
    display: inline-table;
  }
}

@media only screen and (max-width: 575.98px) {
  #venue-form .m-wizard__head {
    height: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: hidden;
  }

  #venue-form .m-wizard__form {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .signature-image {
    width: 100%;
  }

  .bt-save-continue-venue{
    margin-bottom: 10px;
    width: 100%;
  }

  .bt-submit-venue{
    margin-bottom: 10px;
  }

  .d-flex-row-back-next { justify-content: space-between; }
  .back-venue-1 { display: block; }
  .back-venue-2 { display: none; }
  .back-next-btn-width { width: 49%; }
  .venue-btn-custom { padding: 0.75rem 1.5rem; }
}

@media only screen and (max-width: 480px) {
  .m-wizard__steps {
    display: none !important;
  }

  .bt-save-continue-venue{
    margin-bottom: 10px;
    width: 100%;
  }

  .bt-submit-venue{
    margin-bottom: 10px;
  }

  .d-flex-row-back-next { justify-content: space-between; }
  .back-venue-1 { display: block; }
  .back-venue-2 { display: none; }
  .back-next-btn-width { width: 49%; }
  .venue-btn-custom { padding: 0.75rem 1.5rem; }

  .actions-btn-width-49 {
    width: 49%;
    margin-bottom: 0;
    text-align: center;
  }

  .clear-signature { width: 56%; padding-left: 0.25rem; padding-right: 0.25rem; font-size: 0.75rem; }
  .submit-signature { width: 42%; padding-left: 0.25rem; padding-right: 0.25rem; font-size: 0.75rem; }
}
