<div id="credit-form" class="row justify-content-md-center full-width">
  <div class="col-md-12 max-width-form">
    <!--Begin::Main Portlet-->
    <div class="m-portlet m-portlet--full-height">
      <!--begin: Portlet Head-->
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Pencil Wizard
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                <i class="flaticon-info m--icon-font-size-lg3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--end: Portlet Head-->
      <!--begin: Portlet Body-->
      <div class="m-portlet__body m-portlet__body--no-padding">
        <!--begin: Form Wizard-->
        <div class="m-wizard m-wizard--3 m-wizard--success" id="m_wizard_apply_supplier_credit">
          <!--begin: Message container -->
          <div class="m-portlet__padding-x">
            <!-- Here you can put a message or alert -->
          </div>
          <!--end: Message container -->
          <div class="row m-row--no-padding">
            <div class="col-xl-3 col-lg-12 col-left">
              <!--begin: Form Wizard Head -->
              <div class="m-wizard__head">
                <!--begin: Form Wizard Progress -->
                <%= render 'apply_supplier_credit_form_wizard_progress' %>
                <!--end: Form Wizard Progress -->
                <!--begin: Form Wizard Nav -->
                <%= render 'apply_supplier_credit_form_wizard_nav' %>
                <!--end: Form Wizard Nav -->
              </div>
              <!--end: Form Wizard Head -->
            </div>
            <div class="col-xl-9 col-lg-12">
              <!--begin: Form Wizard Form-->
              <div class="m-wizard__form">
                <!--
                  1) Use m-form--label-align-left class to alight the form input lables to the right
                  2) Use m-form--state class to highlight input control borders on form validation
                -->
                <%
                allow_sign = false
                is_current_pg_sign = false
                is_signed_by_current_user = ascf.is_signed_by_user(current_user)
                is_signed = ascf.is_signed

                if user_signed_in? && ascf.present? &&
                  ascf.is_include_user(current_user) &&
                  !is_signed_by_current_user &&
                  params[:step].present? && params[:step] == ApplySupplierCreditForm::STEP_REVIEW
                  allow_sign = true
                end

                is_current_pg_sign = true if user_signed_in? && is_signed_by_current_user

                url = admin_venue_suppliers_path
                url = admin_venue_suppliers_update_ascf_path(params['id']) if params['id'].present?
                url = admin_venue_suppliers_personal_guarantee_sign_path(params['id']) if allow_sign
                %>
                <%= form_with(model: ascf, local: true, url: url, method: :post,
                  html: { class: "m-form m-form--label-align-left- m-form--state-", id: "ascf_form" }) do |f| %>
                  <%= f.hidden_field :id, id: 'ascf_id' %>
                  <!--begin: Form Body -->
                  <div class="m-portlet__body m-portlet__body--no-padding">
                    <!--begin: Form Wizard Step 1-->
                    <%= render 'apply_supplier_credit_form_step_1', f: f, ascf: ascf, vafs: vafs %>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Wizard Step 2-->
                    <%= render 'apply_supplier_credit_form_step_2', f: f, ascf: ascf %>
                    <!--end: Form Wizard Step 2-->
                    <!--begin: Form Wizard Step 3-->
                    <%= render 'apply_supplier_credit_form_step_3', f: f, ascf: ascf, trading_terms_active: trading_terms_active, credit_limits: credit_limits %>
                    <!--end: Form Wizard Step 3-->
                    <!--begin: Form Wizard Step 4-->
                    <%= render 'apply_supplier_credit_form_step_4', f: f, ascf: ascf, supplier_terms_condition: supplier_terms_condition %>
                    <!--end: Form Wizard Step 4-->
                    <!--begin: Form Wizard Step Trade References-->
                    <%= render 'apply_supplier_credit_form_step_trade_references', f: f, ascf: ascf, number_of_trade_references: number_of_trade_references, trading_terms_setting: trading_terms_setting %>
                    <!--end: Form Wizard Step Trade References-->
                    <!--begin: Form Wizard Step Personal Guarantee-->
                    <%= render 'apply_supplier_credit_form_step_personal_guarantee', f: f, ascf: ascf, vaf: vaf, is_directors: is_directors, number_of_personal_guarantees: number_of_personal_guarantees, trading_terms_setting: trading_terms_setting, selected_director_ids: selected_director_ids %>
                    <!--end: Form Wizard Step Personal Guarantee-->
                    <!--begin: Form Wizard Step review-->
                    <%= render 'apply_supplier_credit_form_step_review', f: f, ascf: ascf,
                      is_current_pg_sign: is_current_pg_sign,
                      is_signed: is_signed %>
                    <!--end: Form Wizard Step review-->
                  </div>
                  <!--end: Form Body -->
                  <% unless allow_sign %>
                    <!--begin: Form Actions -->
                    <%= render 'apply_supplier_credit_form_actions' %>
                    <!--end: Form Actions -->
                  <% else %>
                    <%= render 'submit_signature' %>
                  <% end %>
                <% end %>

              </div>
              <!--end: Form Wizard Form-->
            </div>
          </div>
        </div>
        <!--end: Form Wizard-->

      </div>
      <!--end: Portlet Body-->
    </div>
    <!--End::Main Portlet-->
  </div>
</div>

