<div class="m-wizard__form-step" id="m_wizard_form_step_trade_references">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">Trade References</h3>
  </div>
  <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
  <div id="m_repeater_trade_references">
    <%= render 'ascf_list_trade_references', f: f, ascf: ascf,
      trade_references: ascf.trade_references,
      number_of_trade_references: number_of_trade_references,
      trading_terms_setting: trading_terms_setting %>
  </div>
</div>
