<div class="m-wizard__form-step m-wizard__form-step--current render_step_3" id="m_wizard_form_step_3">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">
      Trading Terms
    </h3>
  </div>
  <div class="row">
    <div class="col-lg-6 m--margin-bottom-20">
      <div class="row">
        <label class="col-xl-12 col-lg-12 col-form-label">
          Select Trading Terms:
        </label>
        <div class="col-xl-12 col-lg-12">
          <%
          trading_terms_setting_default = trading_terms_active.where(default: true).first

          if trading_terms_setting_default.blank?
            trading_terms_setting_default = trading_terms_active.first
          end

          if ascf.trading_terms_setting.present?
            trading_terms_setting_default = ascf.trading_terms_setting
          end
          %>
          <%= f.collection_select(:trading_terms_setting_id, trading_terms_active, :id, :trading_term,
              { selected: trading_terms_setting_default[:id] },
              { class: 'form-control m-input trading_term_selectpicker m_selectpicker width-100p',
                'data-live-search': 'true', 'data-label': 'Trading Terms' }) %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 m--margin-bottom-20" id="step_3_credit_limit">
      <div class="row">
        <label class="col-xl-12 col-lg-12 col-form-label">
          Requested Credit Limit:
        </label>
        <div class="col-xl-12 col-lg-12">
          <%
            if ascf.credit_limit.present?
              credit_limit = number_to_currency(ascf.credit_limit, unit: "", separator: ".", delimiter: ",", precision: 0)
            end
          %>

          <% if credit_limits.blank? %>
            <input name="venue_credit_limit" class="form-control m-input currency text-align-left width-100p" type="text" id="venue_credit_limit_text" placeholder="Requested Credit Limit" data-label="Requested Credit Limit" value="<%= credit_limit.present? ? credit_limit : "" %>">
          <% else %>
            <%
              credit_limits_options = credit_limits.map do |increment|
                [
                  number_to_currency(increment, unit: "", separator: ".", delimiter: ",", precision: 0),
                  number_to_currency(increment, unit: "", separator: ".", delimiter: ",", precision: 0)
                ]
              end
            %>

            <%= select_tag(:venue_credit_limit, options_for_select(credit_limits_options, selected: credit_limit.present? ? credit_limit : ""), { class: 'form-control m-input credit_limits_selectpicker select_select2 width-100p', id: 'venue_credit_limit', 'data-label': 'Requested Credit Limit', style: 'width: 100%' }) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
