<div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_personal_guarantee">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">
      Guarantee &#38; Indemnity Personal Guarantee
    </h3>
  </div>
  <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>

  <div class="render_pg_step_personal_guarantee" >
    <%= render 'form_pg_step_personal_guarantee', f: f, vaf: vaf, ascf: ascf, is_directors: is_directors,
        number_of_personal_guarantees: number_of_personal_guarantees, trading_terms_setting: trading_terms_setting, selected_director_ids: selected_director_ids
    %>
  </div>
</div>
