$("#step_3_credit_limit")
  .html('<%= j render(:partial => "form_step_3_credit_limit", :locals => { credit_limits: credit_limits })%>');

$(".render_step_4")
  .html('<%= j render(:partial => "form_step_4", :locals => { supplier_terms_condition: supplier_terms_condition, ascf: ascf })%>');

$('#m_wizard_form_step_trade_references #m_repeater_trade_references').html(
  '<%= j render(partial: "ascf_list_trade_references", locals: { number_of_trade_references: number_of_trade_references, trade_references: ascf.trade_references, trading_terms_setting: trading_terms_setting })%>'
)

$(".render_pg_step_personal_guarantee")
  .html('<%= j render(:partial => "form_pg_step_personal_guarantee", :locals => {
    vaf: vaf, ascf: ascf, is_directors: nil,
    number_of_personal_guarantees: number_of_personal_guarantees,
    trading_terms_setting: trading_terms_setting,
    selected_director_ids: selected_director_ids
})%>');

WizardCredit.inputMask();
WizardCredit.initValidation();
WizardCredit.repeater();
WizardCredit.yesNoButtonsEvents();

$('#venue_credit_limit').select2({
  placeholder: "Select a credit limit"
});

$('.m_selectpicker').selectpicker();

$('.street-type-select2').select2({
  placeholder: "Select one",
  allowClear: true
});

$('.state-select2').select2({
  placeholder: "Select one",
  allowClear: true,
  minimumResultsForSearch: Infinity
});

$("#venue_credit_limit_text").inputmask("decimal", {
  radixPoint: ".",
  autoGroup: true,
  groupSeparator: ",",
  groupSize: 3,
  removeMaskOnSubmit: !0,
});
