$(".render_step_4").html('<%= j render(:partial => "form_step_4", :locals => { supplier_terms_condition: supplier_terms_condition, ascf: ascf })%>');
$(".render_step_3").html('<%= j render(:partial => "form_step_3", :locals => { trading_terms_settings: trading_terms_active, credit_limits: credit_limits })%>');
$("#m_repeater_trade_references").html('<%= j render(:partial => "ascf_list_trade_references", :locals => { trade_references: ascf.trade_references, number_of_trade_references: number_of_trade_references, trading_terms_setting: trading_terms_setting, trading_terms_settings: trading_terms_active })%>');

$('.m_selectpicker').selectpicker('render');
WizardCredit.inputMask();
WizardCredit.initValidation();
WizardCredit.repeater();

$('#venue_credit_limit').select2({
    placeholder: "Select a credit limit"
});

$("#venue_credit_limit_text").inputmask("decimal", {
  radixPoint: ".",
  autoGroup: true,
  groupSeparator: ",",
  groupSize: 3,
  removeMaskOnSubmit: !0,
});
