<div class="m-wizard__nav">
  <div class="m-wizard__steps">
    <div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              1
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Venue Application
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              2
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Supplier
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              3
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Trading Terms
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_4">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              4
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Supplier Terms &#38; Conditions
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_trade_references">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              5
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Trade References
        </div>
      </div>
    </div>
    <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_personal_guarantee">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              6
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Personal Guarantee Details
        </div>
      </div>
    </div>
     <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_review">
      <div class="m-wizard__step-info">
        <a href="#" class="m-wizard__step-number">
          <span>
            <span>
              7
            </span>
          </span>
        </a>
        <div class="m-wizard__step-line">
          <span></span>
        </div>
        <div class="m-wizard__step-label">
          Information Review
        </div>
      </div>
    </div>
  </div>
</div>
