<div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">
      Venue Application
    </h3>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-xl-12 col-lg-12 col-form-label">
      Select Venue Name:
    </label>
    <div class="col-xl-6 col-lg-6">
      <% if (vafs.count > 0) %>
        <%= f.collection_select(:vaf_id, vafs, :id, :trading_name,
          { },
          { class: 'form-control m-input m_selectpicker vaf_selectpicker width-100p', 'data-live-search': 'true',
            'data-label': 'Trading Name' }) %>
      <% else %>
        <h5> Your current director doesn't have the right to access any forms</h5>
      <% end %>
    </div>
  </div>
</div>
