<div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_2">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">
      Supplier
    </h3>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-xl-12 col-lg-12 col-form-label">
      Select Supplier:
    </label>
    <div class="col-xl-6 col-lg-6 div-supplier-selectpicker">
        <%
        suppliers = []

        if ascf.supplier.present?
          supplier_default_id = ascf.supplier_id
          suppliers << ascf.supplier
        end
        %>

        <%= f.collection_select(:supplier_id, suppliers , :id, :company_name,
          {prompt: true, selected: supplier_default_id},
          { class: 'form-control m-select2 supplier_selectpicker',
            'data-label': 'Supplier' }) %>
    </div>
  </div>
</div>
<!-- Show supplier in case edit -->
<% if ascf.supplier.present? %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.div-supplier-selectpicker .select2-selection__rendered').text("<%= ascf.supplier[:company_name] %>");
    });
  </script>
<% end %>