<div class="m-wizard__form-step m-wizard__form-step--current render_step_4" id="m_wizard_form_step_4">
  <div class="m-form__heading">
    <h3 class="m-form__heading-title">
      Supplier Terms &#38; Conditions
    </h3>
  </div>
  <div class="form-group m-form__group">
    <div class="form-control mb-2 pre-scrollable textareaTermsConditions-asvf width-100p" style="max-height: 250px;">
      <%
        supplier_terms_condition_content = "This supplier does not create a Terms and Conditions yet"

        if supplier_terms_condition.present? && supplier_terms_condition.content?
          supplier_terms_condition_content = supplier_terms_condition.content
        end

        if ascf.present? && ascf[:supplier_terms_condition_content].present?
          supplier_terms_condition_content = ascf[:supplier_terms_condition_content]
        end
      %>

      <%= supplier_terms_condition_content.html_safe %>
    </div>
  </div>
</div>
