<div data-repeater-list="trade_references" class="m-form">
  <%
  remaining_tr = number_of_trade_references - trade_references.count
  trade_references = [] if trade_references.count <= 0

  if remaining_tr > 0
    remaining_tr.times do |index|
      trade_references << TradeReference.new
    end
  else
    take_count = trade_references.count + remaining_tr
    trade_references = trade_references.take(take_count)
  end

  trade_reference_index = 0

  if trade_references.count <= 0
  %>
    <p class="no-data-message"><%= "Trade references are not required for our #{trading_terms_setting.trading_term} trading terms." %></p>
  <% end %>
  <% trade_references.each do |trade_reference| %>
    <div data-repeater-item class="trade-reference-item" data-index="<%= trade_reference_index %>">
      <h5>Trade Reference <span class="data-repeater-item-index"><%= trade_reference_index + 1 %></span></h5>
      <input type="hidden" name="id" value="<%= trade_reference[:id] %>" class="trade_reference-id">
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-md-6">
          <%= label_tag :business_name, "* Business Name", class: 'form-control-label font-weight-bold' %>
          <%= text_field_tag :business_name, trade_reference[:business_name],
            class: 'form-control m-input required', placeholder: 'Business Name',
            'data-label': 'Business Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-md-6">
          <%= label_tag :contact_person, "* Contact Person", class: 'form-control-label font-weight-bold' %>
          <%= text_field_tag :contact_person, trade_reference[:contact_person],
            class: 'form-control m-input required', placeholder: 'Contact Person',
            'data-label': 'Contact Person' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-md-6">
          <%= label_tag :contact_number, "* Contact Number", class: 'form-control-label font-weight-bold' %>
          <%= text_field_tag :contact_number, trade_reference[:contact_number],
            class: 'form-control m-input phoneNumber required', placeholder: 'Contact Number',
            'data-label': 'Contact Number' %>
        </div>
      </div>
      <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
    </div>
  <%
    trade_reference_index += 1
  end
  %>
</div>
