<div class="m-form__heading">
  <h3 class="m-form__heading-title">
    Trading Terms
  </h3>
</div>
<div class="row">
  <div class="col-lg-6 m--margin-bottom-20">
    <div class="row">
      <label class="col-xl-12 col-lg-12 col-form-label">
        Select Trading Terms:
      </label>
      <div class="col-xl-12 col-lg-12"  >
          <select class="form-control m-input m_selectpicker trading_term_selectpicker width-100p"
            name="apply_supplier_credit_form[trading_terms_setting_id]"
            data-label="Trading Terms"
            >
            <% trading_terms_settings.each do |trading_terms_setting| %>
              <option id="<%= trading_terms_setting[:id] %>"
                value="<%= trading_terms_setting[:id] %>"
                <%=(trading_terms_setting.default == true) ? "selected" : "" %>
              >
                <%= trading_terms_setting[:trading_term] %>
              </option>
            <% end %>
          </select>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m--margin-bottom-20" id="step_3_credit_limit">
    <div class="row">
      <label class="col-xl-12 col-lg-12 col-form-label">
        Requested Credit Limit:
      </label>
      <div class="col-xl-12 col-lg-12">
        <% if credit_limits.blank? %>
          <input name="venue_credit_limit" class="form-control m-input currency text-align-left width-100p" type="text" id="venue_credit_limit_text" placeholder="Requested Credit Limit" data-label="Requested Credit Limit">
        <% else %>
          <%
            credit_limits_options = credit_limits.map do |increment|
              [
                number_to_currency(increment, unit: "", separator: ".", delimiter: ",", precision: 0),
                number_to_currency(increment, unit: "", separator: ".", delimiter: ",", precision: 0)
              ]
            end
          %>

          <%= select_tag(:venue_credit_limit, options_for_select(credit_limits_options, selected: ""), { class: 'form-control m-input credit_limits_selectpicker select_select2 width-100p', id: 'venue_credit_limit', 'data-label': 'Requested Credit Limit', style: 'width: 100%' }) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
