<% if number_of_personal_guarantees <= 0 %>
  <p class="no-data-message">
    <%= "Personal Guarantees are not required for our #{trading_terms_setting.trading_term} trading terms." %>
  </p>
<% else %>
  <div id="m_repeater_personal_guarantees" >
    <div data-repeater-list="personal_guarantees" class="m-form">
      <%
        personal_guarantees = []

        if ascf.personal_guarantees.present? && ascf.personal_guarantees.count > 0
          personal_guarantees << ascf.personal_guarantees
          personal_guarantees.flatten!
        end

        remain_required_pg_quantity = number_of_personal_guarantees - personal_guarantees.count

        if remain_required_pg_quantity > 0
          remain_required_pg_quantity.times { personal_guarantees << PersonalGuarantee.new }
        end

        personal_guarantee_index = 0
      %>

      <% personal_guarantees.each do |personal_guarantee| %>
      <!-- Begin::Repeater item -->
      <div data-repeater-item class="personal-guarantee-item" data-index="<%= personal_guarantee_index %>">
        <h5> Personal Guarantee <span class="data-repeater-item-index"> <%= personal_guarantee_index +1 %></span></h5>
        <div class="form-group m-form__group row render-question-pg">
          <label class="col-xl-8 col-lg-8 col-form-label">
            Will one of your directors act as the personal guarantee?
          </label>
          <div class="col-lg-4 m--align-center">
            <%
              pg_is_director = !personal_guarantee.new_record? && personal_guarantee.is_director?(ascf)

              yes_active = ''
              no_active = ''

              director_active = ' style="display: none;"'
              pg_active = ' style="display: none;"'

              director_pg = personal_guarantee
              external_pg = personal_guarantee

              if !personal_guarantee.new_record? && pg_is_director
                yes_active = ' active'
                director_active = ' style="display: block;"'
                external_pg = PersonalGuarantee.new
              elsif !personal_guarantee.new_record? && !pg_is_director
                no_active = ' active'
                pg_active = ' style="display: block;"'
              end
            %>

            <a class="btn btn-secondary m-btn m-btn--custom m-btn--icon yes-pg<%= yes_active %>">
              Yes
            </a>
            <a class="btn btn-secondary m-btn m-btn--custom m-btn--icon no-pg<%= no_active %>">
              No
            </a>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="form-group m-form__group dt-details dt-deactive" <%= director_active.present? ? director_active.html_safe : "" %>>
            <%= render "form_pg_step_personal_guarantee_director_pg_option", vaf: vaf, ascf: ascf, selected_director_ids: selected_director_ids, personal_guarantee: director_pg, is_director: pg_is_director %>
          </div>
          <div class="col-lg-12 m-form__group-sub pg-details pg-deactive" <%= pg_active.present? ? pg_active.html_safe : "" %>>
            <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
            <%= render "form_pg_step_personal_guarantee_external_pg_option", personal_guarantee: external_pg, ascf: ascf %>
          </div>
        </div>
        <!-- Begin::Delete repeater item -->
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-md-12">
            <div data-repeater-delete class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill pull-right">
                <span>
                    <i class="la la-trash-o"></i>
                    <span>Delete</span>
                </span>
            </div>
          </div>
        </div>
        <!-- End::Delete repeater item -->
        <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
      </div>
      <!-- End::Repeater item -->

      <%
          personal_guarantee_index += 1
        end
      %>
    </div>
    <!-- Begin::Add repeater item -->
    <div class="form-group m-form__group row">
      <div class="col-lg-6">
        <div data-repeater-create class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide" >
          <span>
            <i class="la la-plus"></i>
            <span>
              Add a personal guarantee
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- End::Add repeater item -->
  </div>
<% end %>
