<div class="external_personal_guarantee">
  <h5>Personal Guarantee</h5>
  <input type="hidden" name="id" value="<%= personal_guarantee[:id] %>" class="personal_guarantee-id">
  <div class="form-group m-form__group row">
    <label class="font-weight-bold col-md-12">* Personal Guarantee Details</label>
    <div class="m-form__group-sub col-md-6">
      <input type="text" class="form-control required" name="firstname"
        placeholder="First Name" value="<%= personal_guarantee[:firstname] %>"
        data-label='First Name'>
    </div>
    <div class="m-form__group-sub col-md-6">
      <input type="text" class="form-control m-input required" name="lastname"
        placeholder="Last Name" value="<%= personal_guarantee[:lastname] %>"
        data-label='Last Name'>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <label class="font-weight-bold">
        * Mobile Number
      </label>
      <input type="text" class="form-control m-input mobileAU required" name="mobile"
        placeholder="Mobile Number" value="<%= personal_guarantee[:mobile] %>"
        data-label='Mobile Number'>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <label class="font-weight-bold">
        Home Phone
      </label>
      <input type="text" class="form-control m-input phoneAU" name="phone"
        placeholder="Home Phone"  value="<%= personal_guarantee[:phone] %>"
        data-label='Home Phone'>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-md-6">
      <label class="font-weight-bold">
        * Email
      </label>
      <input type="text" class="form-control m-input required email" name="email"
        placeholder="Email" value="<%= personal_guarantee[:email] %>"
        data-label='Email'>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group_sub col-md-6">
      <label class="font-weight-bold">
        Address (Home)
      </label>
      <input type="text" name="home_property_name" class="form-control m-input"
        placeholder="Building/Property Name" value="<%= personal_guarantee[:home_property_name] %>"
        data-label='Home Building/Property Name'>
      <small class="form-text text-muted font-weight-300 small-margin-bottom">Building/Property Name</small>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-lg-3">
      <div class="form-group m-form__group row">
        <div class="col-lg-12 m-form__group-sub">
          <input type="text" name="home_unit_number" class="form-control m-input"
            placeholder="Unit Number" value="<%= personal_guarantee[:home_unit_number] %>"
            data-label='Home Unit Number'>
          <small class="form-text text-muted font-weight-300 small-margin-bottom">Unit Number</small>
        </div>
      </div>
    </div>
    <div class="col-lg-9 m-form__group-sub">
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-4">
          <input type="text" name="home_street_number" class="form-control m-input required"
            placeholder="Street Number" value="<%= personal_guarantee[:home_street_number] %>"
            data-label='Home Street Number'>
          <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Number</small>
        </div>
        <div class="m-form__group-sub col-lg-4">
          <input type="text" name="home_street_name" class="form-control m-input required"
            placeholder="Street Name" value="<%= personal_guarantee[:home_street_name] %>"
            data-label='Home Street Name'>
          <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Name</small>
        </div>
        <div class="m-form__group-sub col-lg-4">
          <select name="home_street_type" class="form-control m-input required street-type-select2"
            data-label='Home Street Type' style="width: 100%">
            <% Const::STREET_TYPE_OPTIONS.each do |street_type| %>
              <%
              selected_attribute = personal_guarantee[:home_street_type] == street_type[:value] ? ' selected' : ''
              %>
              <option value="<%= street_type[:value] %>" <%= selected_attribute %>><%= street_type[:name] %></option>
            <% end %>
          </select>
          <span class="m-form__help invisible-element"></span>
          <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Type</small>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="m-form__group-sub col-lg-4">
      <input type="text" name="home_suburb" class="form-control m-input required" placeholder="Suburb"
        value="<%= personal_guarantee[:home_suburb] %>" data-label='Home Suburb'>
      <small class="form-text text-muted font-weight-300 small-margin-bottom">* Suburb</small>
    </div>
    <div class="m-form__group-sub col-lg-4">
      <select name="home_state" class="form-control m-input required state-select2" data-label='Home State' style="width: 100%">
        <% Const::STATE_OPTIONS.each do |state| %>
          <%
          selected_attribute = personal_guarantee[:home_state] == state[:value] ? ' selected' : ''
          %>
          <option value="<%= state[:value] %>" <%= selected_attribute %>><%= state[:name] %></option>
        <% end %>
      </select>
      <span class="m-form__help invisible-element"></span>
      <small class="form-text text-muted font-weight-300 small-margin-bottom">* State</small>
    </div>
    <div class="m-form__group-sub col-lg-4">
      <input type="text" name="home_postcode" class="form-control m-input postcodeAU required"
        placeholder="Postcode" value="<%= personal_guarantee[:home_postcode] %>"
        data-label='Home Postcode'>
      <small class="form-text text-muted font-weight-300 small-margin-bottom">* Postcode</small>
    </div>
  </div>
  <div class="form-group m-form__group m-form__group--sm row m-checkbox-postal-div">
    <div class="col-xl-12">
      <div class="m-checkbox-inline">
        <label class="m-checkbox m-checkbox--solid m-checkbox--brand m-checkbox">
          <input type="checkbox" name="checkbox-residential" value="1" data-label='My postal address is different to my residential address' class=" m-checkbox-postal">
          My postal address is different to my residential address
          <span></span>
        </label>
      </div>
    </div>
  </div>

  <div class = "form-group pa-details pa-deactive">
    <div class="form-group m-form__group row">
      <div class="m-form__group col-md-6">
        <label class="font-weight-bold">
          * Address(Postal)
        </label>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <div class="m-form__group_sub col-md-6">
        <input type="text" name="postal_property_name" class="form-control m-input"
          placeholder="Building/Property Name" value="<%= personal_guarantee[:postal_property_name] %>"
          data-label='Postal Building/Property Name'>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">Building/Property Name</small>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <div class="m-form__group-sub col-lg-3">
        <div class="form-group m-form__group row">
          <div class="col-lg-12 m-form__group-sub">
            <input type="text" name="postal_unit_number" class="form-control m-input"
              placeholder="Unit Number" value="<%= personal_guarantee[:postal_unit_number] %>"
              data-label='Postal Unit Number'>
            <small class="form-text text-muted font-weight-300 small-margin-bottom">Unit Number</small>
          </div>
        </div>
      </div>
      <div class="col-lg-9 m-form__group-sub">
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-lg-4">
            <input type="text" name="postal_street_number" class="form-control m-input required"
              placeholder="Street Number" value="<%= personal_guarantee[:postal_street_number] %>"
              data-label='Postal Street Number'>
            <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Number</small>
          </div>
          <div class="m-form__group-sub col-lg-4">
            <input type="text" name="postal_street_name" class="form-control m-input required"
              placeholder="Street Name" value="<%= personal_guarantee[:postal_street_name] %>"
              data-label='Postal Street Name'>
            <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Name</small>
          </div>
          <div class="m-form__group-sub col-lg-4">
            <select name="postal_street_type" class="form-control m-input required street-type-select2"
              data-label='Postal Street Type' style="width: 100%">
              <% Const::STREET_TYPE_OPTIONS.each do |street_type| %>
                <%
                selected_attribute = personal_guarantee[:postal_street_type] == street_type[:value] ? ' selected' : ''
                %>
                <option value="<%= street_type[:value] %>" <%= selected_attribute %>><%= street_type[:name] %></option>
              <% end %>
            </select>
            <span class="m-form__help invisible-element"></span>
            <small class="form-text text-muted font-weight-300 small-margin-bottom">* Street Type</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <div class="m-form__group-sub col-lg-4">
        <input type="text" name="postal_suburb" class="form-control m-input required" placeholder="Suburb"
          value="<%= personal_guarantee[:postal_suburb] %>" data-label='Postal Suburb'>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Suburb</small>
      </div>
      <div class="m-form__group-sub col-lg-4">
        <select name="postal_state" class="form-control m-input required state-select2" data-label='Postal State' style="width: 100%">
          <% Const::STATE_OPTIONS.each do |state| %>
            <%
            selected_attribute = personal_guarantee[:postal_state] == state[:value] ? ' selected' : ''
            %>
            <option value="<%= state[:value] %>" <%= selected_attribute %>><%= state[:name] %></option>
          <% end %>
        </select>
        <span class="m-form__help invisible-element"></span>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* State</small>
      </div>
      <div class="m-form__group-sub col-lg-4">
        <input type="text" name="postal_postcode" class="form-control m-input postcodeAU required"
          placeholder="Postcode" value="<%= personal_guarantee[:postal_postcode] %>"
          data-label='Postal Postcode'>
        <small class="form-text text-muted font-weight-300 small-margin-bottom">* Postcode</small>
      </div>
    </div>
  </div>
  <%
  signature_image = ascf.signature_image(personal_guarantee)

  if signature_image.present?
  %>
    <img class="signature-image" alt="signature-image" src="<%= signature_image %>"
      data-label="Signed">
  <% end %>
  <%
  signed_at = ascf.get_signed_at(personal_guarantee)
  signed_ip = ascf.get_signed_ip(personal_guarantee)
  geo = ascf.get_geo(personal_guarantee)

  if signed_at.present?
  %>
    <div class="signed-at m--hide" data-label="Date">
      <%= signed_at.strftime('%d-%m-%Y') %>
    </div>
    <div class="signed-at m--hide" data-label="Time">
      <%= signed_at.strftime('%H:%M:%S') %>
    </div>
  <% end %>
  <%
  if signed_ip.present?
  %>
    <div class="signed-at m--hide" data-label="IP Address">
      <%= signed_ip.to_s %>
    </div>
    <div class="signed-at m--hide" data-label="Geo">
      <%= geo %>
    </div>
  <% end %>
</div>
