<div class="row">
  <label class="col-xl-12 col-lg-12 col-form-label">
    Requested Credit Limit:
  </label>
  <div class="col-xl-12 col-lg-12">
    <% if credit_limits.blank? %>
      <input name="venue_credit_limit" class="form-control m-input currency text-align-left width-100p" type="text" id="venue_credit_limit_text" placeholder="Requested Credit Limit" data-label="Requested Credit Limit">
    <% else %>
      <%
        credit_limits_options = credit_limits.map do |increment|
          [
            number_to_currency(increment, unit: "", separator: ".", delimiter: ",", precision: 0),
            number_to_currency(increment, unit: "", separator: ".", delimiter: ",", precision: 0)
          ]
        end
      %>

      <%= select_tag(:venue_credit_limit, options_for_select(credit_limits_options, selected: ""), { class: 'form-control m-input credit_limits_selectpicker select_select2 width-100p', id: 'venue_credit_limit', 'data-label': 'Requested Credit Limit', style: 'width: 100%' }) %>
    <% end %>
  </div>
</div>
