<div class="director_personal_guarantee">
  <label class="col-xl-12 col-lg-12 col-form-label">
    Select the director who will act as a personal guarantee
  </label>
  <div class="col-xl-12 col-lg-12 list-directors">
    <div class="directors-select-wrapper">
      <select class="form-control m-bootstrap-select m_selectpicker required directors-select"
        data-label="Directors">
        <%
          selected_director = vaf.directors.first
          selected_director_id = personal_guarantee.get_director_id(ascf)
          selectedOption = ''

          vaf.directors.each do |director|
            if is_director && selected_director_id == director[:id]
              selectedOption = 'selected'
              selected_director = director
            end
        %>
          <option value="<%= director[:id] %>" <%= selectedOption %>>
            <%= "#{director[:firstname]} #{director[:lastname]}" %>
          </option>
        <% end %>
      </select>
    </div>
    <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
    <h5>Director</h5>
    <input type="hidden" name="director_id" value="<%= selected_director_id.present? ? selected_director_id : ' ' %>" class="selected_director_id">
    <div class="form-group m-form__group detail-director">
      <%
        #render "form_director_details_step_5", director: director, vaf: vaf, ascf: ascf
      %>
      <!-- Begin::Director information -->
      <div class="details">
        <div class="form-group m-form__group row">
          <label class="font-weight-bold col-md-12">Director Details</label>
          <div class="m-form__group-sub col-md-6">
            <input type="text" class="form-control required director_firstname" name="director_firstname"
              value="<%= selected_director[:firstname] %>"
              data-label='FirstName'
              readonly="readonly"
            >
          </div>
          <div class="m-form__group-sub col-md-6">
            <input type="text" class="form-control m-input required director_lastname" name="director_lastname"
              value="<%= selected_director[:lastname] %>"
              readonly="readonly"
              data-label='LastName'>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-md-6">
            <label class="font-weight-bold">
              Mobile Number
            </label>
            <input type="text" class="form-control m-input mobileAU required director_mobile" name="director_mobile"
              value="<%= selected_director[:mobile] %>"
              readonly="readonly"
              data-label='Director Mobile Number'>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-md-6">
            <label class="font-weight-bold">
              Home Phone
            </label>
            <input type="text" class="form-control m-input phoneAU director_phone" name="director_phone"
              value="<%= selected_director[:phone] %>"
              readonly="readonly"
              data-label='Director Home Phone'>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-md-6">
            <label class="font-weight-bold">
              Email
            </label>
            <input type="text" class="form-control m-input required email director_email" name="director_email"
              value="<%= selected_director[:email] %>"
              readonly="readonly"
              data-label='Director Email'>
          </div>
        </div>
        <!-- Begin::Home address -->
        <div class="form-group m-form__group row">
          <div class="m-form__group_sub col-md-6">
            <label class="font-weight-bold">
              Address
            </label>
            <input type="text" name="director_home_property_name" class="form-control m-input director_home_property_name"
              value="<%= selected_director[:property_name] %>"
              readonly="readonly"
              data-label='Building/Property Name'>
            <small class="form-text text-muted font-weight-300 small-margin-bottom">Building/Property Name</small>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-lg-3">
            <div class="form-group m-form__group row">
              <div class="col-lg-12 m-form__group-sub">
                <input type="text" name="director_home_unit_number" class="form-control m-input director_home_unit_number"
                  readonly="readonly"
                  value="<%= selected_director[:unit_number] %>"
                  data-label='Unit Number'>
                <small class="form-text text-muted font-weight-300 small-margin-bottom">Unit Number</small>
              </div>
            </div>
          </div>
          <div class="col-lg-9 m-form__group-sub">
            <div class="form-group m-form__group row">
              <div class="m-form__group-sub col-lg-4">
                <input type="text" name="director_home_street_number" class="form-control m-input required director_home_street_number"
                  value="<%= selected_director[:street_number] %>"
                  readonly="readonly"
                  data-label='Street Number'>
                <small class="form-text text-muted font-weight-300 small-margin-bottom">Street Number</small>
              </div>
              <div class="m-form__group-sub col-lg-4">
                <input type="text" name="director_home_street_name" class="form-control m-input required director_home_street_name"
                  value="<%= selected_director[:street_name] %>"
                  readonly="readonly"
                  data-label='Street Name'>
                <small class="form-text text-muted font-weight-300 small-margin-bottom">Street Name</small>
              </div>
              <div class="m-form__group-sub col-lg-4">
                <input type="text" name="director_home_street_type" class="form-control m-input required director_home_street_type"
                  value="<%= selected_director[:street_type] %>"
                  readonly="readonly"
                  data-label='Street Type'>
                <small class="form-text text-muted font-weight-300 small-margin-bottom">Street Type</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="m-form__group-sub col-lg-4">
            <input type="text" name="director_home_suburb" class="form-control m-input required director_home_suburb"
                value="<%= selected_director[:suburb] %>" data-label='Suburb'
                readonly="readonly"
                >
            <small class="form-text text-muted font-weight-300 small-margin-bottom">Suburb</small>
          </div>
          <div class="m-form__group-sub col-lg-4">
            <input type="text" name="director_home_state" class="form-control m-input required director_home_state"
                value="<%= selected_director[:state] %>" data-label='State'
                readonly="readonly"
                >
            <small class="form-text text-muted font-weight-300 small-margin-bottom">State</small>
          </div>
          <div class="m-form__group-sub col-lg-4">
            <input type="text" name="director_home_postcode" class="form-control m-input postcodeAU required director_home_postcode"
              readonly="readonly"
              value="<%= selected_director[:postcode] %>"
              data-label='Postcode'>
            <small class="form-text text-muted font-weight-300 small-margin-bottom">Postcode</small>
          </div>
        </div>
        <!-- Begin::End address -->
        <%
        if ascf.present? && ascf.personal_guarantees.present?
          personal_guarantee = ascf.personal_guarantees.first
          signature_image = ascf.signature_image(personal_guarantee)


          if signature_image.present?
          %>
            <img class="signature-image" alt="signature-image" src="<%= signature_image %>"
            data-label="Signed">
          <% end %>

          <%
          signed_at = ascf.get_signed_at(personal_guarantee)
          signed_ip = ascf.get_signed_ip(personal_guarantee)
          geo = ascf.get_geo(personal_guarantee)

          if signed_at.present?
          %>
            <div class="signed-at m--hide" data-label="Date">
              <%= signed_at.strftime('%d-%m-%Y') %>
            </div>
            <div class="signed-at m--hide" data-label="Time">
              <%= signed_at.strftime('%H:%M:%S') %>
            </div>
          <% end %>

        <%
          if signed_ip.present?
          %>
            <div class="signed-at m--hide" data-label="IP Address">
              <%= signed_ip.to_s %>
            </div>
            <div class="signed-at m--hide" data-label="Geo">
              <%= geo %>
            </div>
          <%
          end
        end
        %>
      </div>
    </div>
  </div>
</div>
