<%= form_with(model: venue_supplier, local: true, url: url,
  html: { class: "m-form m-form--state m-form--fit", id: "new_venue_supplier_form", name: "Newvenuesupplierform"}) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if venue_supplier.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if venue_supplier.errors.any? %>
              <ul>
              <% venue_supplier.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%# testing %>
          <%#= form.label :venue_supplier.supplier.name, "* Trading Name:", class: 'form-control-label' %>
          <%#= form.text_field :company_name, id: :company_name, class: 'form-control m-input', placeholder: 'Trading name',:required => true %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button id="submit_supplier" type="submit" class="btn btn-brand">
            Save
          </button>
          <button type="button" onclick="location.href='<%= admin_venue_suppliers_path %>';" class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

