 <select class="form-control m-bootstrap-select m_selectpicker directors-select" data-label="Directors" >
  <% directors.each do |director|  %>
    <option value="<%=director.id%>" >
      <%= "#{director[:firstname]} #{director[:lastname]}" %>
    </option>
  <% end %>
</select>
