<%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
 <% supplier = @ascf.supplier %>
<div class="form-group" style="margin-bottom:-40px">
  <label class="my-0 mr-md-auto font-weight-normal" style="margin-bottom:-10px">
    <p style="margin:0px"><label>Trading Name: </label> <%= supplier.company_name %></p>
    <p style="margin:0px">
      <label>Address: </label>
      <%= supplier.suburb.present? ? "#{supplier[:street_number]} #{supplier[:street_name]}
          #{supplier[:street_type]} #{supplier[:suburb]} #{supplier[:state]}" :
          "#{supplier[:address]}"
      %>
    </p>
    <p style="margin:0px"><label>Contact Number: </label> <%= supplier.contact_number %></p>
    <p style="margin:0px"><label>ABN </label> <%= supplier.abn %></p>
  </label>

  <label class="my-0 mr-md-auto font-weight-normal" style="float: right;">
    <% if supplier.logo.present? %>
      <%= wicked_pdf_image_tag(supplier.logo.url, height: '100') %>
    <% else %>
      <%= image_tag(wicked_pdf_asset_base64('none-logo.png'),height: '100') %>
    <% end %>
  </label>
</div>
<br/>
<br/>
<br/>
<div class="form-group form-reviews">
  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">GET STARTED</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Trading Name:</label> <%= @vaf.trading_name %>
        </div>
          <div class="m-form__group-sub col-xs-6">
          <label>Email:</label> <%= @vaf.email %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">APPLICANT DETAILS</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>First Name:</label> <%= @vaf.firstname %>
        </div>
        <div class="m-form__group-sub col-xs-6">
          <label>Last Name:</label> <%= @vaf.lastname %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Mobile:</label> <%= @vaf.mobile %>
        </div>
        <div class="m-form__group-sub col-xs-6">
          <label>Phone (Landline):</label> <%= @vaf.phone %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Building/Property Name:</label> <%= @vaf.trading_property_name %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label>Unit Number:</label> <%= @vaf.trading_unit_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Number:</label> <%= @vaf.trading_street_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Type:</label> <%= @vaf.trading_street_type %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label> Suburb:</label> <%= @vaf.trading_suburb %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>State:</label> <%= @vaf.trading_state %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Postcode:</label> <%= @vaf.trading_postcode %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">COMPANY DETAILS</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Company Name:</label>
          <%= @vaf.company_name %>
        </div>
          <div class="m-form__group-sub col-xs-6">
          <label>ABN:</label> <%= @vaf.company_abn %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Operating Structure:</label> <%= @vaf.operating_structure %>
        </div>
        <div class="m-form__group-sub col-xs-6">
          <label>Market Segment:</label> <%= @vaf.market_segment.name %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Building/Property Name:</label> <%= @vaf.registered_property_name %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label>Unit Number:</label> <%= @vaf.registered_unit_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Number:</label> <%= @vaf.registered_street_number %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Street Type:</label> <%= @vaf.registered_street_type %>
        </div>
      </div>

      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-4">
          <label>Suburb:</label> <%= @vaf.registered_suburb %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>State:</label> <%= @vaf.registered_state %>
        </div>
        <div class="m-form__group-sub col-xs-4">
          <label>Postcode:</label> <%= @vaf.registered_postcode %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group m-form__group m-form__group--sm row">
    <div class="m-form__group-sub col-xs-5">
      <div class="card h-100">
        <div class="card-header font-weight-bold" style="background-color: #CDBDB9">BANKING DETAILS</div>
        <div class="card-body pb-1">
          <p><label>Bank &amp; Brank: </label> <%= @vaf.bank_branch %></p>
          <p><label>BSB:</label> <%= @vaf.bsb %></p>
          <p><label>Account Number:</label> <%= @vaf.account_number %></p>
        </div>
      </div>
    </div>

    <div class="m-form__group-sub col-xs-7">
      <div class="card h-100">
        <div class="card-header font-weight-bold" style="background-color: #CDBDB9">ACCOUNTS &amp; DELIVERY DETAILS</div>
        <div class="card-body pb-1">
          <p>
            <label>Accounts Person Name: </label>
            <%= @vaf.account_contact_name %>
          </p>
          <p>
            <label>Accounts Person Email: </label>
            <%= @vaf.account_contact_email %>
          </p>
          <p>
            <label>Accounts Person Number: </label>
            <%= @vaf.account_contact_number %>
          </p>
          <p>
            <label>Delivery Contact Name: </label>
            <%= @vaf.delivery_contact_name %>
          </p>
          <p>
            <label>Delivery Contact Number: </label>
            <%= @vaf.delivery_contact_number %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">DIRECTORS DETAILS</div>
    <div class="card-body pb-1">
      <% @directors.each_with_index do |director, index| %>
        <h5 class="card-title font-weight-bold">Director <%= index + 1 %></h5>
        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>First Name:</label> <%= director.firstname %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Middle Name:</label> <%= director.middlename %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Last Name:</label> <%= director.lastname %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Mobile:</label> <%= director.mobile %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Phone:</label> <%= director.phone %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Email:</label> <%= director.email %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-6">
            <label>Building/Property Name:</label> <%= director.property_name %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Unit Number:</label> <%= director.unit_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Street Number:</label> <%= director.street_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Street Type:</label> <%= director.street_type %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Suburb:</label> <%= director.suburb %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>State:</label> <%= director.state %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Postcode:</label> <%= director.postcode %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Date of Birth:</label>
            <%= director.date_of_birth.strftime('%d-%m-%Y') if director.date_of_birth? %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Driver's License:</label> <%= director.drivers_license_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>License Expiry:</label>
              <%= director.license_expiry.strftime('%d-%m-%Y') if director.license_expiry? %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row m--align-center">
          <div class="m-form__group-sub col-xs-6 ">
            <p><label>Drivers License Front:</label><p>

            <% if director.front_license_file.present? %>
              <div class="mb-3">
                <%= wicked_pdf_image_tag(director.front_license_file.url, width: '300') %>
              </div>
            <% end %>
        </div>
          <div class="m-form__group-sub col-xs-6">
            <p><label>Drivers License Back:</label><p>

            <% if director.front_license_file.present? %>
              <div class="mb-3 front-license-file-preview">
                <%= wicked_pdf_image_tag(director.back_license_file.url, width: '300') %>
              </div>
            <% end %>
          </div>
        </div>
        <p>
          <label>Has the director been bankrupt ?:</label> <%= director.has_been_bankrupt ? "yes" : "no"%>
        </p>
        <p><label>Signed:</label></p>
        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-8">
            <p>
              <%
              signature_image = @vaf.signature_image(director)

              if signature_image.present?
              %>
                <img class="" alt="signature-image" src="<%= signature_image %>" width="300">
              <% end %>
            </p>
          </div>
          <%
          signed_at = @vaf.get_signed_at(director)
          signed_ip = @vaf.get_signed_ip(director)
          geo = @vaf.get_geo(director)

          %>
          <div class="m-form__group-sub col-xs-4">
            <label>Date:</label>
            <%= signed_at.strftime('%d-%m-%Y') if signed_at.present? %>
            </br>
            <label>Time:</label>
            <%= signed_at.strftime('%H:%M:%S') if signed_at.present? %>
            </br>
            <label>IP Address:</label>
            <%= signed_ip.to_s if signed_ip.present? %>
            </br>
            <label>Geo:</label>
            <%= geo %>
            </div>
          </div>
        </div>
        <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">TRADING TERMS</div>
    <div class="card-body pb-1">
      <div class="form-group m-form__group m-form__group--sm row">
        <div class="m-form__group-sub col-xs-6">
          <label>Trading Terms:</label> <%= @ascf.trading_terms_setting.trading_term %>
        </div>
          <div class="m-form__group-sub col-xs-6">
          <label>Approved Credit Limit:</label>
          <%
            if @ascf.credit_limit.present?
              credit_limit = number_to_currency(@ascf.credit_limit, unit: "", separator: ".", delimiter: ",", precision: 0)
            end
          %>
          <%= credit_limit %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">TRADE REFERENCES</div>
    <div class="card-body pb-1">
      <% @trade_references.each_with_index do |trade_reference, index| %>
        <h5 class="card-title font-weight-bold">Trade Reference <%= index + 1 %></h5>
        <p>
          <label>Business Name: </label>
          <%= trade_reference.business_name %>
        </p>
        <p>
          <label>Contact Person: </label>
          <%= trade_reference.contact_person %>
        </p>
        <p>
          <label>Contact Number: </label>
          <%= trade_reference.contact_number %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">
      GUARANTEE &amp; INDEMNITY PERSONAL GUARANTEES
    </div>
    <div class="card-body pb-1">
      <% @asc_personal_guarantees.each_with_index do |ascpg, index| %>
        <h5 class="card-title font-weight-bold">
          Personal Guarantees
          <%= index + 1 %>
        <%= ascpg.is_director ? "(director)" : "" %>
        </h5>
        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-6">
            <label>First Name:</label> <%= ascpg.personal_guarantee.firstname %>
          </div>
          <div class="m-form__group-sub col-xs-6">
            <label>Last Name:</label> <%= ascpg.personal_guarantee.lastname %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Mobile:</label> <%= ascpg.personal_guarantee.mobile %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Phone:</label> <%= ascpg.personal_guarantee.phone %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Email:</label> <%= ascpg.personal_guarantee.email %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-6">
            <label>Home Building/Property Name:</label> <%= ascpg.personal_guarantee.home_property_name %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Home Unit Number:</label> <%= ascpg.personal_guarantee.home_unit_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Home Street Number:</label> <%= ascpg.personal_guarantee.home_street_number %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Home Street Type:</label> <%= ascpg.personal_guarantee.home_street_type %>
          </div>
        </div>

        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-4">
            <label>Home Suburb:</label> <%= ascpg.personal_guarantee.home_suburb %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Home State:</label> <%= ascpg.personal_guarantee.home_state %>
          </div>
          <div class="m-form__group-sub col-xs-4">
            <label>Home Postcode:</label> <%= ascpg.personal_guarantee.home_postcode %>
          </div>
        </div>
        <h5 class="card-title notification">
          <%= ascpg.personal_guarantee.has_different_postal_address ? "The Postal Address:" : "(The postal address is the same as the residential address)" %>
        </h5>
        <% if ascpg.personal_guarantee.has_different_postal_address %>
          <div class="form-group m-form__group m-form__group--sm row">
            <div class="m-form__group-sub col-xs-6">
              <label>Postal Building/Property Name:</label> <%= ascpg.personal_guarantee.postal_property_name %>
            </div>
          </div>

          <div class="form-group m-form__group m-form__group--sm row">
            <div class="m-form__group-sub col-xs-4">
              <label>Postal Unit Number:</label> <%= ascpg.personal_guarantee.postal_unit_number %>
            </div>
            <div class="m-form__group-sub col-xs-4">
              <label>Postal Street Number:</label> <%= ascpg.personal_guarantee.postal_street_number %>
            </div>
            <div class="m-form__group-sub col-xs-4">
              <label>Postal Street Type:</label> <%= ascpg.personal_guarantee.postal_street_type %>
            </div>
          </div>

          <div class="form-group m-form__group m-form__group--sm row">
            <div class="m-form__group-sub col-xs-4">
              <label>Postal Suburb:</label> <%= ascpg.personal_guarantee.postal_suburb %>
            </div>
            <div class="m-form__group-sub col-xs-4">
              <label>Postal State:</label> <%= ascpg.personal_guarantee.postal_state %>
            </div>
            <div class="m-form__group-sub col-xs-4">
              <label>Postal Postcode:</label> <%= ascpg.personal_guarantee.postal_postcode %>
            </div>
          </div>
        <% end %>
        <p><label>Signed:</label></p>
        <div class="form-group m-form__group m-form__group--sm row">
          <div class="m-form__group-sub col-xs-8">
            <p>
              <%
              signature_image = @ascf.signature_image(ascpg.personal_guarantee)

              if signature_image.present?
              %>
                <img class="" alt="signature-image" src="<%= signature_image %>" width="300">
              <% end %>
            </p>
          </div>
          <%
          signed_at = @ascf.get_signed_at(ascpg.personal_guarantee)
          signed_ip = @ascf.get_signed_ip(ascpg.personal_guarantee)
          geo = @ascf.get_geo(ascpg.personal_guarantee)

          %>
          <div class="m-form__group-sub col-xs-4">
            <label>Date:</label>
            <%= signed_at.strftime('%d-%m-%Y') if signed_at.present? %>
            </br>
            <label>Time:</label>
            <%= signed_at.strftime('%H:%M:%S') if signed_at.present? %>
            </br>
            <label>IP Address:</label>
            <%= signed_ip.to_s if signed_ip.present? %>
            </br>
            <label>Geo:</label>
            <%= geo %>
          </div>
        </div>
        </br>
        <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header font-weight-bold" style="background-color: #CDBDB9">TRADING TERMS &amp; CONDITIONS</div>
    <div class="card-body pb-1" style="text-align: justify;">
      <%= html_escape(@terms_and_condition.content.html_safe) %>
    </div>
  </div>
</div>
