<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          List of my suppliers
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
       <div class="col-xl-9 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="form-group m-form__group row">
                <label class="col-form-label col-md-3 col-sm-12">
                  Status:
                </label>
                <div class="col-md-9 col-sm-12">
                  <select class="form-control m-bootstrap-select" id="m_list_credit_form_status">
                    <option value="" selected>
                      All
                    </option>
                    <% @all_venues_status.each do |status| %>
                      <option id="<%= status %>"
                        value="<%= status %>"
                      >
                        <%= status %>
                      </option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group m-form__group row">
                <label class="col-form-label col-md-7 col-sm-12" id="pg-signed-filter-label" >
                  Personal Guarantees Signed:
                </label>
                <div class="col-md-5 col-sm-12">
                  <select class="form-control m-bootstrap-select" id="m_list_pg_sign">
                    <option value="">
                      All
                    </option>
                    <option value="Yes">
                      Yes
                    </option>
                    <option value="No">
                      No
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 order-1 order-xl-2 m--align-right">
          <% if current_user.is_director? %>
            <a href="<%= new_admin_venue_supplier_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
              <span>
                <i class="la la-plus"></i>
                <span>Add New Supplier</span>
              </span>
            </a>
          <% end %>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable--brand text-center" id="suppliers_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="Venue Trading Name">Venue Trading Name</th>
          <th title="Supplier Trading Name">Supplier Trading Name</th>
          <th title="Contact Name">Contact Name</th>
          <th title="ABN">ABN</th>
          <th title="Contact Email">Contact Email</th>
          <th title="Contact Number">Contact number</th>
          <th title="Contact Address">Contact Address</th>
          <th title="Trading Term">Trading Term</th>
          <th title="Credit Limit">Credit Limit</th>
          <th title="Personal Guarantees Signed">Personal Guarantees Signed</th>
          <th title="Active">Active</th>
          <th title="Created At">Created At</th>
          <th title="Status">Status</th>
          <th title="Actions">Actions</th>

        </tr>
      </thead>
      <tbody>
        <% @venue_suppliers.each_with_index do |form, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= form.vaf[:trading_name] %></td>
            <td><%= form.supplier[:company_name] %></td>
            <td><%= form.supplier[:contact_name] %></td>
            <td><%= form.supplier[:abn] %></td>
            <td><%= form.supplier[:email] %></td>
            <td><%= form.supplier[:contact_number] %></td>
            <td><%= form.supplier[:address] %></td>
            <td><%= form.trading_terms_setting[:trading_term] %></td>
            <td>
              <%= number_to_currency(form[:credit_limit], unit: "", separator: ".", delimiter: ",", precision: 0) %>
            </td>
            <td>
              <% if form.is_signed_by_all_personal_guarantees? %>
                <%= "Yes" %>
              <% elsif form.is_signed_by_personal_guarantee? %>
                <%= form.get_quantity_of_personal_guarantees_have_signed %>
              <% else %>
                <%= "No" %>
              <% end %>
            </td>
            <td>
              <% if form[:active] %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-check"></i>
                </span>
              <% else %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-remove"></i>
                </span>
              <% end %>
            </td>
            <td><%= pretty_format_date(form[:created_at], '%d-%m-%Y %H:%M:%S') %></td>
            <td><%= form.get_status_name %></td>
            <td>
              <% if current_user.is_director? %>
                <% if form[:supplier_credit_limit].present? && form.is_approvable? %>
                  <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Approve" data-toggle="modal" data-target="#<%= "approve_apply_credit_#{form[:id]}" %>">
                    <i class="la flaticon-interface"></i>
                  </a>
                  <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Reject" data-toggle="modal" data-target="#<%= "reject_apply_credit_#{form[:id]}" %>">
                    <i class="la flaticon-circle"></i>
                  </a>
                <% end %>
              <% end %>

              <a href="<%= edit_admin_venue_supplier_path(id: form[:id], step: 'review') %>"
                class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                title="Review">
                <i class="la flaticon-file-1"></i>
              </a>

              <% if current_user.is_director? %>
                <% if form[:active] && (form.is_draft? || form.is_pending_pg_signature?) %>
                  <a href="<%= edit_admin_venue_supplier_path(form[:id]) %>"
                    class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                    title="Edit details">
                    <i class="la la-edit"></i>
                  </a>
                <% end %>

                <% unless form.is_approved? %>
                  <a href="<%= admin_venue_supplier_path(form) %>"
                    class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                    title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                    <i class="la la-trash"></i>
                  </a>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% if current_user.is_director? && form[:supplier_credit_limit].present? && form.is_approvable? %>
            <%= render '/shared/confirmation', modal_id: "approve_apply_credit_#{form[:id]}", url: admin_admin_venues_approve_path(form[:id]), title: "Confirm Approval", content: "Apply Credit from #{form.supplier[:company_name]}" %>
            <%= render '/shared/confirmation', modal_id: "reject_apply_credit_#{form[:id]}", url: admin_admin_venues_reject_path(form[:id]), title: "Confirm Rejection", content: "Apply Credit from #{form.supplier[:company_name]}" %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
