<%= render 'apply_supplier_credit_form', ascf: @venue_supplier, vaf: @venue_application_form, vafs: @venue_application_forms, trading_terms_active: @trading_terms_active, credit_limits: @credit_limits, supplier_terms_condition: @supplier_terms_condition, is_directors: @is_directors, number_of_personal_guarantees: @number_of_personal_guarantees, trading_terms_setting: @trading_terms_setting, number_of_trade_references: @number_of_trade_references, selected_director_ids: @selected_director_ids %>
