<%= form_with(model: user, local: true, url: url,
  html: { class: "m-form m-form--state m-form--fit", id: "new_user_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if user.errors.any?
      readonly = true
      readonly = false if user[:id].blank?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if user.errors.any? %>
              <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :name, class: 'form-control-label' %>
          <%= form.text_field :name, id: :name, class: "form-control m-input", placeholder: 'Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :firstname, 'First Name', class: 'form-control-label' %>
          <%= form.text_field :firstname, id: :firstname, class: "form-control m-input", placeholder: 'First Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :lastname, 'Last Name', class: 'form-control-label' %>
          <%= form.text_field :lastname, id: :lastname, class: "form-control m-input", placeholder: 'Last Name' %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :email, 'Email', class: 'form-control-label' %>
          <%= form.text_field :email, id: :email, class: "form-control m-input", placeholder: "Email", readonly: readonly %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :role, "Roles", class: 'form-control-label' %>
          <%= form.select :role,
            options_for_select(Const::USER_ROLES.values.map { |obj| [obj[:name], obj[:value]] }, user[:role].split(',')), {},
            { class: 'form-control m-bootstrap-select m_selectpicker', multiple: true } %>
        </div>
      </div>
      <div class="form-group m-form__group">
        <%= form.label :password %>
        <%= form.password_field :password, id: :password, autocomplete: "off", class: "form-control m-input", placeholder: "Password" %>
      </div>
      <div class="form-group m-form__group">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, autocomplete: "off", class: 'form-control m-input', placeholder: "Confirm Password" %>
      </div>
    </div>
  </div>

  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-brand">
            Save
          </button>
          <a href="<%= admin_users_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
