<%= form_with(model: supplier_terms_condition, local: true, url: url, method: :post,
  html: { class: "m-form m-form--state m-form--fit", id: "new_supplier_terms_condition_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if supplier_terms_condition.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if supplier_terms_condition.errors.any? %>
              <ul>
              <% supplier_terms_condition.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <%
            is_deletable = supplier_terms_condition.is_deletable? ? "" : "disabled"
          %>

          <%= form.label :market_segments_list, "* Market Segments:", class: 'form-control-label' %>
          <select name="supplier_terms_condition[market_segments_list][]" id="marketSegmentsSelect" class="form-control  market_segments_sp" multiple="multiple" <%= is_deletable %> >
             <option value="All" <%= supplier_terms_condition.is_all_market == true ? "selected" : "" %>  >
                All
              </option>
            <% MarketSegment.order(name: :asc).each do |ms|  %>
              <option value="<%=ms.id%>" <%= supplier_terms_condition.market_segments.find_by_id(ms.id).blank? ? "" : "selected" %>>
                <%= ms.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group m-form__group row">
        <div class="col-lg-6">
          <%= form.label :trading_terms_setting_id, "*Trading Terms:", class: 'form-control-label' %>
          <select name="supplier_terms_condition[trading_terms_setting_id]" id="tradingTermsSelect" class="form-control m-input trading_terms_setting_sp"
            data-label="Trading Terms" <%= is_deletable %>
          >
             <option value="All" <%= supplier_terms_condition.is_all_trading_terms_settings == true ? "selected" : "" %>  >
                All
              </option>

            <% trading_terms_settings.each do |tts|  %>
              <option value="<%=tts.id%>" <%= supplier_terms_condition.trading_terms_setting_id == tts.id ? "selected" : ""%>>
                <%= tts.trading_term %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label "* Terms & Conditions:", "* Terms & Conditions:", class: 'form-control-label' %>
          <%= form.hidden_field :content, id: :content, class: 'content'%>
          <div class="content_editor summernote" id="content_editor">
            <% if supplier_terms_condition.content? %>
              <%= supplier_terms_condition.content.html_safe %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-brand">
            Save
          </button>
          <a href="<%= admin_suppliers_my_terms_and_conditions_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
