<%= form_with(model: supplier, local: true, url: url,
  html: { class: "m-form m-form--state m-form--fit", id: "new_supplier_form", name: "Newsupplierform"}) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if supplier.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if supplier.errors.any? %>
              <ul>
              <% supplier.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :company_name, "* Trading Name:", class: 'form-control-label' %>
          <%= form.text_field :company_name, id: :company_name, class: 'form-control m-input', placeholder: 'Trading name',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :contact_name, "* Contact Name:", class: 'form-control-label' %>
          <%= form.text_field :contact_name, id: :contact_name, class: 'form-control m-input', placeholder: 'Contact name',:required => true %>
        </div>
      </div>

      <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :contact_number, "* Contact Number:", class: 'form-control-label' %>
          <%= form.text_field :contact_number, id: :contact_number, class: 'form-control m-input', placeholder: 'Contact number',:required => true%>
        </div>
      </div>
            <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :address, "* Address:", class: 'form-control-label' %>
          <%= form.text_field :address, id: :address, class: 'form-control m-input', placeholder: 'Address', :required => true %>
        </div>
      </div>
            <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :abn, "* ABN:", class: 'form-control-label' %>
          <%= form.text_field :abn, id: :abn, class: 'form-control m-input', placeholder: 'ABN',:required => true %>
        </div>
      </div>
            <div class="form-group m-form__group row">
        <div class="col-lg-12">
          <%= form.label :email, "* Contact Email:", class: 'form-control-label' %>
          <%= form.text_field :email, id: :email, class: 'form-control m-input', placeholder: 'Contact Email', :required => true %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button id="submit_supplier" type="submit" class="btn btn-brand">
            Save
          </button>
          <a href="<%= admin_suppliers_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

