<%= form_with(model: supplier, local: true, url: url, method: :post,
  html: { class: "m-form m-form--fit m-form--label-align-right", id: "new_supplier_form", name: "Newsupplierform"}) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if supplier.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if supplier.errors.any? %>
              <ul>
              <% supplier.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-12 ml-auto">
          <h3 class="m-form__section">
            1. Supplier Details
          </h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :company_name, "Trading Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :company_name, id: :company_name, class: 'form-control m-input', placeholder: 'Trading name',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :contact_name, "Contact Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :contact_name, id: :contact_name, class: 'form-control m-input', placeholder: 'Contact name',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :first_name, "First Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :first_name, id: :first_name, class: 'form-control m-input', placeholder: 'First Name',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :last_name, "Last Name", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :last_name, id: :last_name, class: 'form-control m-input', placeholder: 'Last Name',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :contact_number, "Contact Number", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :contact_number, id: :contact_number, class: 'form-control m-input', placeholder: 'Contact Number',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :address, "Address", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :address, id: :address, class: 'form-control m-input', placeholder: 'Address',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :abn, "ABN", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :abn, id: :abn, class: 'form-control m-input', placeholder: 'ABN',:required => true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :email, "Contact Email", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :email, id: :email, class: 'form-control m-input', placeholder: 'Contact Email',required: true, readonly: true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-12 ml-auto">
          <h3 class="m-form__section">
            2. Personal &amp; business phone
          </h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :business_phone, "Business Phone", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :business_phone, id: :business_phone, class: 'form-control m-input', placeholder: 'Business Phone'%>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <%= form.label :contact_mobile, "Contact Mobile", class: 'col-lg-3 col-form-label' %>
        <div class="col-lg-9">
          <%= form.text_field :contact_mobile, id: :contact_mobile, class: 'form-control m-input', placeholder: 'Contact Mobile'%>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row m--align-center">
        <div class="col-lg-12">
          <button id="submit_supplier" type="submit" class="btn btn-brand">
            Save
          </button>
          <button type="button" onclick="location.href='<%= admin_admin_index_path %>';" class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

