<%= form_with(model: supplier_user, local: true, url: url, method: :post,
  html: { class: "m-form m-form--state m-form--fit", id: "new_supplier_user_form" }) do |form| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <%
      hide_error = 'm--hide'
      hide_error = '' if supplier_user.errors.any?
      %>
      <div class="m-form__content">
        <div class="m-alert m-alert--icon alert alert-danger <%= hide_error %>" role="alert" id="m_form_1_msg">
          <div class="m-alert__icon">
            <i class="la la-warning"></i>
          </div>
          <div class="m-alert__text">
            <% if supplier_user.errors.any? %>
              <ul>
              <% supplier_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% else %>
              Oh snap! Change a few things up and try submitting again.
            <% end %>
          </div>
          <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-6">
          <%= form.label :firstname, "* First Name:", class: 'form-control-label' %>
          <%= form.text_field :firstname, id: :firstname, class: 'form-control m-input text-align-left', placeholder: 'First Name', required: true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-6">
          <%= form.label :lastname, "* Last Name:", class: 'form-control-label' %>
          <%= form.text_field :lastname, id: :lastname, class: 'form-control m-input text-align-left', placeholder: 'Last Name', required: true %>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="m-form__group-sub col-lg-6">
          <%= form.label :email, "* Email:", class: 'form-control-label' %>
          <%= form.text_field :email, id: :email, class: 'form-control m-input text-align-left', placeholder: 'Email', required: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-brand">Save</button>
          <a href="<%= admin_suppliers_supplier_users_path %>" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
