<%= form_for(supplier, url: url, html: { multipart: true, class: "m-form m-form--fit m-form--label-align-right", id: 'update-logo-form' }, method: :post) do |f| %>
  <div class="m-portlet__body">
    <% if supplier.logo.present? %>
      <div class="form-group m-form__group row">
        <div class="col-12">
          <h3 class="m-form__section">1. Your Logo </h3>
          <label class="my-0 mr-md-auto font-weight-normal">
            <%= image_tag(supplier.logo.url,height: '100') %>
          </label>
        </div>
      </div>
    <% end %>
    <div class="form-group m-form__group row">
      <div class="col-12">
        <h3 class="m-form__section">2. Upload Logo</h3>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <%= f.label :logo, class: "col-2 col-form-label" %>
      <div class="custom-file col-7">
        <div style="position: relative;">
          <%= f.file_field :logo, class: "custom-file-input" %>
          <label class="custom-file-label" for="supplier[logo]">
            Choose a image file
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-7">
          <%= f.submit "Upload", class: "btn btn-brand m-btn m-btn--air m-btn--custom" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
