<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Edit Supplier User
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <%= render 'form_supplier_user', supplier_user: @supplier_user, url: admin_suppliers_update_supplier_user_path(params[:id]) %>
  </div>
</div>
