<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-business"></i>
        </span>
        <h3 class="m-portlet__head-text">
          List of Suppliers
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a href="<%= new_admin_supplier_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
            <span>
              <i class="la la-plus"></i>
              <span>New Supplier</span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable--brand text-center" id="suppliers_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="Trading Name">Trading Name</th>
          <th title="Contact Name">Contact Name</th>
          <th title="ABN">ABN</th>
          <th title="Contact Email">Contact Email</th>
          <th title="Contact Number">Contact number</th>
          <th title="Contact Address">Contact Address</th>
          <th title="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers.each_with_index do |supplier, index| %>
          <%# <%
            if supplier[:active]
              active_class = 'm-badge m-badge--success m-badge--wide'
            else
              active_class = 'm-badge m-badge--danger m-badge--wide'
            end
          %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= supplier[:company_name] %> </td>
            <td><%= supplier[:contact_name] %> </td>
            <td><%= supplier[:abn] %> </td>
            <td><%= supplier[:email] %> </td>
            <td><%= supplier[:contact_number] %> </td>
            <td><%= supplier[:address] %> </td>
            <td>
              <a href="<%= edit_admin_supplier_path(supplier) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                title="Edit details">
                <i class="la la-edit"></i>
              </a>
              <a href="<%= admin_supplier_path(supplier[:id]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                <i class="la la-trash"></i>
              </a>
            </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
