<div class="m-content">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="m-portlet m-portlet--full-height  ">
        <div class="m-portlet__body">
          <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
              Your Profile
            </div>
            <div class="m-card-profile__pic">
              <div class="m-card-profile__pic-wrapper">
                <img src="<%= current_user.default_avatar %>" class="m--img-rounded m--marginless" alt=""/>
              </div>
            </div>
            <div class="m-card-profile__details overflow-hidden">
              <span class="m-card-profile__name">
                <%= current_user.name || @supplier.contact_name ||  @supplier.first_name + @supplier.last_name%>
              </span>
              <a href="" class="m-card-profile__email m-link">
                <%= @supplier.email %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Update Profile
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                  Upload Avatar
                </a>
              </li>

              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                  Upload Logo
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <%= render 'form_profile', supplier: @supplier, url: admin_suppliers_update_profile_path %>
          </div>
          <div class="tab-pane " id="m_user_profile_tab_2">
            <%= render '/shared/avatar', user: current_user, url: admin_suppliers_update_avatar_path(current_user[:id]) %>
          </div>
          <div class="tab-pane " id="m_user_profile_tab_3">
            <%= render 'upload_logo', supplier: @supplier, url: admin_suppliers_update_logo_path(@supplier[:id]) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
