<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          My List Terms &amp; Conditions
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a href="<%= admin_suppliers_new_terms_and_condition_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
            <span>
              <i class="la la-plus"></i>
              <span>Add New Terms &amp; Conditions</span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable--brand text-center" id="terms_and_condition_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="Market Segment">Market Segment</th>
          <th title="Trading Terms">Trading Terms</th>
          <th title="Acitve">Active</th>
          <th title="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @supplier.supplier_terms_conditions.each_with_index do |terms_and_condition, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <%=
                terms_and_condition.is_all_market == true ?
                "All" : terms_and_condition.market_segments.map{|ms| ms.name }.to_sentence
              %>
            </td>
            <td>
              <%=
                terms_and_condition.is_all_trading_terms_settings ? "All"
                : TradingTermsSetting.where(id: terms_and_condition.trading_terms_setting_id).first.trading_term
              %>
            </td>
            <td>
              <% if terms_and_condition[:active] %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-check"></i>
                </span>
              <% else %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-remove"></i>
                </span>
              <% end %>
            </td>
            <td>
              <a href="<%= admin_suppliers_edit_terms_and_condition_path(terms_and_condition.id)%>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                title="Edit details">
                <i class="la la-edit"></i>
              </a>
              <% if terms_and_condition.is_deletable? %>
              <a href="<%= admin_suppliers_destroy_terms_and_condition_path(terms_and_condition.id) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                <i class="la la-trash"></i>
              </a>
              <% end %>
            </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
