<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          New Terms &amp; Conditions
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <%= render 'form_term_and_condition', supplier_terms_condition: @supplier_terms_condition, url: admin_suppliers_create_terms_and_condition_path, trading_terms_settings: @trading_terms_settings %>
  </div>
</div>
