<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-users"></i>
        </span>
        <h3 class="m-portlet__head-text">
          List of Supplier Users
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a href="<%= admin_suppliers_new_supplier_user_path %>" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air">
            <span>
              <i class="la la-plus"></i>
              <span>Add New Supplier User</span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <table class="m-datatable text-center" id="supplier_user_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="First Name">First Name</th>
          <th title="Last Name">Last Name</th>
          <th title="Email">Email</th>
          <th title="Role">Role</th>
          <th title="Active">Active</th>
          <th title="Actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @supplier_users.each_with_index do |supplier_user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= supplier_user[:firstname] %></td>
            <td><%= supplier_user[:lastname] %></td>
            <td><%= supplier_user[:email] %></td>
            <td><%= supplier_user[:role]%></td>
            <td>
              <% if supplier_user[:active] %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-check"></i>
                </span>
              <% else %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-remove"></i>
                </span>
              <% end %>
            </td>
            <td>
              <% if supplier_user[:id] != @parent_id %>
                <a href="<%= admin_suppliers_edit_supplier_user_path(supplier_user[:id]) %>"
                  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                  title="Edit details">
                  <i class="la la-edit"></i>
                </a>
                <a href="<%= admin_suppliers_destroy_supplier_user_path(supplier_user[:id]) %>"
                  class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                  title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                  <i class="la la-trash"></i>
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
