.m-brand .m-brand__logo .m-brand__logo-wrapper img {
  height: 50px;
}

.alert.m-alert--icon .m-alert__text ul {
  margin: 0;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__progress .progress .progress-bar {
  background-color: #ecaa90;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info a.m-wizard__step-number > span {
  background-color: #ffc9b4;
}

.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info a.m-wizard__step-number:hover > span {
  background-color: #de997e;
}

.alert:empty {
  display: none;
}

.m-login.m-login--2.m-login--signin .m-login__forget-password {
  display: block;
}
