<p><span class="m--font-bolder">First Name:</span> <%= venue_user[:firstname] %></p>
<p><span class="m--font-bolder">Middle Name:</span>
  <%= venue_user[:middlename] if venue_user.user.is_director? %>
</p>
<p><span class="m--font-bolder">Last Name:</span> <%= venue_user[:lastname] %></p>
<p><span class="m--font-bolder">Mobile Number:</span> <%= venue_user[:mobile] %></p>
<p><span class="m--font-bolder">Home Phone:</span> <%= venue_user[:phone] %></p>
<p><span class="m--font-bolder">Email:</span> <%= venue_user[:email] %></p>
<!-- Postal address -->
<hr />
<h6 class="m--font-brand">Address</h6>
<hr />
<p><span class="m--font-bolder">Building/Property Name:</span> <%= venue_user[:property_name] %></p>
<p><span class="m--font-bolder">Unit Number:</span> <%= venue_user[:unit_number] %></p>
<p><span class="m--font-bolder">Street Number:</span> <%= venue_user[:street_number] %></p>
<p><span class="m--font-bolder">Street Name:</span> <%= venue_user[:street_name] %></p>
<p><span class="m--font-bolder">Street Type:</span> <%= venue_user[:street_type] %></p>
<p><span class="m--font-bolder">Suburb:</span> <%= venue_user[:suburb] %></p>
<p><span class="m--font-bolder">State:</span> <%= venue_user[:state] %></p>
<p><span class="m--font-bolder">Postcode:</span> <%= venue_user[:postcode] %></p>
<p><span class="m--font-bolder">Date of Birth:</span> <%= pretty_format_date(venue_user[:date_of_birth], '%d-%m-%Y') %></p>
<p><span class="m--font-bolder">Driver's License:</span> <%= venue_user[:drivers_license_number] %></p>
<p><span class="m--font-bolder">License Expiry:</span> <%= pretty_format_date(venue_user[:license_expiry], '%d-%m-%Y') %></p>
<p><span class="m--font-bolder">Has been bankrupt:</span> <%= venue_user[:has_been_bankrupt] ? "Yes" : "No" %></p>