<p><span class="m--font-bolder">First Name:</span> <%= venue_user[:firstname] %></p>
<p><span class="m--font-bolder">Middle Name:</span>
  <%= venue_user[:middlename] if venue_user.user.is_director? %>
</p>
<p><span class="m--font-bolder">Last Name:</span> <%= venue_user[:lastname] %></p>
<p><span class="m--font-bolder">Mobile Number:</span> <%= venue_user[:mobile] %></p>
<p><span class="m--font-bolder">Home Phone:</span> <%= venue_user[:phone] %></p>
<p><span class="m--font-bolder">Email:</span> <%= venue_user[:email] %></p>
<!-- Home address -->
<hr />
<h6 class="m--font-brand">Home address</h6>
<hr />
<p><span class="m--font-bolder">Building/Property Name:</span> <%= venue_user[:home_property_name] %></p>
<p><span class="m--font-bolder">Unit Number:</span> <%= venue_user[:home_unit_number] %></p>
<p><span class="m--font-bolder">Street Number:</span> <%= venue_user[:home_street_number] %></p>
<p><span class="m--font-bolder">Street Name:</span> <%= venue_user[:home_street_name] %></p>
<p><span class="m--font-bolder">Street Type:</span> <%= venue_user[:home_street_type] %></p>
<p><span class="m--font-bolder">Suburb:</span> <%= venue_user[:home_suburb] %></p>
<p><span class="m--font-bolder">State:</span> <%= venue_user[:home_state] %></p>
<p><span class="m--font-bolder">Postcode:</span> <%= venue_user[:home_postcode] %></p>
<!-- Postal address -->
<hr />
<h6 class="m--font-brand">Postal address</h6>
<hr />
<p><span class="m--font-bolder">Building/Property Name:</span> <%= venue_user[:home_property_name] %></p>
<p><span class="m--font-bolder">Unit Number:</span> <%= venue_user[:home_unit_number] %></p>
<p><span class="m--font-bolder">Street Number:</span> <%= venue_user[:home_street_number] %></p>
<p><span class="m--font-bolder">Street Name:</span> <%= venue_user[:home_street_name] %></p>
<p><span class="m--font-bolder">Street Type:</span> <%= venue_user[:home_street_type] %></p>
<p><span class="m--font-bolder">Suburb:</span> <%= venue_user[:home_suburb] %></p>
<p><span class="m--font-bolder">State:</span> <%= venue_user[:home_state] %></p>
<p><span class="m--font-bolder">Postcode:</span> <%= venue_user[:home_postcode] %></p>
