<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-users"></i>
        </span>
        <h3 class="m-portlet__head-text">
          List of Venue Users
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-form__group m-form__group--inline">
                <div class="m-form__label">
                  <label class="m-label m-label--single">
                    Role:
                  </label>
                </div>
                <div class="m-form__control">
                  <select class="form-control m-bootstrap-select" id="m_list_role_venue_user">
                    <option value="">
                      All
                    </option>
                    <option value="Both">
                      Both
                    </option>
                    <option value="Director">
                      Director
                    </option>
                    <option value="Personal Guarantee">
                      Personal Guarantee
                    </option>
                  </select>
                </div>

              </div>
              <div class="d-md-none m--margin-bottom-10"></div>
            </div>
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="m-datatable text-center" id="venue_users_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <th title="First Name">First Name</th>
          <th title="Last Name">Last Name</th>
          <th title="Mobile">Mobile</th>
          <th title="Email">Email</th>
          <th title="Role">Role</th>
          <th title="Active">Active</th>
          <th title="Number of Venues">Number of Venues</th>
          <th title="View Venue User">View</th>
        </tr>
      </thead>
      <tbody>
        <% @venue_users.each_with_index do |venue_user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= venue_user[:firstname] %></td>
            <td><%= venue_user[:lastname] %></td>
            <td><%= venue_user[:mobile] %></td>
            <td><%= venue_user[:email] %></td>
            <td>
              <% if venue_user.user.is_director? && venue_user.user.is_personal_guarantee? %>
                <%= "Both" %>
              <% elsif venue_user.user.is_director? %>
                <%= "Director" %>
              <% elsif venue_user.user.is_personal_guarantee? %>
                <%= "Personal Guarantee" %>
              <% end %>
            </td>
            <td>
              <% if venue_user.user[:active] %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-check"></i>
                </span>
              <% else %>
                <span class="m-portlet__head-icon">
                  <i class="fa fa-remove"></i>
                </span>
              <% end %>
            </td>
            <td><%= @venue_user_forms_quantity[venue_user[:email]] %></td>
            <td>
              <a href="<%= admin_show_venue_user_path(venue_user[:id]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View Venue User">
                <i class="la flaticon-file-1"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
