<div class='m-portlet m-portlet--mobile'>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-user"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Venue User Information
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <% if @venue_user.user.is_director? %>
      <%= render 'director_details', venue_user: @venue_user %>
    <% elsif @venue_user.user.is_personal_guarantee? %>
      <%= render 'pg_details', venue_user: @venue_user %>
    <% end %>
  </div>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-folder-2"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Venue Details
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <table class="m-datatable text-center" id="venue_user_venue_details_table" width="100%">
      <thead>
        <tr>
          <th title="No">#</th>
          <!-- Venue Application Form information -->
          <th title="Trading Name">Trading Name</th>
          <th title="Company Name">Company Name</th>
          <th title="ABN">ABN</th>
          <th title="Trading Address">Trading Address</th>
          <th title="Director Signed">Director Signed</th>
          <th title="Venue Active">Active</th>
          <!-- Apply for Credit information -->
          <th title="Supplier">Supplier</th>
          <th title="Trading Term">Trading Term</th>
          <th title="Personal Guarantee Signed">Personal Guarantee Signed</th>
          <th title="Apply Supplier Credit Form Created By">Created By</th>
          <th title="Apply Supplier Credit Form Created At">Created At</th>
          <th title="Apply Supplier Credit Form Status">Status</th>
          <!-- Actions on Venue Application Form -->
          <th title="Actions">Actions</title>
        </tr>
      </thead>
      <tbody>
        <% @venue_user_venue_forms.each_with_index do |venue_form, v_index| %>
          <% apply_supplier_credit_forms = venue_form.apply_supplier_credit_forms.includes(:supplier, :trading_terms_setting, :created_by) %>

          <% if apply_supplier_credit_forms.blank? %>
            <tr>
              <td><%= v_index + 1 %></td>
              <!-- Venue Application Form information -->
              <td><%= venue_form[:trading_name] %></td>
              <td><%= "#{venue_form[:trading_name]} #{venue_form[:operating_structure]}" %></td>
              <td><%= venue_form[:company_abn] %></td>
              <td>
                <%= "#{venue_form[:trading_street_number]} #{venue_form[:trading_street_name]}
                  #{venue_form[:trading_street_type]} #{venue_form[:trading_suburb]}
                  #{venue_form[:trading_state]}" %>
              </td>
              <td>
                <% if venue_form.is_signed_by_user(@venue_user.user) %>
                  <%= "Yes" %>
                <% elsif !venue_form.is_signed_by_user(@venue_user.user) %>
                  <%= "No" %>
                <% else %>
                  <%= "N/A" %>
                <% end %>
              </td>
              <td>
                <% if venue_form[:active] %>
                  <span class="m-portlet__head-icon">
                    <i class="fa fa-check"></i>
                  </span>
                <% else %>
                  <span class="m-portlet__head-icon">
                    <i class="fa fa-remove"></i>
                  </span>
                <% end %>
              </td>
              <!-- Apply for Credit information -->
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <!-- Actions on Venue Application Form -->
              <td>
                <a href="<%= venue_form.get_review_url %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Review">
                  <i class="la flaticon-file-1"></i>
                </a>
                <% if current_user.is_admin? %>
                  <a href="<%= venue_application_form_venue_form_token_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                    <i class="la la-edit"></i>
                  </a>
                  <a href="<%= venue_application_form_destroy_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                    title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                    <i class="la la-trash"></i>
                  </a>
                <% end %>
              </td>
            </tr>
          <% else %>
            <% apply_supplier_credit_forms.each_with_index do |apply_credit_form, a_index| %>
              <tr>
                <td><%= (v_index + 1) * (a_index + 1) %></td>
                <!-- Venue Application Form information -->
                <td><%= venue_form[:trading_name] %></td>
                <td><%= "#{venue_form[:trading_name]} #{venue_form[:operating_structure]}" %></td>
                <td><%= venue_form[:company_abn] %></td>
                <td>
                  <%= "#{venue_form[:trading_street_number]} #{venue_form[:trading_street_name]}
                    #{venue_form[:trading_street_type]} #{venue_form[:trading_suburb]}
                    #{venue_form[:trading_state]}" %>
                </td>
                <td>
                  <% if venue_form.is_signed_by_user(@venue_user.user) %>
                    <%= "Yes" %>
                  <% elsif !venue_form.is_signed_by_user(@venue_user.user) %>
                    <%= "No" %>
                  <% else %>
                    <%= "N/A" %>
                  <% end %>
                </td>
                <td>
                  <% if venue_form[:active] %>
                    <span class="m-portlet__head-icon">
                      <i class="fa fa-check"></i>
                    </span>
                  <% else %>
                    <span class="m-portlet__head-icon">
                      <i class="fa fa-remove"></i>
                    </span>
                  <% end %>
                </td>
                <!-- Apply for Credit information -->
                <td><%= apply_credit_form.supplier[:company_name] %></td>
                <td><%= apply_credit_form.trading_terms_setting[:trading_term] %></td>
                <td>
                  <% if apply_credit_form.is_signed_by_user(@venue_user.user) %>
                    <%= "Yes" %>
                  <% elsif !apply_credit_form.is_signed_by_user(@venue_user.user) %>
                    <%= "No" %>
                  <% else %>
                    <%= "N/A" %>
                  <% end %>
                </td>
                <td><%= apply_credit_form.created_by[:email] %></td>
                <td><%= pretty_format_date(apply_credit_form[:created_at], '%d-%m-%Y %H:%M:%S') %></td>
                <td><%= apply_credit_form[:status] %></td>
                <!-- Actions on Venue Application Form -->
                <td>
                  <a href="<%= venue_form.get_review_url %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Review">
                    <i class="la flaticon-file-1"></i>
                  </a>
                  <% if current_user.is_admin? %>
                    <a href="<%= venue_application_form_venue_form_token_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                      <i class="la la-edit"></i>
                    </a>
                    <a href="<%= venue_application_form_destroy_path(venue_form[:save_token]) %>" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                      title="Delete" action="destroy" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
                      <i class="la la-trash"></i>
                    </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
