<% if flash.present? %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% else %>
  <div id="m_form_alert_msg" class="alert m--hide" role="alert"></div>
<% end %>
