<!-- Footer -->
<footer id="home-footer" class="container-fluid full-width home-bg-color">
  <div class="d-flex flex-column flex-md-row align-items-center text-18 home-text-color home-nav-padding-lr home-footer-padding-tb">
    <div class="my-0 mr-md-auto">
      <div class="site-info">
          <span class="home-link-color">Copyright <%= Time.now.year %> by Pencil.One.</span>
      </div>
    </div>
    <nav id="home-bottom-nav" class="my-2 my-md-0">
      <%= link_to "Terms of Use", terms_of_use_path, class: 'home-link home-link-color' %>
      <%= link_to "Privacy", privacy_path, class: 'home-link home-link-color' %>
      <%= link_to "FAQs", faq_path, class: 'home-link home-link-color' %>
    </nav>
  </div>
    <div class="home-wrapper">
      <a href="#" id="go-top" class="home-invisible">
        <%= fa_icon "angle-up" %>
      </a>
    </div>
</footer>
<!-- End footer -->