<!-- Sticky navigation with id = sticky-nav will be sticky -->
<div id="sticky-nav" class="container-fluid full-width home-invisible">
  <div class="m-grid__item m-header"  data-minimize-offset="200" data-minimize-mobile-offset="200" >
    <div class="m-container m-container--fluid m-container--full-height">
      <div class="m-stack m-stack--ver m-stack--desktop text-18 home-text-color">
        <!-- BEGIN: Brand -->
        <div class="m-stack__item m-brand home-bg-color home-nav-padding-lr">
          <div class="m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a href="/" class="m-brand__logo-wrapper">
                <img alt="" src="<%= asset_path('pencil-logo-white.png') %>"/>
              </a>
            </div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <!-- BEGIN: Topbar Toggler -->
              <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block text-white">
                <i class="fa fa-align-justify"></i>
              </a>
              <!-- BEGIN: Topbar Toggler -->
            </div>
          </div>
        </div>
        <!-- END: Brand -->
        <div class="m-stack__item m-stack__item--fluid m-header-head home-bg-color box-shadow-none" id="m_header_nav">
          <!-- BEGIN: Topbar -->
          <div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general sticky-nav-topbar">
            <div class="m-stack__item m-topbar__nav-wrapper d-flex flex-md-row align-items-center home-nav-padding-lr justify-content-toggle-sticky-nav">
              <% if user_signed_in? %>
                <%= link_to('My Account', admin_admin_index_path, method: :get, class: 'home-link-color text-uppercase') %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'home-link home-link-color text-uppercase') %>
              <% else %>
                <%= link_to('Login', new_user_session_path, method: :get, class: 'home-link-color text-uppercase') %>
              <% end %>
              <%= link_to "GET STARTED", venue_application_form_venue_form_path, class: 'home-link home-link-color text-uppercase' %>
              <%= link_to "FAQs", faq_path, class: 'home-link home-link-color' %>
            </div>
          </div>
          <!-- END: Topbar -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End sticky navigation -->
