<!-- Top navigation -->
<div id="home-top-nav" class="container-fluid full-width">
  <div class="d-flex flex-column flex-md-row align-items-center white-bg text-18 home-text-color home-nav-padding-lr home-nav-padding-tb">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a class="logo" href="/">
        <img src="<%= asset_path('pencil-logo.png') %>" alt="logo" class="top-nav-logo" />
      </a>
    </h5>
    <nav class="my-2 my-md-0">
      <% if user_signed_in? %>
        <%= link_to('My Account', admin_admin_index_path, method: :get, class: 'home-link home-link-color text-uppercase') %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'home-link home-link-color text-uppercase') %>
      <% else %>
        <%= link_to('Login', new_user_session_path, method: :get, class: 'home-link home-link-color text-uppercase') %>
      <% end %>
      <%= link_to "GET STARTED", venue_application_form_venue_form_path, class: 'home-link home-link-color text-uppercase' %>
      <%= link_to "FAQs", faq_path, class: 'home-link home-link-color' %>
    </nav>
  </div>
</div>
<!-- End top navigation -->