<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Pencil Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= $current_page %></title>
    <%= csrf_meta_tags %>

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
          sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->

    <!-- Google Analytics -->
    <%= render 'shared/google_analytic_tracking' %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
      <!-- BEGIN: Header -->
      <header class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
        <div class="m-container m-container--fluid m-container--full-height">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
              <div class="m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a href="<%= admin_admin_index_path %>" class="m-brand__logo-wrapper">
                    <img alt="" src="<%= asset_path('pencil-logo.png') %>"/>
                  </a>
                </div>
                <div class="m-stack__item m-stack__item--middle m-brand__tools">
                  <!-- BEGIN: Left Aside Minimize Toggle -->
                  <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                    <span></span>
                  </a>
                  <!-- END -->
                  <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                  <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                    <span></span>
                  </a>
                  <!-- END -->
                  <!-- BEGIN: Responsive Header Menu Toggler -->
                  <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                    <span></span>
                  </a>
                  <!-- END -->
                  <!-- BEGIN: Topbar Toggler -->
                  <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                    <i class="flaticon-more"></i>
                  </a>
                  <!-- BEGIN: Topbar Toggler -->
                </div>
              </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
              <!-- BEGIN: Topbar -->
              <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-topbar__nav-wrapper">
                  <ul class="m-topbar__nav m-nav m-nav--inline">
                    <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light  m-list-search m-list-search--skin-light" data-dropdown-toggle="click" data-dropdown-persistent="true" id="m_quicksearch" data-search-type="dropdown">
                      <a href="#" class="m-nav__link m-dropdown__toggle">
                        <span class="m-nav__link-icon">
                          <i class="flaticon-search-1"></i>
                        </span>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                        <div class="m-dropdown__inner ">
                          <div class="m-dropdown__header">
                            <form  class="m-list-search__form">
                              <div class="m-list-search__form-wrapper">
                                <span class="m-list-search__form-input-wrapper">
                                  <input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="Search...">
                                </span>
                                <span class="m-list-search__form-icon-close" id="m_quicksearch_close">
                                  <i class="la la-remove"></i>
                                </span>
                              </div>
                            </form>
                          </div>
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__scrollable m-scrollable" data-max-height="300" data-mobile-max-height="200">
                              <div class="m-dropdown__content"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center  m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
                      <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                        <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                        <span class="m-nav__link-icon">
                          <i class="flaticon-music-2"></i>
                        </span>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                        <div class="m-dropdown__inner">
                          <div class="m-dropdown__header m--align-center" style="background: url(<%= asset_path('notification_bg.jpg') %>); background-size: cover;">
                            <span class="m-dropdown__header-title">
                              9 New
                            </span>
                            <span class="m-dropdown__header-subtitle">
                              User Notifications
                            </span>
                          </div>
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                    Alerts
                                  </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
                                    Events
                                  </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
                                    Logs
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                      <a href="#" class="m-nav__link m-dropdown__toggle">
                        <span class="m-topbar__userpic">
                          <img src="<%= current_user.default_avatar %>" class="m--img-rounded m--marginless m--img-centered" alt=""/>
                        </span>
                        <span class="m-topbar__username m--hide">
                          username
                        </span>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                          <div class="m-dropdown__header m--align-center" style="background: url(<%= asset_path('user_profile_bg.jpg') %>); background-size: cover;">
                            <div class="m-card-user m-card-user--skin-dark">
                              <div class="m-card-user__pic">
                                <img src="<%= current_user.default_avatar %>" class="m--img-rounded m--marginless" alt=""/>
                              </div>
                              <div class="m-card-user__details">
                                <span class="m-card-user__name m--font-weight-500">
                                  <%= current_user[:name]%>
                                </span>
                                <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                  <%= current_user[:email] %>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <ul class="m-nav m-nav--skin-light">
                                <li class="m-nav__section m--hide">
                                  <span class="m-nav__section-text">
                                    Section
                                  </span>
                                </li>
                                <!--<li class="m-nav__item">
                                  <a href="<%= (current_user.role == 'SUPPLIER')? admin_suppliers_my_profile_path : '#'  %>" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                                    <span class="m-nav__link-title">
                                      <span class="m-nav__link-wrap">
                                        <span class="m-nav__link-text">
                                          My Profile
                                        </span>
                                      </span>
                                    </span>
                                  </a>
                                </li> -->
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                <li class="m-nav__item">
                                  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder') %>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- END: Topbar -->
            </div>
          </div>
        </div>
      </header>
      <!-- END: Header -->
      <!-- begin::Body -->
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
          <i class="la la-close"></i>
        </button>
        <div id="m_aside_left" class="m-grid__item  m-aside-left  m-aside-left--skin-dark ">
          <!-- BEGIN: Aside Menu -->
          <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
            data-menu-vertical="true"
             data-menu-scrollable="false" data-menu-dropdown-timeout="500"
            >
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
              <li class="m-menu__item  <%= (admin_admin_index_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true" >
                <a href="<%= admin_admin_index_path %>" class="m-menu__link ">
                  <i class="m-menu__link-icon flaticon-line-graph"></i>
                  <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                        Dashboard
                      </span>
                    </span>
                  </span>
                </a>
              </li>
              <% if current_user.is_admin? %>
                <li class="m-menu__section">
                  <h4 class="m-menu__section-text">
                    Admin Management
                  </h4>
                  <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_admin_user_profile_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_admin_user_profile_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-profile-1"></i>
                    <span class="m-menu__link-text">
                      My Profile
                  </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_users_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_users_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                      Users
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_venue_details_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_venue_details_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-list-3"></i>
                    <span class="m-menu__link-text">
                      Venues
                    </span>
                  </a>
                </li>
                 <li class="m-menu__item  m-menu__item--submenu <%= (admin_venue_users_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_venue_users_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                      Venue Users
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu  <%= (admin_email_templates_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_email_templates_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">
                      Email Templates
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (request.fullpath.include?('admin/suppliers')) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_suppliers_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-business"></i>
                    <span class="m-menu__link-text">
                      Suppliers
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu  <%= (admin_market_segments_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_market_segments_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-interface-7"></i>
                    <span class="m-menu__link-text">
                      Market Segments
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu  <%= (admin_pencil_terms_conditions_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_pencil_terms_conditions_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-notes"></i>
                    <span class="m-menu__link-text">
                      Pencil Venue T &amp; Cs
                    </span>
                  </a>
                </li>
              <% end %>
              <% if current_user.is_supplier? %>
                <li class="m-menu__section">
                  <h4 class="m-menu__section-text">
                    Supplier Management
                  </h4>
                  <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_suppliers_my_profile_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_suppliers_my_profile_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-profile-1"></i>
                    <span class="m-menu__link-text">
                      My Profile
                  </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_venue_details_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_venue_details_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-list-3"></i>
                    <span class="m-menu__link-text">
                      Venues
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_trading_terms_settings_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_trading_terms_settings_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-settings-1"></i>
                    <span class="m-menu__link-text">
                      Trading Terms Settings
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_suppliers_my_terms_and_conditions_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_suppliers_my_terms_and_conditions_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-notes"></i>
                    <span class="m-menu__link-text">
                      My Terms &#38; Condtions
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu  <%= (admin_credit_limits_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_credit_limits_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-coins"></i>
                    <span class="m-menu__link-text">
                      Credit Limits
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_suppliers_supplier_users_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_suppliers_supplier_users_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                      Supplier Users
                  </span>
                  </a>
                </li>
              <% end %>

              <% if current_user.is_director? || current_user.is_personal_guarantee? %>
                <li class="m-menu__section">
                  <h4 class="m-menu__section-text">
                    <% if current_user.is_director? %>
                      Director Management
                    <% else %>
                      Personal Guarantee Management
                    <% end %>
                  </h4>
                  <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_admin_user_profile_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_admin_user_profile_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-profile-1"></i>
                    <span class="m-menu__link-text">
                      My Profile
                  </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_venue_details_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_venue_details_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-list-3"></i>
                    <span class="m-menu__link-text">
                      Venues
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_venue_suppliers_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_venue_suppliers_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-business"></i>
                    <span class="m-menu__link-text">
                      Suppliers
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu <%= (admin_venue_users_path == request.fullpath) ? "m-menu__item--active" : " " %>" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a href="<%= admin_venue_users_path %>" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                      Venue Users
                    </span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- END: Aside Menu -->
        </div>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <div class="m-subheader ">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title ">
                  <%= $subheader_title %>
                </h3>
              </div>
            </div>
          </div>
          <!-- END: Subheader -->
          <div class="m-content">
            <%= render partial: 'layouts/flash' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <!-- end:: Body -->
      <!-- begin::Footer -->
      <footer class="m-grid__item   m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
          <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
              <span class="m-footer__copyright">
                <%= Time.now.year %> &copy; by
                <a href="<%= admin_admin_index_path %>" class="m-link">
                  Pencil
                </a>
              </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
              <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                <li class="m-nav__item m-nav__item">
                  <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
      <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
  </body>
</html>
