<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Pencil One">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= $current_page %></title>
    <%= csrf_meta_tags %>

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700","Montserrat:300italic,400italic,500italic,600italic,700italic,800italic,400,300,500,600,700,800"]},
        active: function() {
          sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->

    <!-- Google Analytics -->
    <%= render 'shared/google_analytic_tracking' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default white-bg">
    <div class="container-fluid full-width">
      <!-- Top navigation -->
      <%= render partial: 'layouts/top_navigation' %>
      <!-- End top navigation -->

      <!-- Sticky navigation with id = sticky-nav will be sticky -->
      <%= render partial: 'layouts/sticky_navigation' %>
      <!-- End sticky navigation -->
    </div>

      <!-- Main content container -->
    <div class="container-fluid full-width">
      <%= yield %>
    </div>
    <!-- End main content container -->

    <!-- Footer -->
    <%= render partial: 'layouts/footer' %>
    <!-- End footer -->
  </body>
</html>
