<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Pencil Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= $current_page %></title>
    <%= csrf_meta_tags %>

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
          sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->

    <!-- Google Analytics -->
    <%= render 'shared/google_analytic_tracking' %>

    <%= stylesheet_link_tag    'blank', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blank', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= yield %>
</html>
