
<div style='width: 630px; background-color: white; padding-left:15px; padding-right:15px; padding-bottom:20px; padding-top:10px; border-top: 1px solid #EFEAE9; border-left: 1px solid #EFEAE9; border-right: 1px solid #EFEAE9;'>
  <div style='width: 100%; height:55px'>
    <table  style='width: 630px'>
      <tr>
        <td width='20%'>
          <a href='<%= root_url %>' style='text-decoration:none;'>
            <img src='<%= asset_path('pencil-logo.png') %>' height='41' alt='Pencil'>
          </a>
        </td>
        <td width='46%'>
        </td>
        <td width='9%'>
          <a href='<%= new_user_session_url %>' style='text-decoration:none; color: #212529;'>LOGIN</a>
        </td>
        <td width='18%'>
          <a href='<%= venue_application_form_venue_form_url %>' style='text-decoration:none; color: #212529;'>GET STARTED</a>
        </td>
        <td width='7%'>
          <a href='<%= faq_url %>' style='text-decoration:none; color: #212529;'>FAQs</a>
        </td>
      <tr>
    </table>
  </div>
  <div style='padding: 4px; border: 1px solid #EFEAE9;'>
    <div style='background-color: #938E90; height: 500px; padding-top:15px'>
      <div style='margin:auto; height: 470px; width: 70%; background-color: white; padding-top:20px; padding-left:20px; padding-right:20px'>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<div style='width: 630px; background-color: #ecaa90; height:61px; padding-top:34px; padding-left:15px; padding-right:15px; border: 1px solid #EFEAE9;'>
  <table  style='width: 630px'>
    <tr>
      <td width='40%'>
        Copyright 2018 by Pencil.One.
      </td>
      <td width='26%'>
      </td>
      <td width='17%'>
        <a href='<%= terms_of_use_url %>' style='text-decoration:none; color: #212529;'>Terms of Use</a>
      </td>
      <td width='10%'>
        <a href='<%= privacy_url %>' style='text-decoration:none; color: #212529;'>Privacy</a>
      </td>
      <td width='7%'>
        <a href='<%= faq_url%>' style='text-decoration:none; color: #212529;'>FAQs</a>
      </td>
    <tr>
  </table>
</div>
