<!DOCTYPE html>
<html>
  <head>
  <title>PDF</title>
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
  </head>

  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
